/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
list-style-type: none;
border-bottom: 1px solid gray;
background: #41433E;
overflow: hidden;
width: 100%;
/*border: solid 1px #FFFF00;*/
/*margin-left:40px;*/
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*padding inside each tab*/
border-left: 1px solid #015581;  /*right divider between tabs*/
border-right: 1px solid #FFF; /*left divider between tabs*/
color: #ffffff;
background: #41433E;
}

.mattblackmenu li a:visited{
color: #CCCCCC;
}

.mattblackmenu li a:hover{
background: #41433E;
color:#FFFFFF; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background: #333333;
color:#FFFFFF; /*background of tab with "selected" class assigned to its LI */
}