@charset "utf-8";
/* CSS Document */

form{margin:0; padding:0;}
.contactForm
	{float:left;width:350px;border:solid 1px #ddd; background:#f2f2f2; padding:5px;}
.contactForm div
	{
	 background:#fff; border:solid 1px #ddd; padding:5px;
	 float:left;width:337px;
	}
.contactForm h4{padding-bottom:10px; display:block; text-align:center;}	
.contactForm p
	{margin:0; padding:0 0 5px 0; float:left; width:350px;}
.contactForm p label
	{float:left; width:100px; font-weight:bold;color:#064e97;}
.contactForm p input[type=text]	
	{
	background:#fff; border:solid 1px #ddd; width:200px;
	padding:3px;
	}
.contactForm p input[type=reset], .contactForm p input[type=submit]
	{background:#fff; border:solid 1px #ddd;}