@charset "utf-8";
/* CSS Document */
img{border:none; outline:none;}
a{outline:none;}
h1, h2, h3, h4
	{margin:0; padding:0;}
h4{font-size:13px; color:#064e97; font-weight:bold;}
.clear{clear:both;}
.gap{clear:both; height:20px;}
.fl{float:left; width:auto;}
.fr{float:right; width:auto;}
.w100{width:100px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w250{width:350px;}
.w400{width:400px;}
.w490{width:490px;}
.mR{margin-right:10px;}
.mL{margin-left:10px;}
p{margin:0; padding:0 0 10px 0;}
#header h1{padding-top:18px;}
#header h1, #header h1 a
	{
	float:right; width:318px; height:81px;
	}
#header h1 a
	{display:block; background:url(../images/logo.png) no-repeat;} 
#header h1 a span{display:none;}	

.slogan
	{float:left; width:350px; color:#0e27a8; padding-top:10px; text-transform:uppercase;}
.slogan span{font-size:17px; color:#000;}

.slideShowOuter
	{
		float:left;
		width:711px; height:321px;
		background:#fff url(../images/back_slide.png) no-repeat;
		padding:1px 0 0 1px;
		position:relative;
	}
.slideContent
	{
		width:706px; height:319px; overflow:hidden;
	}
	
.slideContent h2{font-size:30px; color:#0e27a8; padding:40px 0 0 30px; display:block;}
.slideContent p{margin:0; padding:0; width:325px;color:#000;padding:0 0 0 30px; text-align:left !important; line-height:25px !important;}
.slideContent.one{background:url(../images/slide1.png) no-repeat;}
.slideContent.two{background:url(../images/slide2.png) no-repeat;}
.slideContent.three{background:url(../images/slide3.png) no-repeat;}
.slideContent.four{background:url(../images/slide4.png) no-repeat;}


.testimonials
	{float:left; width:238px;}
.testimonials h2{font-size:17px;}	
.testimonials p
	{margin:0; padding:5px; background:#f2f2f2; border:solid 1px #ddd;}
.testimonials p span.top
	{background:url(../images/qoute.png) no-repeat; padding:0 0 3px 25px; display:inline-block;}
.testimonials p span.bottom
	{background:url(../images/qoute2.png) no-repeat; padding:0 0 3px 25px; display:inline-block;}	
.testimonials span{display:block; text-align:right; font-style:italic; padding-top:5px;}	

.wealth, .banking
	{display:block; width:324px;}
.banking
	{background:url(../images/divider.png) repeat-y  0 0; padding-left:40px;}
.copy{padding-top:10px;}

.messageBox
	{display:block;}
.messageBox img, .otherBox img{border:solid 1px #ddd; padding:3px; background:#fff;}
.messageBox p{float:right; width:498px; background:#f2f2f2;margin:0; padding:5px; border:solid 1px #ddd; margin-bottom:10px;} 
.otherBox p{background:#f2f2f2;margin:0; padding:5px; border:solid 1px #ddd; float:right; width:450px;} 

.imgBorder{border:solid 1px #ddd; padding:3px; background:#fff;}

h2.heading{background:url(../images/border.png) no-repeat left bottom; display:block; padding-bottom:10px; margin-bottom:10px;}
#mainCol p{text-align:justify;}
/*8Testimonial page Setting*/
ul.testimonialList
	{ margin:0; padding:0; list-style:none;}
ul.testimonialList li
	{display:block; margin-bottom:10px;}
ul.testimonialList li p
	{margin:0; padding:5px;}
ul.testimonialList li div.author{display:block;background:#fff; padding:5px; text-align:right;font-style:italic;border-bottom:solid 1px #eee;}

ul.gallery
	{margin:0; padding:0; list-style:none;}
ul.gallery li{float:left; width:220px;margin:5px;}
ul.gallery li a{display:block; float:left;width:200px; height:145px; padding:3px; border:solid 3px #0690d7;}
ul.gallery li a:hover{border:solid 3px #000;}
ul.gallery li img{width:198px; height:143px; float:left; border:solid 1px #94dafe;display:block;}
ul.gallery li p{margin:0; padding:0; text-align:left !important; width:207px; background:#f2f2f2; clear:left; padding:2px;}

table.tbl
	{background:#ddd; margin-top:10px;}
table.tbl thead tr{vertical-align:top; font-weight:bold; background:#f2f2f2;}	
table.tbl tbody tr td{background:#fff;}	

/*------accordion setting-----------*/
.accordion {display:block;}
.accordion div{border:solid 1px #ddd; padding:5px; margin-top:5px; display:block;}
.accordion div p{margin:0;}
.accordion h3	{ display:block;cursor:pointer; padding:3px; border-top:solid 0px #ddd; border-bottom:solid 1px #eee;color:#064e97; font:bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.accordion h3:hover		{display:block; background:#eee;}
.accordion h3.selected	{ display:block;background:#f2f2f2;}	 
.accordion div a{display:inline-block !important; padding:0 !important;border:none !important; font-weight:normal!important;}	

/*------Press Release-----------*/
ul.pressRelease
	{margin:0; padding:0; list-style:none;}
ul.pressRelease li
	{display:block; margin-bottom:10px; float:left; margin:5px; width:200px;text-align:center; border:solid 1px #ddd; padding:5px; height:250px;}
ul.pressRelease li img{width:192px; height:178px; padding:3px; border:solid 1px #eee;}
ul.pressRelease li p{display:block; text-align:center !important; margin:0; padding:0 0 5px 0; font-weight:bold;}
ul.pressRelease li span{display:inline-block;}
ul.pressRelease li span.date{float:left;}
ul.pressRelease li span.download{float:right !important;}
.contactQute
	{background:#3a4f78; color:#fff; padding:5px; width:310px; padding-top:50px; height:180px;} 
.contactQute h2{color:#fff; text-align:center;}
.mBox{float:right; width:280px; background:#f2f2f2; border:solid 1px #ddd; padding:5px; font-style:italic;}
ul.introGallery{margin:0; padding:0; list-style:none; width:315px; height:106px;}
ul.introGallery li
	{float:left; border:solid 1px #ddd; width:144px; margin:0 10px 0 0; height:97px; padding:3px;}
ul.introGallery li img{width:144px;height:97px; overflow:hidden;}	
p.cap{text-transform:uppercase; text-align:left !important;}
.downloadApp{background:url(../images/download.png) no-repeat 0 10px;display:inline-block; padding:5px 55px 0 50px;}
.downloadHome{background:url(../images/download.png) no-repeat 0 0px;display:inline-block; padding:10px 0 0 40px; height:40px; width:180px; font-weight:bold;}



