
#sliderFrame 
{
    width:99.5%;
	max-width:935px;
	float:left;
	height:360px;
	margin-left:3.5px;
	overflow:hidden
}#slider, #slider div.sliderInner{width:935px;height:360px;border-radius:0px;}
#slider{background:#fff url(loading.gif) no-repeat 50% 50%;position:relative;transform:translate3d(0,0,0);box-shadow:0px 1px 5px #999999;}
#slider a.imgLink, #slider .video{z-index:2;position:absolute;top:0px;left:0px;border:0;padding:0;margin:0;width:100%;height:100%;}
#slider .video{background:transparent url(video.png) no-repeat 50% 50%;}
#slider div.mc-caption-bg, #slider div.mc-caption-bg2{position:absolute;width:440px;height:auto;padding:10px 0;left:450px;bottom:250px;z-index:3;overflow:hidden;font-size:0;padding-left:10px;padding-right:10px;}
#slider div.mc-caption-bg{background:Black;border:1px solid white;border-radius:5px;}
#slider div.mc-caption-bg2{background:none;}
#slider div.mc-caption{font:bold 15px Arial;color:#EEE;z-index:4;text-align:center;background:none;}
#slider div.mc-caption a{color:#FB0;}
#slider div.mc-caption a:hover{color:#DA0;}
#slider div.navBulletsWrapper{top:330px;left:325px;text-align:center;background:none;position:relative;z-index:5;}
#slider div.navBulletsWrapper div{width:18px;height:16px;border:1px solid #999;background:#EEE;color:#AAA;font:normal 10px Arial;text-align:center;display:inline-block;*display:inline;zoom:1;overflow:hidden;cursor:pointer;margin:0 4px;border-radius:50%;padding-top:2px}
#slider div.navBulletsWrapper div.active{border-color:#FF0000;background:#ab0101;color:White;}
#slider div.loading{width:100%;height:100%;background:transparent url(loading.gif) no-repeat 50% 50%;filter:alpha(opacity=60);opacity:0.6;position:absolute;left:0;top:0;z-index:9;}
#slider img, #slider>b, #slider a>b{position:absolute;border:none;display:none;}
#slider div.sliderInner{overflow:hidden;-webkit-transform:rotate(0.000001deg);position:absolute;top:0;left:0;}
#slider>a, #slider video, #slider audio{display:none;}