@charset "utf-8";
/*Layout setting */
body
	{
		margin:0 auto; padding:0; text-align:center;
		font:normal 13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#666;
		background:#fff url(../images/back_body.png) repeat-x;
	}
#header, #container, #footerInner
	{margin:0 auto; padding:0; text-align:left; width:980px;}
#header {height:123px; padding-top:10px;background:url(../images/border_header.png) no-repeat top right;}
#leftCol
	{float:left; width:252px;}
#mainCol
	{
		float:right; width:713px; 
		background:url(../images/divider.png) repeat-y; 
		padding-left:15px; 
		height:auto; min-height:550px;
	}
#footer
	{margin:0 auto; padding:0; text-align:center; width:100%; background:#ddd; border-top:solid 1px #ccc; height:85px;}
#footerInner
	{background:url(../images/border_footer.png) no-repeat left top; margin-top:-1px;height:70px;}
	