@charset "utf-8";
/* CSS Document */
a{text-decoration:none; color:#0690d7;}
a:hover, .footerNav a:hover{color:#000;}
#mainNav
	{
		float:left;
		width:260px;
	}
#mainNav ul
	{margin:0; padding:0; list-style:none;}
#mainNav ul li
	{width:260px; float:left; margin-bottom:10px;position: relative;z-index:1000;}
#mainNav ul li a
	{
		float:left;
		background:url(../images/back_nav.gif) no-repeat 0 0;
		height:25px; width:260px;padding:2px 0 0px 15px;
		text-decoration:none;
		color:#038ed6; font-weight:bold;
	}
#mainNav ul li a:hover, #mainNav ul li .active
	{
		background:url(../images/back_nav.gif) no-repeat 0 -27px;
		color:#000;
	}
/*----------Second lable navigation setting----------------*/
#mainNav ul li .sub {
	position: absolute; /*--Important--*/
	top:-10px; left:235px;
	background:#999 !important;
	display: none;
	float: left;
	display: none;
	width:230px !important;
	border:solid 1px #333;
	z-index:1000;
	}

#mainNav ul li .sub ul
	{margin:0!important; padding:5px !important; list-style:none; float:left; width:200px;}
#mainNav ul li .sub ul li
	{display:block!important; padding:0 !important; margin:2px!important;}
#mainNav ul li .sub ul li a
	{
	display:block;
	margin:0 0!important;
	padding:2px 0 2px 20px !important;
	width:195px !important;
	background:#fff url(../images/arrow2.png) no-repeat 5px 8px !important;
	border:solid 1px #ddd;
	}



/*----------Third lable navigation setting----------------*/
#mainNav ul li ul li .sub2 {
	position: absolute; /*--Important--*/
	top:-5px; left:224px;
	background:#999 !important;
	display: none;
	float: left;
	display: none;
	width:230px !important;
	border:solid 1px #333;
	z-index:1000;
	}

#mainNav ul li ul li .sub2 ul
	{margin:0!important; padding:5px !important; list-style:none; float:left; width:200px;}
#mainNav ul li ul li .sub2 ul li
	{display:block!important; padding:0 !important; margin:2px!important;}
#mainNav ul li ul li .sub2 ul li a
	{
	display:block;
	margin:0 0!important;
	padding:2px 0 2px 20px !important;
	width:195px !important;
	background:#fff url(../images/arrow2.png) no-repeat 5px 8px !important;
	border:solid 1px #ddd;
	}


.more
	{	display:inline-block;
		background:#ddd url(../images/arrow.png) no-repeat 48px 10px;
		border:solid 1px #999;
		padding:4px 25px 4px 10px;
	}
.footerNav{padding:10px;}	
.footerNav a {display:inline-block; padding:0 3px; color:#666;}	