/*default CSS for SAG scroller*/

.sagscroller{
width: 200px;  /*default width of scroller*/
height:250px;
overflow:hidden;
position:relative;
border:7px solid black;
border-radius: 8px; /*css3 round corners*/
-moz-border-radius: 8px; /*css3 round corners*/
-webkit-border-radius: 8px; /*css3 round corners*/
}

.sagscroller a{
font-weight:bold;
}

.sagscroller ul{
position:absolute;
margin:0;
padding:0;
/*background:white*/;
list-style:none;
width: 100%;
}

.sagscroller ul li{
display:block;
}

.sagscroller ul li .rsscontent{ /*div containing body of each RSS entry*/
font-size:90%;
}

.sagscroller ul li .rsslabel{ /*div containing label of each RSS entry*/
margin-top:5px;
background: #eee;
font-size:12px;
clear: both;
}




/* #SAG scroller demo #1 */

div#mysagscroller{
width: 200px;  /*width of scroller*/
height:250px;
height:100px;
/*border:7px solid #C0C0C0;*/
border:0px solid  #666666;

}

div#mysagscroller ul li{
/*background:white;*/
color:#666666;
padding:5px;
margin-bottom:55px; /*bottom spacing between each LI*/
}
/*
div#mysagscroller ul li:first-letter{
font-size:28px;
background:666666;
color:black;
padding:0 2px;
margin-right:2px;
}


/* #SAG scroller demo #2 */

div#mysagscroller2{
width: 250px; /*width of scroller*/
height:100px;
/*border:7px solid #C0C0C0;*/
border:7px solid #ff0000;
}

div#mysagscroller2 ul li img{
border-width:0;
display:block; /*this causes each image to be flush against each other*/
}
