a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block
}
mark, rp, rt, ruby, summary, time {
	display: inline
}
ol, ul {
	list-style: none;
}
.bottom_middle_text ul li {
	padding-left: 0px;
	margin-left: 30px;
	list-style: square
}
.bottom_middle_text ul li ul li {
	padding-left: 0px;
	margin-left: 30px;
	list-style: circle
}
blockquote, q {
	quotes: none;
}
img {
	vertical-align: top;
}
embed {
	vertical-align: top;
}
* {
	border: none
}
body {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-color: #fff;
	cursor: default
}
@media only screen and (min-width:180px) and (max-width:767px) {
#wrapper {
	width: 100%;
}
.top_search {
	width: 98%;
}
.call_to_action {
		z-index: 999;
    text-align: right;
    float: right;
    width: 100%;
    margin-top: 107px;
    margin-left: -3px;
    position: fixed;
}
}
@media only screen and (min-width:770px) and (max-width:1024px) {
#wrapper {
	width: 1168px;
}
.top_search {
	width: 69.5%;
}
.call_to_action {
		display:none;
}
}
@media only screen and (min-width:1025px) {
#wrapper {
	width: 1168px;
}
.top_search {
	width: 69.5%;
	.call_to_action {
		display:none;
}
}
}
.top_search {
	float: left;
	height: 42px;
	background-repeat: no-repeat;
	margin-top: 25px;
	margin-left: 5px;
	padding: 2px 2px 5px 5px;
	border: 1px solid #CCC;
	border-radius: 5px
}
#wrapper {
	height: auto;
	min-height: 800px;
	margin: auto;
}
#top_wrapper {
	width: 100%;
	height: auto;
	min-height: 115px;
	float: left;
	padding-top: 7px;
}
#logo {
	width: 340px;
	height: auto;
	min-height: 70px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
.logo_slogan {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	padding-top: 14px;
	letter-spacing: -0.5px;
}
#bottom_main {
	width: 100%;
	height: auto;
	min-height: 200px;
	float: left;
	margin-top: 5px;
	background-color: #fff;
	padding-left: 3px;
	padding-top: 3px;
	border-radius: 3px;
	border: 1px solid #e7e6e6;
}
#bottom_main_left {
	max-width: 233px;
	width: auto;
	height: auto;
	min-height: 650px;
	float: left;
	background-color: #fff;
}
.container_rgt_frmtext {
	width: 210px;
	height: 27px;
	float: left;
	margin: 8px 0px 0px 7px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgba(117, 112, 112, 0.4);
	color: rgb(0, 0, 0);
	font-family: calibri;
	font-weight: normal;
	font-size: 12px;
	text-align: justify;
	padding-left: 5px;
	outline: medium none;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid rgb(153, 153, 153);
}
.container_rgt_frmtext:focus {
	background-color: rgb(255, 200, 0);
}
.container_rgt_frmtextarea {
	width: 210px;
	height: 55px;
	float: left;
	margin: 8px 0px 0px 7px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgba(41, 39, 39, 0.4);
	color: rgb(0, 0, 0);
	font-family: calibri;
	font-weight: normal;
	font-size: 12px;
	text-align: justify;
	padding: 10px 0px 0px 5px;
	outline: medium none;
}
.container_rgt_frmtextarea:focus {
	background-color: rgb(255, 200, 0);
}
.contact_form_but {
	height: 30px;
	min-width: 116px;
	width: auto;
	border: 0px solid rgb(102, 102, 102);
	border-radius: 0px;
	color: rgb(255, 255, 255);
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 15px;
	font-size: 11px;
	padding-left: 0px;
	margin: 9px 12px 5px 0px;
	background: url("../images/send.png") repeat scroll 0% 0% transparent;
	float: right;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: right
}
.contact_form_but:hover {
	height: 30px;
	min-width: 116px;
	width: auto;
	border: 0px solid rgb(102, 102, 102);
	border-radius: 0px;
	color: rgb(255, 255, 255);
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 15px;
	font-size: 11px;
	padding-left: 0px;
	margin: 9px 11px 5px 0px;
	background: url("../images/send-h.png") repeat scroll 0% 0% transparent;
	float: right;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: right;
}
#livesearch {
	z-index: 9999999999999;
	position: absolute;
	margin-top: 3px;
	margin-left: -5px;
	background-color: #fff;
}
#livesearch a.search_indi {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #333;
	font-size: 12px;
	margin-left: 0px;
	padding-left: 5px;
	text-decoration: none;
}
.header_link {
	height: 44px;
	width: 224px;
	border: 1px solid #ccc;
	border-radius: 10px 10px 0 0;
	float: left;
	background: -webkit-linear-gradient(#ed3237, #c30000);
	background: -o-linear-gradient(#ed3237, #c30000);
	background: -moz-linear-gradient(#ed3237, #c30000);
	background: linear-gradient(#ed3237, #c30000);
	margin-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FF0;
	padding-left: 8px;
	padding-top: 4px;
	font-family: Noto Sans, Arial, Helvetica, sans-serif;
	;
}
.link_box {
	height: 24px;
	width: 225px;
	float: left;
	background-image: url(../images/link-back.jpg);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-left: 5px;
}
.link_box1 {
	height: 4px;
	width: 225px;
	float: left;
}
.link_box2 {
	height: 4px;
	width: 230px;
	float: left;
	margin-bottom: 4px;
	background-color: #999;
	border-radius: 50%
}
.link_box a {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	color: #fff;
}
.link_box:hover {
	height: 24px;
	width: 225px;
	float: left;
	background-image: url(../images/link-back-h.jpg);
	background-repeat: repeat-x;
	cursor: pointer
}
#bottom_main_right {
	width: auto;
	max-width: 925px;
	height: auto;
	min-height: 550px;
	float: right;
	background-color: #FFF;
	padding-bottom: 10px;
	background-image: url(../images/left-back-1.png);
	background-position: left;
	background-repeat: repeat-y;
	padding-left: 5px;
}
.search_text {
	width: 80%;
	float: left;
	height: 30px;
	background-repeat: no-repeat;
	border: none;
	padding: 0px;
	margin: 0px;
	margin-right: 0px;
	outline: none;
	padding-left: 5px;
	padding-top: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #444
}
.top_search_category {
	width: 150px;
	float: left;
	margin-right: 2px;
	background-color: #eee;
	height: 36px;
	padding: 5px 2px 5px 5px;
	vertical-align: bottom;
	color: #666;
	border: 1px solid #ccc!important;
	border-radius: 5px 0 0 5px!important;
	font-size: 11px!important;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	outline: none;
}
select.top_search_category option {
	padding: 8px 3px 8px 10px;
	float: left;
	color: #fff;
	background-color: #4f4f4f;
	border-top: 1px solid #999;
	border-bottom: 1px solid #333;
	cursor: pointer;
	font-size: 12px!important;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	-webkit-appearance: none;
}
.search_but {
	border-radius: 0px;
	float: right;
	margin-right: 0.9px
}
.filter_cate_main_middle {
	float: left;
	width: auto;
	min-width: 80px;
	max-width: 200px;
	height: 22px;
	background-image: url(../images/filter_center.jpg);
	background-repeat: repeat-x;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 9px;
	font-weight: bold;
	color: rgb(51, 153, 0);
	font-size: 11px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	border-radius: 5px;
	border: 0px solid #000;
	margin-top: 25px;
}
.filter_cate_main_middle:hover {
	float: left;
	width: auto;
	min-width: 80px;
	max-width: 200px;
	height: 23px;
	background-image: url(../images/filter_center.jpg);
	background-repeat: repeat-x;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
	font-weight: bold;
	color: rgb(255, 0, 0);
}
.follo_top_top {
	padding-top: 24px;
	text-align: center;
	padding-left: 10px;
	width: 122px;
	height: 35px;
	text-align: right;
	float: right;
}
.follo_top_bottom {
	width: 100%;
	height: auto;
	min-height: 18px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 11px;
	text-align: right;
}
.follo_top_bottom a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 11px;
	text-decoration: none
}
.follo_top_bottom a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #F00;
	font-size: 11px;
	text-decoration: none
}
.follo_top_bottom img.top_con {
	width: 13px;
	vertical-align: text-top
}
.new_products_main {
	width: 230px;
	height: auto;
	min-height: 100px;
	float: left;
	border-bottom: 1px solid #ccc;
	background-color: #fff
}
.new_products_title {
	width: 230px;
	min-height: 20px;
	height: auto;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 7px;
	margin-top: 10px;
	color: rgba(10, 51, 51,0.9);
}
.new_products_images_text {
	width: 230px;
	min-height: 30px;
	height: auto;
	float: left;
}
.new_products_images {
	width: 80px;
	min-height: 50px;
	height: auto;
	float: left;
	text-align: center;
	padding-left: 5px;
	overflow: hidden
}
.new_products_text {
	width: 135px;
	min-height: 50px;
	height: auto;
	float: left;
	margin-left: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: rgba(51, 51, 51,0.9);
	font-size: 11px;
	line-height: 15px;
}
.view_more_new_pro {
	float: right;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 5px;
	width: 55px;
	cursor: pointer;
	border: 0px;
}
.category_tab {
	width: 100%;
	height: auto;
	min-height: 50px;
	float: left;
	background-color: #f3f3f3;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 5px 5px 0 5px;
	text-align: center
}
a.tab_button {
	width: auto;
	min-width: 100px;
	height: 36px;
	display: inline-block;
	padding: 6px;
	padding-top: 8px;
	background-color: #414141;
	border-radius: 4px;
	border: 1px solid #000;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	background-image: url(../images/but.jpg);
	background-repeat: repeat;
}
a.tab_button:hover {
	width: auto;
	min-width: 100px;
	height: 36px;
	display: inline-block;
	padding: 6px;
	padding-top: 8px;
	background-color: #ad0101;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold
}
.bottom_middle_text {
	width: 100%;
	height: auto;
	min-height: 50px;
	float: left;
	background-color: #fff;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 2px 5px 5px 5px;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 20px;
	color: rgb(0, 0, 0);
	text-align: justify;
}
.bottom_middle_ads {
	width: 100%;
	height: auto;
	min-height: 50px;
	float: left;
	margin: 5px 0 5px 4px;
	border: 1px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
}
.product_display {
	float: left;
	height: auto;
	min-height: 100px;
	width: 100%;
}
.product_display_head {
	width: 100%;
	height: 29px;
	float: left;
	background-image: url(../images/pro-heading.jpg);
	background-repeat: no-repeat;
	margin: 6px 0 10px 6px;
	font-family: Calibri;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	color: #444;
	text-align: justify;
	padding: 7px 0 0 38px;
}
.product_display_box {
	width: 218px;
	height: 313px;
	float: left;
	background-image: url(../images/pro-back.jpg);
	background-repeat: no-repeat;
	margin-left: 17px;
	margin-bottom: 10px;
}
.product_display_box_img {
	width: 209px;
	height: 135px;
	float: left;
	text-align: center;
	margin-left: 6px;
	margin-top: 15px;
}
.product_display_box_text {
	width: 209px;
	height: 112px;
	float: left;
	text-align: left;
	margin-left: 6px;
	overflow: hidden
}
.product_display_box_text h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #4a0000;
	margin-top: 17px;
	margin-bottom: 3px;
}
.product_display_box_text p {
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
	color: #333;
	text-align: left;
	padding-right: 3px;
	line-height: 16px;
	text-align: justify
}
.product_display_box_view {
	width: 250px;
	height: 35px;
	text-align: right;
	margin-left: 85px;
	margin-top: 105px;
	cursor: pointer;
	position: absolute;
}
.product_display_box_first {
	margin-left: 4px
}
.footer {
	clear: both;
	color: rgb(256, 256, 256);
	display: block;
	margin: 0px auto;
	width: 100%;
	min-width: 240px;
	padding: 30px 10px 0px 20px;
	height: auto;
	float: left;
	min-height: 290px;
	border-top: 3px solid rgba(187, 13, 0,1.0);
	background-color: #333;
	padding-top: 20px;
}
.top_footer {
	height: auto;
	min-height: 68px;
	width: 100%;
	margin: auto;
	padding-top: 10px;
}
.top_footer h5 {
	font-size: 13px;
	color: #FC0;
	padding: 0px 0px 0px 0px;
	;
	font-family: Verdana, Geneva, sans-serif;
}
.popular_category_logo {
	height: auto;
	min-height: 58px;
	width: 200px;
	float: left;
	margin-right: 10px;
	text-align: center
}
.popular_category {
	height: auto;
	min-height: 58px;
	width: auto;
	max-width: 667px;
	float: left;
	margin-left: 6px;
	margin-right: 10px;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	padding: 0 7px 0 10px;
	color: rgb(256, 256, 256);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-decoration: none;
	line-height: 16px
}
.popular_category a {
	color: rgb(256, 256, 256);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.popular_category a:hover {
	color: #F00;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}
.social_apps {
	height: auto;
	min-height: 58px;
	width: 300px;
	float: left;
}
.social_apps img {
	padding-top: 5px;
	padding-right: 5px;
}
.footer_box {
	height: auto;
	min-height: 135px;
	width: 270px;
	float: left;
	border-right: 1px dotted #ddd;
	padding-left: 15px;
}
.top_footer1 {
	height: auto;
	min-height: 138px;
	width: 100%;
	margin: auto;
	border-top: 1px dotted #CCC;
	margin-top: 20px;
	padding-top: 10px;
}
.top_footer1 h5 {
	font-size: 13px;
	color: #FC0;
	padding: 0px 0px 0px 0px;
	;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 22px
}
.top_footer1 a {
	color: rgb(256, 256, 256);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 25px;
	background-image: url(../images/play-h.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: 0px -1px;
	margin-left: 0px;
}
.top_footer1 a:hover {
	color: #F00;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: underline;
}
.footer_box_form {
	height: auto;
	min-height: 135px;
	width: 295px;
	float: left;
	padding-left: 15px;
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
.subscribeHover {
	background-image: url(../images/homepage-sprite.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 34px;
	float: left;
	width: 250px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 8px;
	border-bottom: 1px dotted #ccc;
	margin-right: 40px;
}
a.bottom_contact {
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height: 20px;
	background: none;
	padding-left: 0px;
	margin-left: 0px;
}
a.bottom_contact:hover {
	color: #F00;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
#userEmailId {
	width: 207px;
	outline: none
}
.btn_submit {
	background-image: url(../images/homepage-sprite.png);
	background-repeat: no-repeat;
	background-position: -262px -2px;
	height: 30px;
	width: 32px;
	margin-top: 2px;
	cursor: pointer;
	vertical-align: middle;
}
.copyrighter {
	height: auto;
	min-height: 23px;
	width: 1200px;
	margin: auto;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	padding-top: 10px;
}
* {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
#menu {
	margin: 0px;
	width: 225px;
}
#menu > li {
	float: left;
}
#menu > li a {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	height: 24px;
	width: 225px;
	float: left;
	background-image: url(../images/link-back.jpg);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-left: 5px;
}
#menu > li a:hover {
	height: 24px;
	width: 225px;
	float: left;
	background-image: url(../images/link-back-h.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 5px;
}
#menu > li > ul {
	display: none;
	background: #08a;
	margin-left: 230px;
	margin-top: -1px;
	z-index: 9999999999999999999;
	position: absolute;
	border: solid 1px #fff;
}
#menu > li:hover > ul {
	display: block;
	position: absolute;
}
#menu > li > ul > li > span {
	display: block;
	padding: 0px;
	border-top: solid 0px #fff;
}
#menu > li > ul > li:hover > span {
	color: #fff;
}
#menu > li > ul > li:hover {
	display: block;
	margin-top: -0px;
}
#menu > li > ul li:hover > ul {
	display: block;
	position: absolute;
	left: 100%;
	border: solid 1px #fff;
	top: 0;
	width: auto;
	background-color: #003
}
#menu > li > ul li > ul li a:hover {
	height: 24px;
	width: 225px;
	float: left;
	background-image: url(../images/link-back-h.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 5px;
	text-decoration: underline
}
#menu > li > ul > li ul > li {
	display: block;
	padding: 0px;
	border-top: solid 0px #fff;
	white-space: nowrap;
	border: 0px solid #CCC
}
#menu > li > ul > li ul > li:hover > span {
	color: #fff;
}
.tabellainizio {
	margin-top: 100px;
}
.bordini {
	border: 1px #DDD solid;
}
.principale {
	height: 321px;
	width: 290px;
	position: relative;
	float: left;
	border: 1px solid #CCC;
	margin-left: 14px;
	margin-bottom: 20px;
	border-radius: 5px 5px 0 0;
}
principale:hover {
	height: 321px;
	width: 290px;
	position: relative;
	float: left;
	border: 1px solid #CCC;
	margin-left: 14px;
	margin-bottom: 20px;
	border-radius: 5px 5px 0 0;
}
.principale .contenitore {
	background-color: #fff;
	height: 301px;
	width: 290px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	border-radius: 5px 5px 0 0;
}
.principale1 {
	height: 321px;
	width: 290px;
	position: relative;
	float: left;
	border: 1px solid #CCC;
	margin-left: 14px;
	margin-bottom: 20px;
	border-radius: 5px 5px 0 0;
	overflow: hidden
}
principale1:hover {
	height: 321px;
	width: 290px;
	position: relative;
	float: left;
	border: 1px solid #CCC;
	margin-left: 14px;
	margin-bottom: 20px;
	border-radius: 5px 5px 0 0;
}
.principale1 .contenitore {
	background-color: #fff;
	height: 321px;
	width: 290px;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	border-radius: 5px 5px 0 0;
}
.heading_products {
	min-height: 15px;
	height: auto;
	width: 100%;
	overflow: hidden;
	display: inline;
	float: left;
	text-align: center;
	background-color: #1e1e1e;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fdb915;
	padding-top: 7px;
	padding-bottom: 3px;
	background-image: url(../images/product-head.png);
	background-repeat: repeat-x;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	border-bottom: 6px solid #252423
}
.heading_products1 {
	min-height: 15px;
	height: auto;
	width: 100%;
	overflow: hidden;
	display: inline;
	float: left;
	text-align: center;
	background-color: #1e1e1e;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fdb915;
	padding-top: 7px;
	padding-bottom: 3px;
	background-image: url(../images/product-head.png);
	background-repeat: repeat-x;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	border-bottom: 6px solid #252423;
	text-decoration: none
}
.immagine {
	height: 290px;
	width: 100%;
	float: left;
	text-align: center;
	opacity: 1;
	filter: alpha(opacity=100);
}
.immagine:hover {
	height: 290px;
	width: 100%;
	float: left;
	text-align: center;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.content {
	display: none;
	height: 160px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #333;
	text-align: justify;
	line-height: 16px;
	position: absolute;
	z-index: 999999999999999;
	margin-top: 250px;
}
.contenitore:hover {
}
.content p {
	padding: 5px;
	background-color: rgba(0,0,0,.15);
	color: #111;
	background-image: url(../images/text-back.png);
	background-repeat: repeat-x;
	background-position: top
}
.contenitore:hover .content {
	display: block;
}
.contenitore:hover .immagine {
	position: relative;
}
h3.product_heading {
	color: #FF0;
	background-color: #3c3c3c;
	padding: 6px 6px 6px 6px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	white-space: nowrap
}
#category_banner {
	height: auto;
	min-height: 100px;
	width: 100%;
	float: left;
	border-radius: 5px;
	border: 1px solid #CCC;
	overflow: hidden
}
.category_heading {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #222;
	border-bottom: 1px solid #CCC;
	padding: 5px 0 5px 20px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	margin-bottom: 7px;
}
.bread-crum {
	border: 1px solid #CCC;
	height: auto;
	width: 100%;
	float: left;
	margin-bottom: 4px;
	border-radius: 7px;
	background-color: #f5f6f7;
	box-shadow: 0 2px 3px #666;
}
.bread-crum-box-1 {
	height: 24px;
	width: auto;
	min-width: 25px;
	float: left;
	margin-bottom: 4px;
	border-radius: 7px 0 0 7px;
	background-position: top right;
	padding: 9px 10px 0px 10px;
	text-align: center;
	color: #f4f400;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	background-color: #3c3c3b;
	background-image: url(../images/link-location-arrow-f.jpg);
	background-repeat: no-repeat;
	background-position: right
}
.bread-crum-box-2 {
	height: 24px;
	width: auto;
	min-width: 25px;
	max-width: 319px;
	float: left;
	margin-bottom: 4px;
	background-position: top right;
	padding: 9px 10px 0px 5px;
	text-align: center;
	color: #f4f400;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	background-color: #3c3c3b;
	background-image: url(../images/link-location-arrow-f.jpg);
	background-repeat: no-repeat;
	background-position: right
}
.bread-crum-box {
	height: 24px;
	width: auto;
	min-width: 25px;
	float: left;
	background-image: url(../images/link-location-arrow.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 9px 15px 0px 10px;
	text-align: center;
	color: #444;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.bread-crum-box-sl {
	height: 24px;
	width: auto;
	min-width: 25px;
	float: left;
	background-image: url(../images/link-location-arrow-sl.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 9px 15px 0px 10px;
	text-align: center;
	color: #444;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.bread-crum-box-first {
	height: 28px;
	width: auto;
	min-width: 25px;
	float: left;
	background-image: url(../images/link-location-arrow.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 5px 10px 0px 5px;
	text-align: center;
}
.last_bread_cum {
	height: 28px;
	width: auto;
	min-width: 25px;
	float: left;
	background-image: url(../images/link-location-arrow.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 5px 10px 0px 5px;
	text-align: center;
}
.bread-crum-box a {
	text-align: center;
	color: #444;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none
}
.bread-crum-box a:hover {
	text-align: center;
	color: #F00;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline
}
.product_main {
	height: auto;
	min-height: 150px;
	width: 932px;
	float: left;
	margin-top: 3px;
	border: 1px solid #ddd;
	border-radius: 7px;
}
.product_main_left {
	height: auto;
	min-height: 150px;
	width: 671px;
	float: left;
	paddgin-right: 9px;
}
.product_description_sep {
	height: auto;
	width: 100%;
	min-height: 10px;
	float: left;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
	overflow: hidden;
	background-color: #f3f3ed;
	margin-bottom: 10px;
}
.product_description_sep1 {
	height: auto;
	width: 100%;
	min-height: 10px;
	float: left;
	box-shadow: 0px -2px 5px rgba(0,0,0,0.4);
	overflow: hidden;
	background-color: #f3f3ed;
	margin-top: 5px;
}
.product_description {
	height: auto;
	width: 100%;
	min-height: 50px;
	float: left;
	background-color: #fff;
}
.product_description p {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	line-height: 18px;
	padding: 5px;
	text-align: justify
}
.product_description_heading {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #333;
	line-height: 18px;
	padding: 0px 0 5px 5px;
	display: block;
	float: left;
	text-decoration: underline;
	width: 100%;
}
.pro_heading {
	height: auto;
	min-height: 25px;
	width: 100%;
	float: left;
	display: block;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 20px;
	padding: 10px;
	background-color: #f8f8f6;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: left
}
.pro_images {
	height: auto;
	min-height: 150px;
	width: 530px;
	float: left;
	text-align: center;
	margin-left: 15px;
}
.thumbs_main {
	width: 110px;
	height: 500px;
	min-height: 50px;
	overflow: auto;
	float: left;
}
.product_thumbs {
	width: 60px;
	height: 60px;
	padding: 5px;
	background-color: #f3f3ed;
	border: 1px solid #CCC;
	float: right;
	margin: 10px;
	margin-bottom: 0px;
	text-align: center;
	cursor: pointer
}
.product_thumbs:active {
	width: 60px;
	height: 60px;
	padding: 5px;
	background-color: #f3f3ed;
	border: 5px solid #333;
	float: right;
	margin: 10px;
	margin-bottom: 0px;
	text-align: center;
	cursor: pointer
}
.product_features_dts {
	min-height: 35px;
	height: auto;
	width: 100%;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px solid #CCCCCC;
	color: #1ba3f9;
	font-family: calibri;
	font-size: 13px;
	float: left;
}
.product_features_dts ul {
	height: 34px;
	width: 100%;
	color: #1ba3f9;
	font-family: calibri;
	font-size: 13px;
	float: left;
	list-style-type: none;
}
.product_features_dts ul li {
	height: 23px;
	width: auto;
	color: #fff!important;
	font-family: calibri;
	font-size: 15px;
	padding: 8px 10px 3px 10px;
	border-bottom: none;
	float: left;
	list-style-type: none;
	background-color: #f8f8f6;
	margin-right: 2px;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0
}
.product_features_dts ul li:hover {
	color: #333!important;
	border: 1px solid #CCC;
	border-bottom: none;
	background-color: #000!important;
	float: left;
}
.product_features_dts ul li.detault_tab_color {
	height: 23px;
	width: auto;
	color: #fce700!important;
	font-family: calibri;
	font-size: 15px;
	padding: 8px 10px 3px 10px;
	border-bottom: none;
	float: left;
	list-style-type: none;
	background-color: #d80000;
	margin-right: 2px;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0
}
.product_features_dts ul li span {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.product_features_dts ul li.detault_tab_color span {
	text-decoration: none;
	font-weight: bold;
	color: #fce700;
}
.product_features_dts ul li:hover span {
	color: #fff!important;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer
}
#product_features_active {
	background-color: #FF0000;
	color: #fff;
}
.product_features_text {
	height: auto;
	min-height: 100px;
	width: 99%;
	margin: 0px 0px 10px 5px;
	padding-bottom: 5px;
	color: #333333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	float: left;
	line-height: 20px
}
.product_features_text strong {
	color: #333333;
	font-family: calibri;
	font-size: 14px;
	font-weight: bold;
}
.product_features_text p {
	color: #333333;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: justify;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	font-weight: lighter;
	line-height: 18px;
}
.product_features_text ul {
	height: auto;
	min-height: 15px;
	color: #333333;
	font-family: calibri;
	font-size: 14px;
	float: left;
	margin: 0px;
	padding: 0px;
}
.product_features_text ul li {
	height: auto;
	min-height: 15px;
	color: #333333;
	font-family: calibri;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 25px;
	padding: 0px;
	font-size: 14px;
	float: left;
	width: 600px;
}
.product_features_text table {
	width: 100%!important;
}
.product_features_text table tr td {
	border: 1px solid #eee;
	font-size: 12px;
	font-weight: normal!important
}
.product_features_text table tr td ul li {
	font-size: 13px;
	width: auto;
}
.product_standard_text {
	height: auto;
	min-height: 100px;
	width: 641px;
	margin: 10px 30px 10px 30px;
	color: #1ba3f9;
	font-family: calibri;
	font-size: 13px;
	float: left;
}
.product_standard_text ul {
	height: auto;
	min-height: 50px;
	width: 334px;
	color: #333333;
	font-family: calibri;
	font-size: 13px;
	float: left;
	margin: 0px;
	padding: 0px;
}
.product_standard_text ul li {
	height: auto;
	min-height: 20px;
	width: 325px;
	color: #333333;
	font-family: calibri;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 30px;
	padding: 0px;
	font-size: 13px;
	float: left;
}
.features_heading {
	background-color: #eee;
	padding: 5px;
}
h3.stan_text {
	color: #666666;
	font-family: calibri;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
}
#pro_details2, #pro_details3, #pro_details4, #pro_details5, #pro_details6 {
	display: none;
	border: none
}
#pro_details2 table {
	border: 1px solid #CCC;
	border-bottom: none
}
#pro_details2 table th {
	border-right: 1px solid #CCC;
	background-color: #f6f9fe
}
#pro_details2 table td {
	background-color: #fff;
	font-weight: bold
}
#pro_details2 table tr th, td {
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 12px;
	border-bottom: 1px solid #CCC;
	padding: 5px;
	font-weight: bold
}
.product_main_right {
	height: auto;
	min-height: 575px;
	width: 261px;
	float: left;
	background-image: url(../images/product-right.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	overflow: hidden
}
.right_product_heading {
	height: 24px;
	width: 241px;
	float: left;
	margin-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	padding-left: 8px;
	padding-top: 9px;
	margin: 5px;
	margin-bottom: 0px;
	border: 2px solid #CCCCCC;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
	background-color: #3c3c3b;
	overflow: hidden
}
.right_product_heading1 {
	height: 24px;
	width: 240px;
	float: left;
	margin-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	padding-left: 8px;
	padding-top: 9px;
	margin: 5px;
	margin-top: 15px;
	border: 2px solid #CCCCCC;
	border-radius: 7px 7px 0 0;
	margin-bottom: 0px;
	background-color: #3c3c3b;
	overflow: hidden;
}
.quick_info_main1 {
	height: auto;
	min-height: 20px;
	width: 99%;
	margin-left: 0px;
	float: left;
	margin-bottom: 25px;
	border: 1px solid #CCCCCC;
}
.quick_info_main {
	height: auto;
	min-height: 20px;
	width: 96%;
	margin-left: 0px;
	float: left;
	margin-bottom: 25px;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
}
.quick_info_main_img {
	height: auto;
	min-height: 100px;
	width: 100%;
	text-align: center;
	border: 5px solid #CCC;
	margin: auto;
}
.quick_info_main_details {
	height: auto;
	min-height: 50px;
	width: 99.5%;
	text-align: left;
	float: left;
	border: 0px dotted #ccc;
	background-color: #efefef;
	margin-top: 6px;
	margin-bottom: 6px;
	border-radius: 5px;
	border: 0px solid #ccc;
}
.quick_info_main_details_1 {
	height: auto;
	min-height: 10px;
	width: 99%;
	text-align: left;
	float: left;
	background-color: #eee;
	margin-top: 5px;
	padding: 7px 0px 7px 5px;
	border-radius: 0px;
	background-image: url(../images/back-article.jpg);
	background-position: left;
	background-size: contain
}
.quick_info_main_details_blog_tit {
	width: 99.1%;
	background-color: #eee;
	float: left;
	padding: 0.5%;
	padding-right: 4px;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	height: auto;
	margin-top: 0px;
}
.quick_info_main_details_blog_text img {
	display: none;
}
.quick_info_main_details_blog_text {
	width: 99%px;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	height: auto;
}
.contact_details_left {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #F00;
	float: left;
	width: auto;
	min-width: 80px;
}
.contact_details_right {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #333
}
.contact_details_right a {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #069;
	text-decoration: none
}
.download_details_left_left {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	float: left;
	width: 93px;
	background-color: #333;
	height: 26px;
	border: 0px solid #666;
	border-radius: 3px 0 0 3px;
	text-align: left;
	padding-top: 10px;
	padding-left: 5px
}
.download_details_left {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #333;
	float: left;
	width: 245px;
	padding-bottom: 0px;
}
.download_details_left a {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #ffe400;
	text-decoration: none;
	margin-left: 9px;
	width: 245px;
	display: block;
	padding-top: 16px;
	float: left;
	height: 25px;
}
.download_details_left a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #fff!important;
	text-decoration: none;
	margin-left: 5px;
	padding-left: 4px;
	border-radius: 5px;
	width: 239px;
	display: block;
	padding-top: 8px;
	margin-top: 8px;
	float: left;
	height: 21px;
	background-color: rgba(0,0,0,0.3)
}
.video_main {
	height: auto;
	min-height: 100px;
	width: 800px;
	float: left;
	border: 5px solid #CCC;
	margin-left: 63px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.video_main_sm {
	height: 330px;
	width: 284px;
	float: left;
	margin-right: 4px;
	margin-left: 15px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
	border-radius: 6px;
	overflow: hidden
}
.video_main_sm_play {
	height: 80px;
	width: 285px;
	background-color: rgba(255,255,255,0.8);
	z-index: 999999;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
	border: 0px solid #333;
	cursor: pointer;
	background-image: url(../images/play-h.png);
	background-repeat: no-repeat;
	background-position: center 30px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #F00;
	margin-top: 146px;
	padding-top: 10px;
}
.video_main_sm_play:hover {
	height: 80px;
	width: 285px;
	background-color: rgba(0,0,0,0.8);
	z-index: 999999;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
	border: 0px solid #333;
	cursor: pointer;
	background-image: url(../images/play.png);
	background-repeat: no-repeat;
	background-position: center 30px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #FF0;
	margin-top: 146px;
	padding-top: 10px;
}
.video_heading {
	height: auto;
	min-height: 15px;
	width: 100%;
	float: left;
	text-align: center;
	background-color: #ec3136;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	padding-top: 9px;
	padding-bottom: 9px;
	background-image: url(../images/product-head1.png);
	background-repeat: repeat-x;
	border-radius: 5px 5px 0 0;
}
.video_images {
	height: 284px;
	width: 284px;
	float: left;
	text-align: center;
}
.video_text {
	height: auto;
	min-height: 10px;
	width: 273px;
	float: left;
	border: 1px solid #CCC;
	border-bottom: none;
	background-color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #FFF;
	padding: 5px;
	text-align: center
}
.video_tags {
	height: auto;
	min-height: 10px;
	width: 273px;
	float: left;
	border: 1px solid #CCC;
	background-color: #efefef;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding: 5px;
	text-align: center
}
.video_tags_big {
	width: 780px;
	;
	float: left;
	padding: 15px;
	margin: 0px;
	height: auto;
	min-height: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 11px;
	border: 1px solid #CCC;
	background-color: #eee;
	color: #6D9F23;
	border-radius: 5px;
	margin-left: 62px;
	margin-bottom: 20px;
	font-style: italic;
	line-height: 20px;
}
.small-product-show {
	height: auto;
	width: 925px;
	float: left;
	margin: 5px;
	border-radius: 8px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	text-align: justify;
	line-height: 20px;
}
.small-product-show-award-text {
	height: 235px;
	width: 575px;
	float: left;
	margin-top: 0px;
	margin-bottom: 2px;
	border-radius: 8px;
	background-color: #FFF;
	padding: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	text-align: justify;
	line-height: 20px;
}
.small-product-show-award-img {
	height: 235px;
	width: 300px;
	float: left;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-right: 0px;
	border-radius: 8px;
	background-color: #FFF;
	padding: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	text-align: center;
	line-height: 20px;
}
.small-product-show table tr th {
	background-color: #ececec;
	padding: 5px 0 5px 0;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px!important
}
.small-product-show table tr td {
	border: 0px solid #CCC;
	width: 700px!important
}
h1.video_title {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-weight: 15px;
	color: #000;
	width: 797px;
	float: left;
	background-color: #eee;
	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
	margin: 10px 0 0 63px;
}
.header_link_1 {
	height: 47px;
	width: 218px;
	float: left;
	background-image: url(../images/news_updates.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	background-color: #fdb915;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fdb915;
	text-align: center;
	padding-top: 14px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 5px 5px 0 0;
}
ul.left_marque {
	height: auto;
	min-height: 300px;
}
ul.left_marque li a {
	font-family: Verdana, Geneva, sans-serif;
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 0px;
	text-decoration: none;
	display: block;
	padding: 0px;
	margin: 0px;
	min-height: 20px;
	height: auto;
}
.left_marque li {
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: 15px;
	font-size: 11px;
	border: 1px dotted #dde4e4;
	padding: 5px;
	margin-right: 5px;
	line-height: 16px;
}
.news_details {
	width: 218px;
	height: 350px;
	background-color: #fff;
	margin-left: 5px;
	border: 3px solid #b20600;
	float: left;
	border-top: none;
	border-radius: 0 0 5px 5px;
	overflow: scroll;
	padding-top: 5px;
	margin-bottom: 5px;
}
<!--
Scroll Start
-->
.credits {
border-bottom:solid 1px #eee;
padding-bottom:10px;
margin:0 0 30px;
}
#pagewrap {
	margin: 0 auto;
	width: 600px;
	padding-left: 150px;
	position: relative;
}
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 95%!important;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
#back-top span {
	width: 58px;
	height: 58px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(../up-arrow.png) no-repeat center center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 50%;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}
<!--
Scroll End Start
-->
.a {
}
.feature-box-rep {
	border: 1px solid #ccc;
	border-radius: 10px;
	float: left;
	width: 100%;
	height: auto;
	min-height: 50px;
	overflow: hidden;
	margin-bottom: 10px;
}
.feature-box-rep-left {
	float: left;
	width: 300px;
	height: auto;
	min-height: 50px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 15px;
	padding: 5px;
}
.feature-box-rep-right {
	width: auto;
	float: left;
	text-align: center;
	margin-top: 10px;
	padding: 5px;
	width: 640px;
	margin: 5px;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
h1.news_heading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #f00;
	padding: 10px;
	padding-left: 5px;
	background-color: #efefef;
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0
}
div.news_content {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	padding: 0 0 10px 10px;
	line-height: 20px
}
div.news_content p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	line-height: 20px
}
p.news_date {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 5px inset #f00
}
h1.news_heading1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #f00;
	padding: 10px;
	padding-left: 5px;
	margin: 5px;
}
h1.news_heading1 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #444;
	text-decoration: none
}
h1.news_heading1 a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #f00;
	text-decoration: underline
}
div.news_content1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	padding: 0 0 10px 10px;
	line-height: 20px
}
div.news_content1 p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	line-height: 20px
}
p.news_date1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #999;
	margin: 0 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #f00
}
h1.news_heading2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	padding-left: 5px;
	background-color: #000000;
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 20px
}
h1.news_heading2 select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	float: right
}
.product_box_cat {
	float: left;
	height: 450px;
	overflow: hidden;
	width: 290px;
	margin-right: 9px;
	border: 2px solid #eee;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 7px 7px 0 0
}
.product_box_cat:hover {
	float: left;
	height: 450px;
	overflow: hidden;
	width: 290px;
	margin-right: 9px;
	border: 2px solid #999;
	margin-left: 5px;
	border-radius: 7px 7px 0 0
}
.product_box_cat_immagine {
	float: left;
	height: 280px;
	width: 290px;
	overflow: hidden
}
.product_box_content {
	height: 138px;
	width: 290px;
	background-color: #eee;
	background-image: url(../images/box-back.png);
	background-repeat: repeat-x;
	text-align: left;
	margin-left: 0px;
	margin-top: 312px;
	position: absolute;
}
.product_box_content p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	padding: 5px
}
.product_display_box_view_cat {
	width: 250px;
	height: 35px;
	text-align: right;
	margin-left: 33px;
	margin-top: 412px;
	cursor: pointer;
	position: absolute;
}
.social_box_small {
	height: 100px;
	width: 55px;
	float: left;
	text-align: center;
	margin-right: 4px;
	margin-left: 4px;
	padding-top: 10px;
}
.feature-box-rep-left {
	float: left;
	width: 35%;
	height: auto;
	min-height: 50px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 5px;
}
.feature-box-rep-right {
	width: auto;
	float: left;
	text-align: left;
	margin-top: 10px;
	padding: 5px;
	width: 60%;
	margin: 5px;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: -7px;
	left: 100%;
	background-color: #4f4f4f;
}
.dropdown-submenu {
	background: none!important;
	border-radius: 0px;
}
.dropdown-submenu a {
	color: #fff!important;
	background-color: #4f4f4f;
	font-family: Arial, Helvetica, sans-serif!important;
	;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	padding: 9.4px 5px!important;
	;
}
.dropdown-toggle a:hover {
	color: #fff!important;
	background-color: #ad0101;
}
.dropdown-submenu>.dropdown-menu a {
	color: #fff!important;
	background-color: #4f4f4f;
	border-top: 1px solid #484848;
	border-bottom: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	padding: 9.4px 5px;
}
.dropdown-submenu>.dropdown-menu a:hover {
	color: #fff!important;
	background-color: #ad0101;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
}
