/*
==========================
Company: Business India Institute of Finance
CSS Version: Level 2.1 
URL:	www.biif.cin
Author: Sikandar Aazam (www.sikandar.co.in)
==========================
*/
@import "layout.css";
@import "nav.css";
@import "general.css";
@import "typography.css";
@import "form.css";
/*@import "product_display.css";
@import "gallery.css";*/
.catchus{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

Ol.list2 { margin:0px; padding: 0 0 0 270px; }
Ol.list2 li { margin:0px; padding: 0 0 5px 10px; background:url(../images/arrow2.png) no-repeat 0 5px!important; list-style:none;}


Ol.list3 { margin:0px; padding: 0 0 0 5px; }
Ol.list3 li { margin:0px; padding: 0 0 5px 10px; background:url(../images/arrow2.png) no-repeat 0 5px!important; list-style:none;}

