body {
	padding: 10px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}

#pageheader {
	background:#7D52A0 ;
}

#pageheader h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFF;
	font-weight: bold;
	margin: 20px;
}

#topmenu {
	background-color: #015581;
	/*background-color: #015581;*/
	margin-top: 1px;
	height:25px;
}

#topmenu a {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	float: left;
	margin-left: 20px;
	line-height:25px;
	padding: 0px 8px 0px 8px;
}

#topmenu a:hover {
	color: #FFF;
	background-color:#015581;
	text-decoration: none;
}

#pagefooter {
	background-color: #015581;
	/*background-color: #DDDDDD;*/
}

#pagefooter h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
	margin: 5px 20px 5px 20px;
}

.categoryhead {
	background-color:#c7c9ce;
}

.categorylist{
	background-color:#eaecf2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
}

.categorylist .level1 {
	padding-left: 10px;
}

.categorylist a {
	color: #4E4E4E;
	text-decoration: none;
	margin::0px 2px 0px 2px;
}

.categorylist .level2 {
	padding-left: 20px;
}

.categorylist .level3 {
	padding-left: 30px;
}

.categorylist a:hover {
	color: #000;
	text-decoration: underline;
}

.pagehead {
	background:#015581;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #A1ABC7;
	margin-bottom:10px;
	height: 20px;
	padding-left:10px;
}

.pageheadTop {
	color: #015581;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding:20px 0px 10px 15px;
}

.pagecontent a {
	color: #213e8e;
	text-decoration: none;
}

#pagebody ul li {
	float: left;
	list-style-type: none;
}

#pagebody ul {
	margin: 0px;
	padding: 20px;
}

#pagebody .pagecontent {
	padding-left: 0px;
}

.pagecontent a:hover {
	color: #5B7DD9;
	text-decoration: underline;
}

.head{ 
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#015581;
	/*background-color:#FFD7B9;*/
	background:#CEEFFF;
	height:28px;
}
	
.text {
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#535353;
	background:#FFF;
	height:28px;
	border-top-style: none;
	border-right-style: none;
	border-bottom: solid 1px #ffffff;
	border-left-style: none;
}

.text a{
	color:#213e8e;
	text-decoration:none;
}

.text a:hover{
	color:#213e8e;
	text-decoration:underline;
}

form .inpuTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
	width: 200px;
	padding:2px;
}
form .inpuTxtText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
	width: 350px;
	padding:2px;
}
form .inpuTxtSelect {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
}

form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}

form label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

a.nlinks {
	background-image: url(../images/but-bg.jpg);
	background-repeat: repeat-x;
	background-color: #d8dfeb;
	background-position: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	border: 1px solid #CCC;
	height: 22px;
}

.btn{font-family:Arial, Helvetica, sans-serif; font-size:12px; border:double 2px #FFFFFF; color:#FFFFFF; background-color:#015581; cursor:pointer }


form .inputton {
font-family:Arial, Helvetica, sans-serif;
font-size:12px; 
border:double 3px #FFFFFF; 
color:#FFFFFF; 
background-color:#015581; 
cursor:pointer
}

/*form .inputton {
	background-image: url(../images/but-bg.jpg);
	background-repeat: repeat-x;
	background-color: #d8dfeb;
	background-position: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	border: 1px solid #ccc;
	/*height: 20px;*/
	/*padding:1px;
	cursor:pointer;
}*/

.redstar {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
}

.pHeadLine{
	background:#CCCCCC;
	height:3px;
}

.tblBorder{
	border:1px solid #CCCCCC;
}

.topRight{
	font:11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:right;
	padding-right:20px;
}

.topRight a{
	color:#FFFFFF;
	text-decoration:underline;
}

.topRight a:hover{
	color:#FFFFFF;
	text-decoration:none;
}

.saperator{
	padding:5px;
}

.headLink{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
}

.headLink ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.headLink ul li{
	display:block;
	float:right;
	color:#ffffff;
	/*background:url(../images/linkbg.gif) repeat-x;*/
	background-color:#015581;
	margin-right:10px;
	padding:2px 5px 2px 5px;
	border:1px solid #69748C;
}

.headLink ul li a{
	color:#ffffff;
	text-decoration:none;
	
}

.headLink ul li a:hover{
	color:#ffffff;
	text-decoration:none;
}

.pad{
	padding-left:15px;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #F00;
    font-weight: normal;
    display: block;
    border: 1px solid #FF9191;
    background-image: url(../images/error.gif);
    background-repeat: no-repeat;
    background-color: #FFC6C6;
    vertical-align: middle;
    height: 18px;
    margin: 0px;
    padding-left: 30px;
    padding-top: 7px;
}

.success {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     color: #060;
     font-weight: normal;
     display: block;
     border: 1px solid #B1CFB1;
     background-image: url(../images/success.gif);
     background-repeat: no-repeat;
     background-color: #D1E3D1;
     vertical-align: middle;
     height: 18px;
     margin: 0px;
     padding-left: 30px;
     padding-top: 7px;
}

.oldpr{
	text-decoration: line-through;
}

.newpr{
	color: #FF0000;
	font-weight: bold;
}

#dhtmltooltip{
	position: absolute;
	width: 250px;
	border: 2px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}


.text_front {
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#535353;
	background:#ffffff;
	height:28px;
	border-top-style: none;
	border-right-style: none;
	border-bottom: solid 1px #ffffff;
	border-left-style: none;
}


.bdr_top{border-top:1px solid #e6e6e6;}
.bdr_bottom{ border-bottom:1px solid #e6e6e6;}
.bdr_right{ border-right:1px solid #e6e6e6;}
.bdr_left{border-left:1px solid #e6e6e6;}
a { margin:0px; padding:0px; color:#015581; text-decoration: none; outline:none;}
a:hover { text-decoration: none; outline:none; border: none; margin:0px; padding:0px; color:#000000;}