@charset "utf-8";
/* CSS Document */

body, form, input, textarea, select, option	{font:normal 13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#666;}

h1{color:#000; font:normal 25px Georgia, "Times New Roman", Times, serif;}	
h2{color:#000; font:normal 20px Georgia, "Times New Roman", Times, serif;}
h3{color:#000; font:normal 17px Georgia, "Times New Roman", Times, serif;}
.slogan	{font:normal 25px Georgia, "Times New Roman", Times, serif;}
.slideContent p{font:normal 18px Georgia, "Times New Roman", Times, serif;}

.slogan { font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal;}

