*, ol, ul {
	list-style:none
}
.search_extra, .top_search_1 {
	height:auto;
	position:absolute
}
.follo_top_bottom a, .follo_top_bottom a:hover, .link_box a, a.tab_button {
	text-decoration:none
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, command, datalist, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, source, span, strike, strong, sub, sup, table, tbody, tdvideo, tfoot, th, thead, tr, tt, u, ul, var {
	background:0 0;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}
mark, rp, rt, ruby, summary, time {
	display:inline
}
.bottom_middle_text ul li {
	padding-left:0;
	margin-left:30px;
	list-style:square
}
.bottom_middle_text ul li ul li {
	padding-left:0;
	margin-left:30px;
	list-style:circle
}
blockquote, q {
	quotes:none
}
embed, img {
	vertical-align:top
}
* {
	border:none
}
body {
	margin:0;
	padding:0;
	background-image:url(../images/background.jpg);
	background-repeat:repeat-x;
	background-color:#fff;
	cursor:default
}
@media only screen and (min-width:180px) and (max-width:767px) {
#bottom_main_left, .bread-crum, .product_nomob, .top_search, .top_search_2 {
display:none
}
.search_extra, .top_search_1 {
height:auto;
position:absolute
}
.search_extra {
margin-top:50px!important;
width:75%;
z-index:99999999;
float:left;
margin-left:24%
}
#logo {
text-align:center
}
#logo p {
float:left;
padding-top:26px
}
#logo img {
width:150px!important;
margin-top:15px
}
#category_banner {
width:97.5%!important
}
#wrapper, .top_search {
width:98%
}
#wrapper {
overflow:hidden
}
.navbar-default {
margin-top:-108px!important;
margin-bottom:50px!important
}
.top_search_1 {
width:70%;
z-index:111;
margin-top:0
}
.call_to_action {
z-index:9;
text-align:right;
float:right;
width:100%;
margin-top:102px;
margin-left:-3px;
position:fixed
}
}
@media only screen and (min-width:770px) and (max-width:1024px) {
.search_extra, .top_search_1 {
height:auto;
position:absolute
}
#bottom_main_left, .bread-crum, .call_to_action, .product_nomob, .top_search, .top_search_2 {
display:none
}
.search_extra {
margin-top:50px!important;
width:75%;
z-index:99999999;
float:left;
margin-left:24%
}
#logo {
text-align:center
}
#logo p {
float:left;
padding-top:26px
}
#logo img {
width:150px!important;
margin-top:15px
}
#category_banner {
width:97.5%!important
}
#wrapper, .top_search {
width:98%
}
#wrapper {
overflow:hidden
}
.navbar-default {
margin-top:-108px!important;
margin-bottom:50px!important
}
.top_search_1 {
width:70%;
z-index:111;
margin-top:0
}
}
@media only screen and (min-width:1025px) {
#wrapper {
width:1168px
}
.top_search {
width:69.5%
}
.product_mob {
height:auto;
width:100%;
position:absolute;
z-index:999999999999;
margin-left:-90000000px!important
}
.call_to_action {
display:none
}
}
.search_extra {
	width:70%;
	z-index:99999999999999999999;
	margin-top:-500px
}
.top_search_1 {
	z-index:111;
	margin-top:0
}
.search-form .form-group {
	float:right!important;
transition:all .35s, border-radius 0s;
	width:32px;
	height:32px;
	background-color:#fff;
	box-shadow:0 1px 1px rgba(0, 0, 0, .075) inset;
	border-radius:25px;
	border:1px solid #ccc
}
.search-form .form-group input.form-control {
	padding-right:20px;
	border:0;
	background:0 0;
	box-shadow:none;
	display:block
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
display:none
}
.search-form .form-group input.form-control:-moz-placeholder {
display:none
}
.search-form .form-group input.form-control::-moz-placeholder {
display:none
}
.search-form .form-group input.form-control:-ms-input-placeholder {
display:none
}
.search-form .form-group.hover, .search-form .form-group:hover {
	width:98%;
	border-radius:25px;
	background-color:rgba(255, 255, 255, .9)
}
.search-form .form-group span.form-control-feedback {
	position:absolute;
	top:-1px;
	right:-2px;
	z-index:2;
	display:block;
	width:34px;
	height:34px;
	line-height:34px;
	text-align:center;
	color:#3596e0;
	left:initial;
	font-size:14px
}
.principale .contenitore, .principale1 .contenitore {
	top:0;
	left:0;
	background-color:#fff;
	position:absolute
}
.top_search {
	float:left;
	height:42px;
	background-repeat:no-repeat;
	margin-top:25px;
	margin-left:5px;
	padding:2px 2px 5px 5px;
	border:1px solid #CCC;
	border-radius:5px
}
#wrapper {
	height:auto;
	min-height:800px;
	margin:auto
}
#top_wrapper {
	width:100%;
	height:auto;
	min-height:115px;
	float:left;
	padding-top:7px
}
#logo {
	width:340px;
	height:auto;
	min-height:70px;
	float:left;
	padding-left:10px;
	padding-top:10px
}
#logo h1 {
	margin:0!important;
	padding:0!important
}
.logo_slogan {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:10px;
	color:#fff;
	padding-top:14px;
	letter-spacing:-.5px
}
#bottom_main {
	width:100%;
	height:auto;
	min-height:100px;
	float:left;
	margin-top:5px;
	background-color:#fff;
	padding-left:2px;
	padding-top:3px;
	border-radius:3px;
	border:1px solid #e7e6e6
}
#bottom_main_left {
	max-width:223px;
	width:auto;
	height:auto;
	min-height:250px;
	float:left;
	background-color:#fff
}
.container_rgt_frmtext, .container_rgt_frmtextarea {
	width:210px;
	float:left;
	margin:8px 0 0 7px;
	color:#000;
	font-family:calibri;
	font-weight:400;
	font-size:12px;
	text-align:justify;
	outline:0
}
.container_rgt_frmtext {
	height:27px;
	background-color:#fff;
	box-shadow:0 0 5px rgba(117, 112, 112, .4);
	padding-left:5px;
	border-radius:0 5px 5px 0;
	border:1px solid #999
}
.container_rgt_frmtext:focus {
	background-color:#ffc800
}
.container_rgt_frmtextarea {
	height:55px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:2px;
	box-shadow:0 0 5px rgba(41, 39, 39, .4);
	padding:10px 0 0 5px
}
.contact_form_but, .contact_form_but:hover {
	height:30px;
	min-width:116px;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:700;
	font-size:11px;
	padding-left:0;
	float:right;
	width:auto;
	line-height:15px;
	cursor:pointer
}
.container_rgt_frmtextarea:focus {
	background-color:#ffc800
}
.contact_form_but {
	border:0 solid #666;
	border-radius:0;
	margin:9px 12px 5px 0;
	background:url(../images/send.png) right no-repeat
}
.contact_form_but:hover {
	border:0 solid #666;
	border-radius:0;
	margin:9px 11px 5px 0;
	background:url(../images/send-h.png) right no-repeat
}
#livesearch {
	z-index:9999999999999;
	position:absolute;
	margin-top:3px;
	margin-left:-5px;
	background-color:#fff
}
#livesearch a.search_indi {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	color:#333;
	font-size:12px;
	margin-left:0;
	padding-left:5px;
	text-decoration:none
}
.header_link {
	height:44px;
	width:224px;
	border:1px solid #ccc;
	border-radius:10px 10px 0 0;
	float:left;
	background:-webkit-linear-gradient(#ed3237, #c30000);
	background:-o-linear-gradient(#ed3237, #c30000);
	background:-moz-linear-gradient(#ed3237, #c30000);
	background:linear-gradient(#ed3237, #c30000);
	margin-top:0;
	font-weight:700;
	font-size:12px;
	color:#FF0;
	padding-left:8px;
	padding-top:4px;
	font-family:Noto Sans, Arial, Helvetica, sans-serif
}
.link_box, .link_box1 {
	width:225px
}
.link_box, .link_box:hover {
	background-repeat:repeat-x
}
.link_box a, .search_text {
	font-family:Verdana, Geneva, sans-serif
}
.link_box {
	height:24px;
	float:left;
	background-image:url(../images/link-back.jpg);
	padding-top:10px;
	padding-left:5px
}
.link_box1, .link_box2 {
	height:4px;
	float:left
}
.link_box2 {
	width:230px;
	margin-bottom:4px;
	background-color:#999;
	border-radius:50%
}
.link_box a {
	font-weight:700;
	font-size:10px;
	color:#fff
}
.link_box:hover {
	height:24px;
	width:225px;
	float:left;
	background-image:url(../images/link-back-h.jpg);
	cursor:pointer
}
#bottom_main_right {
	width:100%;
	max-width:938px;
	height:auto;
	min-height:550px;
	float:right;
	background-color:#FFF;
	padding-bottom:10px;
	background-image:url(../images/left-back-1.png);
	background-position:left;
	background-repeat:repeat-y;
	padding-left:5px
}
.search_text {
	width:80%;
	float:left;
	height:30px;
	background-repeat:no-repeat;
	border:none;
	padding:3px 0 0 5px;
	margin:0;
	outline:0;
	font-weight:400;
	font-size:14px;
	color:#444
}
.top_search_category, select.top_search_category option {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700
}
.top_search_category {
	width:150px;
	margin-right:2px;
	background-color:#eee;
	height:36px;
	padding:5px 2px 5px 5px;
	vertical-align:bottom;
	color:#666;
	border:1px solid #ccc!important;
	border-radius:5px 0 0 5px!important;
	font-size:11px!important;
	outline:0
}
select.top_search_category option {
	padding:8px 3px 8px 10px;
	color:#fff;
	background-color:#4f4f4f;
	border-top:1px solid #999;
	border-bottom:1px solid #333;
	cursor:pointer;
	font-size:12px!important;
	-webkit-appearance:none
}
.search_but {
	border-radius:0;
	float:right;
	margin-right:.9px
}
.filter_cate_main_middle, .filter_cate_main_middle:hover {
	float:left;
	max-width:200px;
	background-repeat:repeat-x;
	padding-left:5px;
	padding-right:5px;
	font-weight:700;
	min-width:80px
}
.filter_cate_main_middle {
	width:auto;
	height:22px;
	background-image:url(../images/filter_center.jpg);
	padding-top:9px;
	color:#390;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	border-radius:5px;
	border:0 solid #000;
	margin-top:25px
}
.filter_cate_main_middle:hover {
	width:auto;
	height:23px;
	background-image:url(../images/filter_center.jpg);
	padding-top:8px;
	color:red
}
.follo_top_bottom, .follo_top_bottom a {
	color:#333;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700
}
.follo_top_top {
	padding-top:24px;
	padding-left:10px;
	width:122px;
	height:35px;
	text-align:right;
	float:right
}
.follo_top_bottom {
	width:100%;
	height:auto;
	min-height:18px;
	float:left;
	text-align:right
}
.follo_top_bottom a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	color:red;
	font-size:11px
}
.new_products_text, .new_products_title {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px
}
.follo_top_bottom img.top_con {
	width:13px;
	vertical-align:text-top
}
.new_products_main {
	width:230px;
	height:auto;
	min-height:100px;
	float:left;
	border-bottom:1px solid #ccc;
	background-color:#fff
}
.new_products_title {
	width:230px;
	min-height:20px;
	height:auto;
	font-weight:700;
	padding-left:7px;
	margin-top:10px;
	color:rgba(10, 51, 51, .9)
}
.new_products_images_text {
	width:230px;
	min-height:30px;
	height:auto;
	float:left
}
.category_tab, .new_products_images, .new_products_text {
	height:auto;
	min-height:50px
}
.new_products_images {
	width:80px;
	float:left;
	text-align:center;
	padding-left:5px;
	overflow:hidden
}
.new_products_text {
	width:135px;
	margin-left:10px;
	font-weight:400;
	color:rgba(51, 51, 51, .9);
	line-height:15px
}
.view_more_new_pro {
	float:right;
	margin-bottom:5px;
	margin-right:5px;
	margin-top:5px;
	width:55px;
	cursor:pointer;
	border:0
}
.category_tab {
	width:100%;
	float:left;
	background-color:#f3f3f3;
	margin-top:5px;
	border-radius:3px;
	border:1px solid #ddd;
	padding:5px 5px 0;
	text-align:center
}
.category_tab div {
	margin:0;
	padding:0;
	display:inline-block
}
a.tab_button, a.tab_button:hover {
	width:auto;
	min-width:100px;
	height:36px;
	display:inline-block;
	padding:10px 6px 6px;
	margin-right:5px;
	margin-bottom:5px;
	color:#fff;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700
}
a.tab_button {
	background-color:#414141;
	border-radius:4px;
	border:1px solid #000;
	background-image:url(../images/but.jpg);
	background-repeat:repeat
}
.product_display_box, .subscribeHover, .top_footer1 a {
	background-repeat:no-repeat
}
a.tab_button:hover {
	background-color:#ad0101;
	border-radius:4px;
	border:1px solid #ccc;
	text-decoration:underline
}
.bottom_middle_ads, .bottom_middle_text {
	height:auto;
	min-height:50px;
	width:100%
}
.bottom_middle_text {
	float:left;
	background-color:#fff;
	margin-top:5px;
	border-radius:3px;
	border:1px solid #ddd;
	padding:2px 5px 5px;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	line-height:18px;
	color:#000;
	text-align:justify
}
.bottom_middle_ads {
	float:left;
	margin:5px 0 5px 4px;
	border:1px solid #aaa;
	border-radius:5px;
	overflow:hidden
}
.product_display, .product_display_cms {
	min-height:100px;
	height:auto;
	float:left
}
.product_display {
	width:100%
}
.product_display_cms {
	width:90%
}
.product_display_head, .product_display_head_a h3 a {
	width:98%;
	min-height:37px;
	height:auto;
	float:left;
	background-image:url(../images/pro-heading.jpg);
	background-repeat:no-repeat;
	margin:6px 0 10px 6px;
	font-family:Calibri;
	font-size:13px;
	text-transform:uppercase;
	font-weight:700;
	line-height:22px;
	color:#333;
	text-align:left;
	padding:8px 0 0 35px
}
.product_display_box {
	width:218px;
	height:313px;
	float:left;
	background-image:url(../images/pro-back.jpg);
	margin-left:17px;
	margin-bottom:10px
}
.product_display_box_img {
	width:209px;
	height:135px;
	float:left;
	text-align:center;
	margin-left:6px;
	margin-top:15px
}
.product_display_box_text {
	width:209px;
	height:112px;
	float:left;
	text-align:left;
	margin-left:6px;
	overflow:hidden
}
.product_display_box_text h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:12px;
	color:#4a0000;
	margin-top:17px;
	margin-bottom:3px
}
.product_display_box_text p {
	font-family:Arial;
	font-weight:400;
	font-size:11px;
	color:#333;
	padding-right:3px;
	line-height:16px;
	text-align:justify
}
.popular_category, .top_footer h5 {
	font-family:Verdana, Geneva, sans-serif
}
.product_display_box_view {
	width:250px;
	height:35px;
	text-align:right;
	margin-left:85px;
	margin-top:105px;
	cursor:pointer;
	position:absolute
}
.product_display_box_first {
	margin-left:4px
}
.footer {
	clear:both;
	color:#fff;
	display:block;
	margin:0 auto;
	width:100%;
	min-width:240px;
	padding:20px 10px 0 20px;
	height:auto;
	float:left;
	min-height:290px;
	border-top:3px solid rgba(187, 13, 0, 1);
	background-color:#333
}
.top_footer {
	height:auto;
	min-height:90px;
	width:90%;
	margin:auto;
	padding-top:10px
}
.popular_category, .popular_category_logo {
	margin-right:10px;
	min-height:58px;
	height:auto;
	float:left
}
.top_footer h5 {
	font-size:13px;
	color:#FC0;
	padding:0
}
.popular_category, .popular_category a {
	color:#fff;
	text-decoration:none
}
.popular_category_logo {
	width:200px;
	text-align:center
}
.popular_category {
	width:auto;
	max-width:667px;
	margin-left:6px;
	border-left:1px dotted #999;
	border-right:1px dotted #999;
	padding:0 7px 0 10px;
	font-size:10px;
	line-height:16px
}
.popular_category a, .popular_category a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:700
}
.popular_category a:hover {
	color:red;
	text-decoration:underline
}
.social_apps {
	height:auto;
	min-height:58px;
	width:250px;
	float:left
}
.social_apps img {
	padding-top:5px;
	padding-right:5px
}
.footer_box {
	height:auto;
	min-height:135px;
	width:270px;
	float:left;
	border-right:1px dotted #ddd;
	padding-left:15px
}
.top_footer1 {
	height:auto;
	min-height:138px;
	width:90%;
	margin:35px auto auto;
	border-top:1px dotted #CCC;
	padding-top:10px
}
.top_footer1 h5 {
	font-size:13px;
	color:#FC0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	line-height:22px
}
.footer_box_form, .top_footer1 a {
	padding-left:15px;
	font-family:Verdana, Geneva, sans-serif
}
.top_footer1 a {
	color:#fff;
	font-size:11px;
	text-decoration:none;
	line-height:25px;
	background-image:url(../images/play-h.png);
	background-size:contain;
	background-position:0 -1px;
	margin-left:0
}
.top_footer1 a:hover {
	color:red;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-decoration:underline
}
.footer_box_form {
	height:auto;
	min-height:135px;
	width:295px;
	float:left;
	color:#666;
	font-size:14px
}
a.bottom_contact, a.bottom_contact:hover {
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif
}
.subscribeHover {
	background-image:url(../images/homepage-sprite.png);
	background-position:0 0;
	height:34px;
	float:left;
	width:250px;
	padding-left:5px;
	padding-top:0;
	padding-bottom:8px;
	border-bottom:1px dotted #ccc;
	margin-right:40px
}
a.bottom_contact {
	color:#fff;
	text-decoration:none;
	line-height:20px;
	background:0 0;
	padding-left:0;
	margin-left:0
}
a.bottom_contact:hover {
	color:red;
	text-decoration:underline
}
#menu>li a, #menu>li>ul>li ul>li:hover>span, #menu>li>ul>li:hover>span {
	color:#fff
}
#userEmailId {
	width:207px;
	outline:0
}
.btn_submit {
	background-image:url(../images/homepage-sprite.png);
	background-repeat:no-repeat;
	background-position:-262px -2px;
	height:30px;
	width:32px;
	margin-top:2px;
	cursor:pointer;
	vertical-align:middle
}
#menu, * {
	margin:0
}
.copyrighter {
	height:auto;
	min-height:35px;
	width:100%;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	font-size:11px;
	color:#fff;
	padding-top:10px;
	float:left;
	text-align:center
}
* {
	padding:0;
	font-size:1em
}
#menu>li a, #menu>li a:hover {
	width:225px;
	background-repeat:repeat-x;
	padding-top:10px;
	padding-left:5px;
	height:24px;
	float:left
}
#menu {
	width:225px
}
#menu>li {
	float:left
}
#menu>li a {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:11px;
	text-decoration:none;
	background-image:url(../images/link-back.jpg)
}
#menu>li a:hover {
	background-image:url(../images/link-back-h.jpg);
	cursor:pointer
}
#menu>li>ul {
	display:none;
	background:#08a;
	margin-left:230px;
	margin-top:-1px;
	z-index:9999999999999999999;
	position:absolute;
	border:1px solid #fff
}
#menu>li:hover>ul {
	display:block;
	position:absolute
}
#menu>li>ul>li>span {
	display:block;
	padding:0;
	border-top:solid 0 #fff
}
#menu>li>ul>li:hover {
	display:block;
	margin-top:0
}
#menu>li>ul li:hover>ul {
	display:block;
	position:absolute;
	left:100%;
	border:1px solid #fff;
	top:0;
	width:auto;
	background-color:#003
}
#menu>li>ul li>ul li a:hover {
	height:24px;
	width:225px;
	float:left;
	background-image:url(../images/link-back-h.jpg);
	background-repeat:repeat-x;
	cursor:pointer;
	padding-top:10px;
	padding-left:5px;
	text-decoration:underline
}
#menu>li>ul>li ul>li {
	display:block;
	padding:0;
	white-space:nowrap;
	border:0 solid #CCC
}
.tabellainizio {
	margin-top:100px
}
.bordini {
	border:1px solid #DDD
}
.principale, principale:hover {
	height:321px;
	width:290px;
	position:relative;
	float:left;
	border:1px solid #CCC;
	margin-left:14px;
	margin-bottom:20px;
	border-radius:5px 5px 0 0
}
.principale .contenitore {
	height:301px;
	width:290px;
	display:block;
	border-radius:5px 5px 0 0
}
.principale1, principale1:hover {
	position:relative;
	margin-left:14px;
	margin-bottom:20px;
	height:321px;
	width:290px;
	float:left
}
.principale1 {
	border:1px solid #CCC;
	border-radius:5px 5px 0 0;
	overflow:hidden
}
principale1:hover {
	border:1px solid #CCC;
	border-radius:5px 5px 0 0
}
.principale1 .contenitore {
	height:321px;
	width:290px;
	display:block;
	border-radius:5px 5px 0 0
}
.heading_products, .heading_products1, h3  {
	min-height:15px;
	height:auto;
	display:inline;
	background-color:#1e1e1e;
	font-weight:700;
	color:#fdb915;
	padding-top:7px;
	padding-bottom:3px;
	background-image:url(../images/product-head.png);
	border-radius:5px 5px 0 0;
	border-bottom:6px solid #252423;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px!important;
	background-repeat:repeat-x;
	overflow:hidden
}
.heading_products {
	width:100%;
	float:left;
	text-align:center
}
.heading_products1 {
	width:100%;
	float:left;
	text-align:center;
	text-decoration:none
}
.immagine, .immagine:hover {
	height:290px;
	width:100%;
	text-align:center;
	float:left
}
.immagine {
	opacity:1;
	filter:alpha(opacity=100)
}
.immagine:hover {
	opacity:.8;
	filter:alpha(opacity=80)
}
.content {
	display:none;
	height:160px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	font-size:12px;
	color:#333;
	text-align:justify;
	line-height:16px;
	position:absolute;
	z-index:999999999999999;
	margin-top:250px
}
#pagewrap, .contenitore:hover .immagine {
	position:relative
}
.content p {
	padding:5px;
	background-color:rgba(0, 0, 0, .15);
	color:#111;
	background-image:url(../images/text-back.png);
	background-repeat:repeat-x;
	background-position:top
}
.contenitore:hover .content {
	display:block
}
h3.product_heading {
	color:#FF0;
	background-color:#3c3c3c;
	padding:6px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	white-space:nowrap
}
#category_banner {
	height:auto;
	width:99.5%;
	max-width:935px;
	float:left;
	border-radius:5px;
	border:1px solid #CCC;
	overflow:hidden;
	margin-left:3.5px
}
#category_banner img {
	height:auto;
	max-height:326px
}
.category_heading {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:700;
	font-size:18px;
	color:#222;
	border-bottom:1px solid #CCC;
	padding:6px 0 5px 20px;
	background-image:url(../images/icon.png);
	background-repeat:no-repeat;
	background-position:0 7px;
	margin-bottom:7px;
	margin-top:2px
}
.bread-crum {
	border:1px solid #CCC;
	height:auto;
	width:98.5%;
	max-width:935px;
	float:left;
	margin-bottom:4px;
	border-radius:7px;
	background-color:#f5f6f7;
	box-shadow:0 2px 3px #666;
	margin-left:3px
}
.bread-crum-box-1, .bread-crum-box-2 {
	height:32px;
	width:auto;
	min-width:25px;
	float:left;
	color:#f4f400;
	font-weight:700;
	background-color:#3c3c3b;
	background-image:url(../images/link-location-arrow-f.jpg);
	background-repeat:no-repeat;
	background-position:right;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif
}
.bread-crum-box-1 {
	margin-bottom:4px;
	border-radius:7px 0 0 7px;
	padding:8px 10px 0;
	font-size:13px;
	background-size:contain
}
.bread-crum-box-2 {
	max-width:319px;
	padding:9px 10px 0 5px;
	font-size:10px
}
.bread-crum-box, .bread-crum-box-sl {
	height:32px;
	width:auto;
	min-width:25px;
	float:left;
	background-repeat:no-repeat;
	background-position:top right;
	padding:9px 15px 0 10px;
	color:#444;
	text-decoration:none;
	font-weight:700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px
}
.bread-crum-box {
	background-image:url(../images/link-location-arrow.png);
	text-align:center
}
.bread-crum-box-sl {
	background-image:url(../images/link-location-arrow-sl.png);
	text-align:center
}
.bread-crum-box-first, .last_bread_cum {
	min-width:25px;
	background-image:url(../images/link-location-arrow.png);
	background-repeat:no-repeat;
	background-position:top right;
	padding:5px 10px 0 5px;
	text-align:center;
	width:auto;
	float:left
}
.bread-crum-box-first {
	height:31px
}
.last_bread_cum {
	height:28px
}
.bread-crum-box a {
	text-align:center;
	color:#444;
	font-weight:700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none
}
.bread-crum-box a:hover {
	text-align:center;
	color:red;
	font-weight:700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline
}
.product_main {
	height:auto;
	min-height:150px;
	max-width:932px;
	width:auto;
	float:left;
	margin-top:3px;
	border:1px solid #ddd;
	border-radius:7px
}
.product_main_left {
	height:auto;
	min-height:150px;
	max-width:671px;
	width:auto;
	float:left;
	paddgin-right:9px
}
.product_description_sep {
	height:auto;
	width:100%;
	min-height:10px;
	float:left;
	box-shadow:0 3px 5px rgba(0, 0, 0, .4);
	overflow:hidden;
	background-color:#f3f3ed;
	margin-bottom:10px
}
.product_description_sep1 {
	height:auto;
	width:100%;
	float:left;
	box-shadow:0 -2px 5px rgba(0, 0, 0, .4);
	overflow:hidden;
	background-color:#f3f3ed;
	margin-top:5px
}
.product_description {
	height:auto;
	width:100%;
	min-height:50px;
	float:left;
	background-color:#fff
}
.product_description p {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	font-size:13px;
	color:#333;
	line-height:18px;
	padding:5px;
	text-align:justify
}
.pro_heading, .product_description_heading {
	width:100%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	float:left;
	font-weight:700;
	display:block
}
.product_description_heading {
	color:#333;
	line-height:18px;
	padding:0 0 5px 5px;
	text-decoration:underline
}
.pro_heading {
	height:auto;
	min-height:25px;
	margin-top:5px;
	color:#000;
	padding:10px;
	background-color:#f8f8f6;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	text-align:left
}
.pro_images {
	height:auto;
	min-height:150px;
	width:530px;
	float:left;
	text-align:center;
	margin-left:15px
}
.thumbs_main {
	width:110px;
	height:500px;
	min-height:50px;
	overflow:auto;
	float:left
}
.product_thumbs, .product_thumbs:active {
	width:60px;
	height:60px;
	padding:5px;
	background-color:#f3f3ed;
	margin:10px 10px 0;
	text-align:center;
	cursor:pointer
}
.product_thumbs {
	border:1px solid #CCC;
	float:right
}
.product_thumbs:active {
	border:5px solid #333;
	float:right
}
.product_features_dts, .product_features_dts ul {
	width:100%;
	color:#1ba3f9;
	font-family:calibri;
	font-size:13px
}
.product_features_dts {
	min-height:35px;
	height:auto;
	margin:10px 0;
	border-bottom:1px solid #CCC;
	float:left
}
.product_features_dts ul {
	height:34px;
	float:left;
	list-style-type:none
}
.product_features_dts ul li, .product_features_dts ul li.detault_tab_color {
	height:40px;
	width:auto;
	font-family:calibri;
	font-size:15px;
	padding:8px 10px 3px;
	margin-right:2px;
	float:left;
	list-style-type:none
}
.product_features_dts ul li {
	color:#fff!important;
	background-color:#f8f8f6;
	border:1px solid #CCC;
	border-radius:5px 5px 0 0
}
.product_features_dts ul li:hover {
	color:#333!important;
	border:1px solid #CCC;
	border-bottom:none;
	background-color:#000!important;
	float:left
}
.product_features_dts ul li.detault_tab_color {
	color:#fce700!important;
	background-color:#d80000;
	border:1px solid #CCC;
	border-radius:5px 5px 0 0
}
.product_features_dts ul li span {
	color:#000;
	text-decoration:none;
	font-weight:700
}
.product_features_dts ul li:hover span {
	color:#fff!important;
	text-decoration:none;
	font-weight:700;
	cursor:pointer
}
.product_features_text {
	height:auto;
	min-height:100px;
	width:99%;
	margin:0 0 10px 5px;
	padding-bottom:5px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	float:left;
	line-height:20px
}
.product_features_text strong {
	color:#333;
	font-family:calibri;
	font-size:14px;
	font-weight:700
}
.product_features_text p, .product_features_text ul, .product_features_text ul li {
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	padding:0;
	font-size:13px;
	float:left;
	height:auto
}
.product_features_text p {
	text-align:justify;
	margin:0;
	font-weight:lighter;
	line-height:18px
}
.product_features_text ul {
	min-height:15px;
	margin:0
}
.product_features_text ul li {
	min-height:14px;
	text-decoration:none;
	list-style-type:disc;
	margin-left:25px;
	width:600px
}
.product_features_text table {
	width:100%!important
}
.product_features_text table tr td {
	border:1px solid #eee;
	font-size:12px;
	font-weight:400!important
}
.product_features_text table tr td ul li {
	font-size:13px;
	width:auto
}
.product_standard_text {
	height:auto;
	min-height:100px;
	width:641px;
	margin:10px 30px;
	color:#1ba3f9;
	font-family:calibri;
	font-size:13px;
	float:left
}
.product_standard_text ul, .product_standard_text ul li {
	color:#333;
	font-family:calibri;
	padding:0;
	font-size:13px;
	float:left;
	height:auto
}
.product_standard_text ul {
	min-height:50px;
	width:334px;
	margin:0
}
.product_standard_text ul li {
	min-height:20px;
	width:325px;
	text-decoration:none;
	list-style-type:disc;
	margin-left:30px
}
.features_heading {
	background-color:#eee;
	padding:5px
}
#pro_details2, #pro_details3, #pro_details4, #pro_details5, #pro_details6 {
	display:none;
	border:none
}
#pro_details2 table {
	border:1px solid #CCC;
	border-bottom:none
}
#pro_details2 table th {
	border-right:1px solid #CCC;
	background-color:#f6f9fe
}
#pro_details2 table td {
	background-color:#fff;
	font-weight:700
}
#pro_details2 table tr th, td {
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	border-bottom:1px solid #CCC;
	padding:5px;
	font-weight:700
}
.product_main_right {
	height:auto;
	min-height:575px;
	width:256px;
	float:left;
	background-image:url(../images/product-right.jpg);
	background-repeat:repeat-y;
	background-position:left top;
	overflow:hidden
}
.right_product_heading, .right_product_heading1 {
	height:36px;
	width:246px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	color:#fff;
	padding-left:8px;
	padding-top:9px;
	background-color:#3c3c3b;
	font-weight:700;
	overflow:hidden;
	font-size:12px
}
.right_product_heading {
	margin:5px 5px 0;
	border:2px solid #CCC;
	border-bottom:none;
	border-radius:7px 7px 0 0
}
.right_product_heading1 {
	margin:15px 5px 0;
	border:2px solid #CCC;
	border-radius:7px 7px 0 0
}
.quick_info_main, .quick_info_main1 {
	min-height:20px;
	border:1px solid #CCC;
	height:auto;
	float:left;
	margin-bottom:25px
}
.quick_info_main1 {
	width:99%;
	margin-left:0
}
.quick_info_main {
	width:96%;
	margin-left:5px
}
.quick_info_main_img {
	height:auto;
	min-height:100px;
	width:100%;
	text-align:center;
	border:5px solid #CCC;
	margin:auto
}
.quick_info_main_details {
	height:auto;
	min-height:50px;
	width:99.5%;
	text-align:left;
	float:left;
	background-color:#efefef;
	margin-top:6px;
	margin-bottom:6px;
	border-radius:5px;
	border:0 solid #ccc
}
.quick_info_main_details_blog_text, .quick_info_main_details_blog_tit {
	margin-bottom:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	height:auto;
	float:left
}
.quick_info_main_details_1 {
	height:auto;
	min-height:10px;
	width:99%;
	text-align:left;
	float:left;
	background-color:#eee;
	margin-top:5px;
	padding:7px 0 7px 5px;
	border-radius:0;
	background-image:url(../images/back-article.jpg);
	background-position:left;
	background-size:contain
}
.quick_info_main_details_blog_tit {
	width:99.1%;
	background-color:#eee;
	padding:.5% 4px .5% .5%;
	font-weight:700;
	color:#000;
	margin-top:0
}
.quick_info_main_details_blog_text img {
	display:none
}
.quick_info_main_details_blog_text {
	width:99%px;
	padding:5px;
	color:#333
}
.contact_details_left, .contact_details_right, .contact_details_right a {
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700
}
.contact_details_left {
	color:red;
	float:left;
	width:auto;
	min-width:80px
}
.contact_details_right {
	color:#333
}
.contact_details_right a {
	color:#069;
	text-decoration:none
}
.download_details_left_left {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:11px;
	color:#fff;
	float:left;
	width:93px;
	background-color:#333;
	height:26px;
	border:0 solid #666;
	border-radius:3px 0 0 3px;
	text-align:left;
	padding-top:10px;
	padding-left:5px
}
.download_details_left, .download_details_left a {
	width:245px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:10px;
	float:left
}
.download_details_left {
	color:#333;
	padding-bottom:0
}
.download_details_left a {
	color:#ffe400;
	text-decoration:none;
	margin-left:9px;
	display:block;
	padding-top:16px;
	height:25px
}
.download_details_left a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:10px;
	color:#fff!important;
	text-decoration:none;
	margin-left:5px;
	padding-left:4px;
	border-radius:5px;
	width:239px;
	display:block;
	padding-top:8px;
	margin-top:8px;
	float:left;
	height:21px;
	background-color:rgba(0, 0, 0, .3)
}
.video_main {
	height:auto;
	min-height:100px;
	width:800px;
	float:left;
	border:5px solid #CCC;
	margin-left:63px;
	margin-top:0;
	margin-bottom:25px
}
.video_main_sm, .video_text {
	float:left;
	border:1px solid #CCC
}
.video_main_sm {
	height:330px;
	width:284px;
	margin-right:4px;
	margin-left:15px;
	margin-bottom:25px;
	border-radius:6px;
	overflow:hidden
}
.video_main_sm_play, .video_main_sm_play:hover {
	height:80px;
	width:285px;
	z-index:999999;
	position:absolute;
	margin-left:0;
	border:0 solid #333;
	background-repeat:no-repeat;
	background-position:center 30px;
	margin-top:146px;
	padding-top:10px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	cursor:pointer
}
.video_main_sm_play {
	background-color:rgba(255, 255, 255, .8);
	background-image:url(../images/play-h.png);
	color:red
}
.video_main_sm_play:hover {
	background-color:rgba(0, 0, 0, .8);
	background-image:url(../images/play.png);
	color:#FF0
}
.video_heading {
	height:auto;
	min-height:15px;
	width:100%;
	float:left;
	text-align:center;
	background-color:#ec3136;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:12px;
	color:#fff;
	padding-top:9px;
	padding-bottom:9px;
	background-image:url(../images/product-head1.png);
	background-repeat:repeat-x;
	border-radius:5px 5px 0 0
}
.video_images {
	height:284px;
	width:284px;
	float:left;
	text-align:center
}
.video_tags, .video_text {
	width:273px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	font-size:12px;
	padding:5px;
	text-align:center
}
.video_text {
	height:auto;
	min-height:10px;
	border-bottom:none;
	background-color:#000;
	color:#FFF
}
.video_tags, .video_tags_big {
	min-height:10px;
	border:1px solid #CCC;
	height:auto;
	float:left
}
.video_tags {
	background-color:#efefef
}
.video_tags_big, h1.video_title {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700
}
.video_tags_big {
	width:780px;
	padding:15px;
	margin:0 0 20px 62px;
	font-size:11px;
	background-color:#eee;
	color:#6D9F23;
	border-radius:5px;
	font-style:italic;
	line-height:20px
}
.small-product-show {
	height:auto;
	width:106%;
	float:left;
	margin:5px;
	border-radius:8px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:400;
	font-size:13px;
	color:#333;
	text-align:justify;
	line-height:20px
}
.small-product-show-award-img, .small-product-show-award-text {
	height:235px;
	width:100%;
	margin-top:0;
	margin-bottom:2px;
	border-radius:8px;
	background-color:#FFF;
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:400;
	font-size:13px;
	color:#333;
	line-height:20px;
	float:left
}
.small-product-show-award-text {
	text-align:justify
}
.small-product-show-award-img {
	margin-right:0;
	text-align:center
}
.small-product-show table tr th {
	background-color:#ececec;
	padding:5px 0;
	border:1px solid #CCC;
	border-radius:5px;
	margin-bottom:10px;
	width:100%!important
}
.small-product-show table tr td {
	border:0 solid #CCC;
	width:100%!important
}
h1.video_title {
	font-weight:15px;
	color:#000;
	width:797px;
	float:left;
	background-color:#eee;
	padding:5px;
	border:1px solid #CCC;
	border-radius:5px 5px 0 0;
	margin:10px 0 0 63px
}
.header_link_1, ul.left_marque li a {
	font-weight:700;
	font-family:Verdana, Geneva, sans-serif
}
.header_link_1 {
	height:47px;
	width:218px;
	float:left;
	background-image:url(../images/news_updates.jpg);
	background-repeat:no-repeat;
	background-color:#fdb915;
	font-size:18px;
	color:#fdb915;
	text-align:center;
	padding-top:14px;
	margin-top:5px;
	margin-left:5px;
	border-radius:5px 5px 0 0
}
ul.left_marque {
	height:auto;
	min-height:300px
}
ul.left_marque li a {
	color:red;
	font-size:12px;
	text-decoration:none;
	display:block;
	padding:0;
	margin:0;
	min-height:20px;
	height:auto
}
.left_marque li {
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:15px;
	font-size:11px;
	border:1px dotted #dde4e4;
	padding:5px;
	margin-right:5px;
	line-height:16px
}
.news_details {
	width:218px;
	height:350px;
	background-color:#fff;
	margin-left:5px;
	border:3px solid #b20600;
	float:left;
	border-top:none;
	border-radius:0 0 5px 5px;
	overflow:scroll;
	padding-top:5px;
	margin-bottom:5px
}
<!--
Scroll Start
-->
. credits {
border-bottom:solid 1px #eee;
padding-bottom:10px;
margin:0 0 30px
}
#pagewrap {
	margin:0 auto;
	width:600px;
	padding-left:150px
}
#back-top {
	position:fixed;
	bottom:-5px;
	margin-left:80.5%!important
}
#back-top a {
	width:108px;
	display:block;
	text-align:center;
	font:11px/100% Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#333;
	-webkit-transition:1s;
	-moz-transition:1s;
	transition:1s
}
#back-top a:hover {
	color:#000
}
#back-top span {
	width:58px;
	height:58px;
	display:block;
	margin-bottom:7px;
	background:url(../up-arrow.png) center center no-repeat #ddd;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:50%;
	-webkit-transition:1s;
	-moz-transition:1s;
	transition:1s
}
#back-top a:hover span {
	background-color:#777
}
.feature-box-rep {
	border:1px solid #ccc;
	border-radius:10px;
	float:left;
	width:100%;
	height:auto;
	min-height:50px;
	overflow:hidden;
	margin-bottom:10px
}
.feature-box-rep-left {
	padding:5px
}
h1.news_heading {
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	font-weight:700;
	color:red;
	padding:10px 10px 10px 5px;
	background-color:#efefef;
	margin:5px;
	border:1px solid #ccc;
	border-radius:5px 5px 0 0
}
div.news_content, div.news_content p {
	font-weight:400;
	line-height:20px
}
div.news_content, div.news_content p, p.news_date {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333
}
div.news_content {
	padding:0 0 10px 10px
}
p.news_date {
	font-weight:700;
	margin:0 10px 10px;
	padding-bottom:10px;
	border-bottom:5px inset red
}
h1.news_heading1, h1.news_heading1 a, h1.news_heading1 a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	font-weight:700
}
h1.news_heading1 {
	color:red;
	padding:10px 10px 10px 5px;
	margin:5px
}
h1.news_heading1 a {
	color:#444;
	text-decoration:none
}
h1.news_heading1 a:hover {
	color:red;
	text-decoration:underline
}
div.news_content1, div.news_content1 p {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	color:#333;
	line-height:20px;
	font-size:12px
}
div.news_content1 {
	padding:0 0 10px 10px
}
h1.news_heading2, p.news_date1 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700
}
p.news_date1 {
	font-size:12px;
	color:#999;
	margin:0 10px 10px;
	padding-bottom:10px;
	border-bottom:1px dotted red
}
h1.news_heading2 {
	font-size:15px;
	color:#fff;
	padding:10px 10px 10px 5px;
	background-color:#000;
	margin:20px 5px 5px;
	border:1px solid #ccc;
	border-radius:5px
}
.product_box_cat, .product_box_cat:hover {
	height:450px;
	margin-right:9px;
	margin-left:5px;
	width:290px;
	overflow:hidden
}
h1.news_heading2 select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	float:right;
	color:#333
}
.feature-box-rep-right, .product_box_content p {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px
}
.product_box_cat {
	float:left;
	border:2px solid #eee;
	margin-bottom:15px;
	border-radius:7px 7px 0 0
}
.product_box_cat:hover {
	float:left;
	border:2px solid #999;
	border-radius:7px 7px 0 0
}
.product_box_cat_immagine {
	float:left;
	height:280px;
	width:290px;
	overflow:hidden
}
.product_box_content {
	height:134px;
	width:286px;
	background-color:#eee;
	background-image:url(../images/box-back.png);
	background-repeat:repeat-x;
	text-align:left;
	margin-left:0;
	margin-top:312px;
	position:absolute
}
.product_box_content p {
	line-height:17px;
	font-weight:400;
	padding:5px
}
.product_display_box_view_cat {
	width:250px;
	height:35px;
	text-align:right;
	margin-left:30px;
	margin-top:409px;
	cursor:pointer;
	position:absolute
}
.social_box_small {
	height:100px;
	width:55px;
	float:left;
	text-align:center;
	margin-right:4px;
	margin-left:4px;
	padding-top:10px
}
.feature-box-rep-left {
	float:left;
	width:35%;
	height:auto;
	min-height:50px;
	overflow:hidden;
	text-align:center;
	padding-bottom:15px;
	padding-top:5px
}
.feature-box-rep-right {
	float:left;
	text-align:left;
	padding:5px;
	width:60%;
	margin:5px
}
.dropdown-submenu>.dropdown-menu {
	top:-7px;
	left:100%;
	background-color:#4f4f4f
}
.dropdown-submenu {
	position:relative;
	background:0 0!important;
	border-radius:0
}
.dropdown-submenu a {
	color:#fff!important;
	background-color:#4f4f4f;
	font-family:Arial, Helvetica, sans-serif!important;
	font-weight:700;
	font-size:12px;
	text-decoration:none;
	padding:9.4px 5px!important
}
.dropdown-submenu a:hover {
	color:#fff!important;
	background-color:#ad0101!important
}
.dropdown-toggle a:hover {
	color:#fff!important;
	background-color:#ad0101
}
.dropdown-submenu>.dropdown-menu a {
	color:#fff!important;
	background-color:#4f4f4f;
	border-top:1px solid #484848;
	border-bottom:1px solid #999;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	font-size:11px;
	text-decoration:none;
	padding:9.4px 5px
}
.dropdown-submenu>.dropdown-menu a:hover {
	color:#fff!important;
	background-color:#ad0101
}
.dropdown-submenu:hover>.dropdown-menu {
	display:block
}
.dropdown-submenu:hover>a:after {
	border-left-color:#fff
}
.dropdown-submenu.pull-left {
	float:none
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left:-100%
}
.btn-breadcrumb .btn:not(:last-child):after, .btn-breadcrumb .btn:not(:last-child):before {
content:" ";
display:block;
width:0;
height:0;
border-top:17px solid transparent;
border-bottom:17px solid transparent;
position:absolute;
top:50%;
margin-top:-17px;
left:100%;
z-index:3
}
.btn-breadcrumb .btn:not(:last-child):after {
border-left:10px solid #fff
}
.btn-breadcrumb .btn:not(:last-child):before {
border-left:10px solid #adadad;
margin-left:1px
}
.product_features_dts_mob, .product_features_dts_mob ul {
	height:auto;
	width:100%;
	color:#1ba3f9;
	font-size:13px;
	font-family:calibri;
	float:left
}
.btn-breadcrumb .btn {
	padding:6px 12px 6px 24px
}
.btn-breadcrumb .btn:first-child {
	padding:6px 6px 6px 10px
}
.btn-breadcrumb .btn:last-child {
	padding:6px 18px 6px 24px
}
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
border-left:10px solid #fff
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
border-left:10px solid #ccc
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
border-left:10px solid #ebebeb
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
border-left:10px solid #adadad
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
border-left:10px solid #428bca
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
border-left:10px solid #357ebd
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
border-left:10px solid #3276b1
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
border-left:10px solid #285e8e
}
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
border-left:10px solid #5cb85c
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
border-left:10px solid #4cae4c
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
border-left:10px solid #47a447
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
border-left:10px solid #398439
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
border-left:10px solid #d9534f
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
border-left:10px solid #d43f3a
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
border-left:10px solid #d2322d
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
border-left:10px solid #ac2925
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
border-left:10px solid #f0ad4e
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
border-left:10px solid #eea236
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
border-left:10px solid #ed9c28
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
border-left:10px solid #d58512
}
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
border-left:10px solid #5bc0de
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
border-left:10px solid #46b8da
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
border-left:10px solid #39b3d7
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
border-left:10px solid #269abc
}
.product_features_dts_mob {
	min-height:172px;
	margin:10px 0;
	border-bottom:1px solid #CCC
}
.product_features_dts_mob ul {
	list-style-type:none
}
.product_features_dts_mob ul li {
	height:38px;
	width:97.5%;
	color:#fff!important;
	font-family:calibri;
	font-size:15px;
	padding:8px 10px 3px;
	float:left;
	list-style-type:none;
	background-color:#f8f8f6;
	margin:2px 2px 2px 4px;
	border:1px solid #CCC;
	border-radius:5px 5px 0 0
}
.product_features_dts_mob ul li:hover {
	color:#333!important;
	border:1px solid #CCC;
	border-bottom:none;
	background-color:#000!important;
	float:left
}
.product_features_dts_mob ul li.detault_tab_color {
	background-color:#d80000
}
.product_features_dts_mob ul li span {
	color:#000;
	text-decoration:none;
	font-weight:700
}
.product_features_dts ul li.detault_tab_color span {
	text-decoration:none;
	font-weight:700;
	color:#fce700
}
.product_features_dts_mob ul li:hover span {
	color:#fff!important;
	text-decoration:none;
	font-weight:700;
	cursor:pointer
}
#product_features_active {
	background-color:red;
	color:#fff
}
.product_features_text_mob {
	height:auto;
	min-height:100px;
	width:96.5%;
	margin:0 0 10px 5px;
	padding-bottom:5px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	float:left;
	line-height:20px
}
.product_features_text_mob strong {
	color:#333;
	font-family:calibri;
	font-size:14px;
	font-weight:700
}
.product_features_text_mob p {
	color:#333;
	font-size:13px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:justify;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	font-weight:lighter;
	line-height:18px
}
.product_features_text_mob ul, .product_features_text_mob ul li {
	color:#333;
	font-family:calibri;
	padding:0;
	font-size:14px;
	float:left;
	height:auto;
	min-height:15px
}
.product_features_text_mob ul {
	margin:0
}
.product_features_text_mob ul li {
	text-decoration:none;
	list-style-type:disc;
	margin-left:25px;
	width:94.5%
}
.product_features_text_mob table {
	width:100%!important
}
.product_features_text_mob table tr td {
	border:1px solid #eee;
	font-size:12px;
	font-weight:400!important
}
.product_features_text_mob table tr td ul li {
	font-size:13px;
	width:auto
}
.product_standard_text_mob {
	height:auto;
	min-height:100px;
	width:94.5%;
	margin:10px 30px;
	color:#1ba3f9;
	font-family:calibri;
	font-size:13px;
	float:left
}
.product_standard_text_mob ul, .product_standard_text_mob ul li {
	width:94.5%;
	color:#333;
	padding:0;
	font-size:13px;
	float:left;
	font-family:calibri;
	height:auto
}
.product_standard_text_mob ul {
	min-height:50px;
	margin:0
}
.product_standard_text_mob ul li {
	min-height:20px;
	text-decoration:none;
	list-style-type:disc;
	margin-left:30px
}
.features_heading_mob {
	background-color:#eee;
	padding:5px
}
h3.stan_text {
	color:#666;
	font-family:calibri;
	margin-bottom:10px;
	font-weight:700;
	font-size:15px
}
#pro_details21, #pro_details31, #pro_details41, #pro_details51, #pro_details61 {
	display:none;
	border:none
}
#pro_details2_mob table {
	border:1px solid #CCC;
	border-bottom:none
}
#pro_details2_mob table th {
	border-right:1px solid #CCC;
	background-color:#f6f9fe
}
#pro_details2_mob table td {
	background-color:#fff;
	font-weight:700
}
#pro_details2_mob table tr th, td {
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	border-bottom:1px solid #CCC;
	padding:5px;
	font-weight:700
}
.product_main_right_mob {
	height:auto;
	min-height:auto!important;
	width:100%;
	background-image:url(../images/product-right.jpg);
	background-repeat:repeat-y;
	background-position:left top;
	overflow:hidden;
	margin:auto
}
.right_product_heading1_mob, .right_product_heading_mob {
	height:36px;
	width:96.5%;
	font-size:12px;
	padding-left:8px;
	padding-top:9px;
	background-color:#3c3c3b;
	overflow:hidden;
	float:left;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700
}
.right_product_heading_mob {
	margin:5px 5px 0;
	border:2px solid #CCC;
	border-bottom:none;
	border-radius:7px 7px 0 0
}
.right_product_heading1_mob {
	margin:15px 5px 0;
	border:2px solid #CCC;
	border-radius:7px 7px 0 0
}
.footer_category {
	height:auto;
	min-height:58px;
	width:auto;
	max-width:667px;
	float:left;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-decoration:none;
	line-height:16px;
	overflow:hidden!important
}
.footer_category h4 a {
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:700;
	text-decoration:none;
	display:inline-block!important
}
.footer_category h4 {
	color:#fff!important;
	font-family:Verdana, Geneva, sans-serif!important;
	font-size:11px!important;
	font-weight:700!important;
	text-decoration:none!important;
	display:inline-block!important;
	margin:0!important;
	padding:0!important
}
.cat_head {
	font-size:18px!important;
	margin-bottom:10px!important;
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit
}
.about_asian {
	font-size:12px!important;
	color:red;
	text-decoration:underline
}
.home_about_less, .home_about_more {
	float:right!important;
	cursor:pointer;
	color:red!important
}
.display_none {
	display:none!important
}
.TagPopup_TextForm_border {
	border:1px solid #D4D4D4!important;
	border-radius:3px!important
}
.margin_top10px {
	margin-top:10px!important
}
.p_height70px {
	height:70px
}
.follow_top_bottom_strong_border {
	font-size:10px!important;
	color:#aaa!important
}
.float_left_div {
	float:left!important
}
.nav_bar_margin_left {
	float:left!important;
	margin-left:15px!important
}
.cat_heading_style {
	margin:0 -15px!important;
	border:0;
	background:#f8f8f6!important
}
.cat_menu_style {
	min-height:15px!important;
	text-align:center!important;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	font-size:12px!important;
	color:#fdb915;
	margin:0;
	padding-top:7px!important;
	padding-bottom:3px!important
}
.need_our_assistance {
	float:left;
!importantwidth:180px!important;
	margin-left:7px!important
}
.icon1_style {
	float:left;
	width:16px!important;
	padding-top:3px!important
}
.read_more_style {
	font-weight:700;
	color:red;
	padding-right:15px!important;
	text-decoration:none;
	font-size:11px!important
}
.header_link_1_style {
	background:0 0;
	border:3px solid #b4020a;
	height:103px;
	border-radius:5px!important;
	width:212px!important
}

.font_size_12px{

min-height:15px;
	height:auto;
	display:inline;

	font-weight:700;
	color:#fdb915;
	padding-top:7px;
	padding-bottom:3px;

	font-family:Verdana, Geneva, sans-serif;
	font-size:12px!important;

	overflow:hidden}