html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;}
:focus{outline:none}
body{font-size:14px;color:#333;margin:0px auto;padding:0px 0 0 0; font-family: 'Open Sans', sans-serif; background:#fff; }
h1, h2, h3, h4, h5, h6, ul, li, form{margin:0px;padding:0px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul li{list-style:none;}
p{margin:0 0 15px 0;line-height:22px;}
a{text-decoration:underline;outline:none;color:#333;}
a:hover{text-decoration:none;}
a img{border:0px;}
img{max-width:100%;height:auto;}
.clear{clear:both;}
h2{ font-weight:bold; font-size:22px; }
hr{ background:none; height:1px; margin:40px 0px; border-top:1px dotted #b49252;}

