/* http://www.menucool.com */

#sliderFrame 
{
    width:99.5%;
	max-width:935px;
	float:left;
	height:360px;
	margin-left:4.5px;
	overflow:hidden;
	margin-top:2px;
}

#slider, #slider div.sliderInner {
    width:100%;
	max-width:935px;
	float:left;
	height:360px;/* Must be the same size as the slider images */
    border-radius: 0px;
}

#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
	border-radius:5px!important;
	overflow:hidden

}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink, #slider .video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:70%;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
	left:35%; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:70px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
	padding-left:10px;
	padding-right:10%;
}
#slider div.mc-caption-bg {
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
	border:1px solid white;
	border-radius: 5px;
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font:bold 15px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}
@media only screen and (min-width: 180px) and (max-width: 767px) {
	/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:96%;
	height:auto;
	padding:3% 0;/* 10px will increase the height.*/
	left:3%; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:70px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	font-size: 0;
}
#slider div.mc-caption-bg {
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
	border:1px solid white;
	border-radius: 5px;
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font:bold 13px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}
}

/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
	top:330px;/* Its position is relative to the #slider */
	left:320px;
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:18px; height:16px;
    border:1px solid #999;
    background:#EEE;
    color:#AAA;
    font:normal 10px Arial;
    text-align:center;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 4px;/* set distance between each bullet*/
    border-radius:50%;
	padding-top:2px
}

#slider div.navBulletsWrapper div.active {
    border-color:#FF0000;
    background:#ab0101;
    color:White;
}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}