@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	background-color:#58595b;
	background-image:url(../images/background-images.png);
	background-repeat:repeat-x;
	background-attachment:fixed
}
#main {
	width:980px;
	min-height:900px;
	height:auto;
	margin:auto;
	overflow:hidden;
	border-top:none;
	border-bottom:none;
	background-color:#ebebed;
	padding-left:5px;
	padding-right:5px;
}
img {
	 border:0px;
}
#top {
	width:980px;
	height:82px;
	float:left;
	background:#58595b;
}
#top-logo {
	width:220px;
	height:75px;
	float:left;
	background:#58595b;
	padding-top:7px;
	padding-left:10px
}
#top-logo-text {
	width:410px;
	height:52px;
	float:left;
	background:#58595b;
	padding-top:30px;
	text-align:left;
}
#top-search {
	width:220px;
	height:33px;
	float:left;
	padding-top:49px;
	padding-left:120px;
	background:#ED3237;
}
.text-control {
	font-size:1em;
	color:#CCC;
	font-family:Verdana, Geneva, sans-serif
}
.search {
	width:182px;
	height:25px;
	padding:0px;
	float:left;
	margin:0px;
	background:none;
	background-image:url(../images/search-back.png);
	background-repeat:no-repeat;
	border:none;
	color:#9d9d9d;
	padding-left:5px
}
.s-text {
	width:182px;
	height:25px;
	padding:0px;
	margin:0px;
	float:left;
	background:none;
	border:none;
}
.s-go {
	width:30px;
	height:25px;
	padding:0px;
	float:left;
	margin:0px;
	background:none;
	background:url(../images/search-back-button.png);
	border:none;
}
.main-link {
	height:38px;
	width:980px;
	float:left;
	background-image:url(../images/link-area.png);
	background-repeat:repeat;
	margin-top:15px;

}
.main-link-small-home {
	height:30px;
	width:99px;
	float:left;
	padding-top:8px;
	margin-right:2px;
	text-align:center;
	font-family:Lucida Sans Unicode;
	font-weight:300;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.main-link-small-home a {
	font-family:Lucida Sans Unicode;
	font-weight:300;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.main-link-small-home:hover {
	background-image:url(../images/link-area-back-home.png);
	background-repeat:no-repeat;
}
.main-link-small {
	height:30px;
	width:98px;
	float:left;
	padding-top:8px;
	margin-right:2px;
	text-align:center;
}
.main-link-small:hover {
	background-image:url(../images/link-area-back.png);
	background-repeat:no-repeat;
}
.main-link-small-product {
	height:38px;
	width:100px;
	float:left;
	padding-top:0px;
	margin-right:0px;
	text-align:center;
}
.main-link-small-product:hover {
	background-image:url(../images/link-area-back.png);
	background-repeat:no-repeat;
}
.pad-mar-0 {
	padding:0px;
	margin:0px
}
.main-link-small a {
	font-family:Lucida Sans Unicode;
	font-weight:300;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.link-location {
	height:35px;
	width:980px;
	float:left;
	background-image:url(../images/current-link-locations-background.png);
	background-repeat:no-repeat;
	margin-top:15px;
.
}
.link-location-box {
	height:24px;
	min-width:44px;
	width:auto;
	float:left;
	background-image:url(../images/link-location-arrow.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
	padding-right:17px;
	padding-left:10px
}
.link-location-box-no-arrow {
	height:24px;
	min-width:44px;
	width:auto;
	float:left;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
	padding-right:17px;
	padding-left:10px
}
.link-location-box-no-arrow a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#333;
	text-decoration:none;
}
.link-location-box-no-arrow a:hover {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.link-location-box a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#333;
	text-decoration:none;
}
.link-location-box a:hover {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.slide-show {
	height:310px;
	width:980px;
	float:left;
	margin-top:15px;
	background-repeat:no-repeat
}
.small-product-show {
	height:235px;
	width:980px;
	float:left;
	margin-top:15px;
	margin-bottom:2px;
	border-radius:8px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#333;
	text-align:justify;
	line-height:20px;
	
}
.small-product-show-award-text {
	height:235px;
	width:570px;
	float:left;
	margin-top:15px;
	margin-bottom:2px;
	border-radius:8px;
	background-color:#FFF;
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#333;
	text-align:justify;
	line-height:20px;
	
}
.small-product-show-award-img {
	height:235px;
	width:300px;
	float:left;
	margin-top:15px;
	margin-bottom:2px;
	margin-right:25px;
	border-radius:8px;
	background-color:#FFF;
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#333;
	text-align:justify;
	line-height:20px;
	
}
.small-product-show-box {
	height:235px;
	width:320px;
	float:left;
	color:#777777;
	background-color:#FFF;
	margin-right:9px;
	border-radius:5px;
	background-image:url(../images/backk.png);
	background-repeat:repeat-x;
	box-shadow: 1px 1px 1px 1px #b9b9b9;
	margin-bottom:11px;
}

.small-product-show-box:hover {
	height:235px;
	width:320px;
	float:left;
	color:#777777;
	background:none;
	background-color:#FFF;
	margin-right:9px;
	border-radius:5px;
	box-shadow: 1px 1px 1px 1px #a2a2a2;
	cursor:pointer;
	color:#017fbe
}
.small-product-show-box-mid {
	height:194px;
	width:245px;
	float:left;
	color:#777777
}
.small-product-show-box-right {
	height:194px;
	width:245px;
	float:left;
	color:#777777
}
.small-product-show-box-head {
	height:auto;
	padding-top:12px;
	width:310px;
	padding-left:10px;
	float:left;
	text-align:left;
	margin-bottom:5px;
	font-size:14px;
	color:#333;
	font-weight:bold;
}
.small-product-show-box-img {
	height:86px;
	width:310px;
	float:left;
	text-align:center
}
.small-product-show-box-text {
	height:55px;
	width:300px;
	float:left;
	text-align:justify;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:10px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:13px;
	line-height:15px;
}
.small-product-show-top-text {
	height:auto;
	overflow:hidden;
	width:960px;
	float:left;
	margin-top:15px;
	text-align:justify;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	line-height:15px;
	padding:9px;
	color:#4e4e4e;
	background-repeat:repeat;
	border-radius:5px;
	border:1px solid #CCC;
	background-color:#FFF
}
.small-product-show-top-text-img {
	height:auto;
	overflow:hidden;
	width:310px;
	float:left;
	border-radius:5px;
	border:1px solid #fff;
	margin-right:8px;
	line-height:28px;
	color:#666
}
.small-product-show-top-text-text {
	height:auto;
	overflow:hidden;
	width:620px;
	float:left;
	text-align:justify;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	line-height:1.25em;
	padding:9px;
	padding-bottom:5px;
	padding-top:5px;
	color:#333;
	background-image:url(../images/text.png);
	background-repeat:repeat;
	border-radius:5px;
	border:1px solid #CCC
}
.small-product-show-box-mid:hover {
	cursor:pointer;
	background-image:url(../images/product-background-middle.png);
	background-repeat:no-repeat;
	color:#017fbe
}
.small-product-show-box-right:hover {
	cursor:pointer;
	background-image:url(../images/product-background-right.png);
	background-repeat:no-repeat;
	color:#017fbe
}
.bottom-bot {
	width:960px;
	min-height:60px;
	height:auto;
	overflow:hidden;
	float:left;
	background-color:#FFF;
	padding-top:10px;
	margin-top:15px;
	padding-left:20px;
}
.bottom-bot-left {
	width:240px;
	min-height:60px;
	height:auto;
	overflow:hidden;
	float:left;
}
.bottom-bot-right {
	width:690px;
	min-height:60px;
	height:auto;
	overflow:hidden;
	float:left;
	line-height:20px;
	color:#999
}
.bottom-bot-right a {
	font-size:11px;
	font-family:Arial;
	color:#333;
	text-decoration:none;
	font-weight:bold;
}
.bottom-bot-right a:hover {
	color:#F00;
}
.bottom-link {
	float:left;
	height:320px;
	width:980px;
	background-image:url(../images/bottom-link-back.png);
	background-repeat:no-repeat;
	margin-top:15px;
}
.link-location-bot {
	height:35px;
	width:900px;
	float:left;
}
.link-location-bot-1 {
	height:24px;
	width:80px;
	float:left;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
}
.link-location-bot-1 a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.link-location-box-bot {
	height:24px;
	min-width:44px;
	width:auto;
	float:left;
	background-image:url(../images/link-location-arrow-bot.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
	padding-right:17px;
	padding-left:10px
}
.link-location-box-bot a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#333;
	text-decoration:none;
}
.link-location-box-bot a:hover {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.link-location-bot-bot {
	height:273px;
	margin-top:10px;
	width:970px;
	margin-left:10px;
	float:left;
}
.link-location-bot-bot-box {
	height:273px;
	width:250px;
	margin-right:10px;
	float:left;
}
.link-location-bot-bot-box a {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#888888;
	text-decoration:none;
	line-height:19px
}
.link-location-bot-bot-box a:hover {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#F00;
	text-decoration:none;
}
.h4cont {
	padding:0px;
	margin:0px;
	padding-bottom:4px;
	color:#666666;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:11px
}
.arrow {
	font-size:11px;
	font-weight:bold;
	font-family:Calibri;
	color:#333;
	margin-left:10px;
}
a {
text-decoration:none
}
table tr th, table tr td img{
	 border-radius:8px;
	 border:1px solid #e4e4e2
}


.dbl_border
{border:double 10px #999}

