@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	background-color:#f2f2f2;
}
#main {
	width:99%;
	min-width:980px;
	min-height:900px;
	height:auto;
	margin:auto;
	overflow:hidden;
	border-top:none;
	border-bottom:none;
	background-color:#f2f2f2;
	padding-left:.5%;
	padding-right:.5%;
}
#top {
	width:100%;
	height:82px;
	float:left;
}
#top-logo {
	width:455px;
	height:75px;
	float:left;
	background:#58595b;
	padding-top:7px;
	padding-left:15px
}
#top-logo-text {
	height:82px;
	background:#58595b;
	margin-left:469px;
	text-align:left;
}
#top-search {
	width:255px;
	height:33px;
	padding-top:49px;
	background:#ED3237;
	float:right;
}
.text-control {
	font-size:1em;
	color:#CCC;
	font-family:Verdana, Geneva, sans-serif
}
.f_right{
	   float:right;
	   margin-right:5px;
	}
.search {
	width:100%;
	height:21px;
	padding:0px;
	float:left;
	margin:0px;
	background:none;
	background-image:url(../images/search-back.png);
	background-repeat:no-repeat;
	border:none;
	color:#9d9d9d;
	padding-left:5px;
	padding-top:4px;
}
.s-text {
	width:182px;
	height:25px;
	padding:0px;
	margin:0px;
	float:left;
	background:none;
	border:none;
}
.s-go {
	width:30px;
	height:25px;
	padding:0px;
	float:left;
	margin:0px;
	background:none;
	border:none;
}
.main-link {
	height:38px;
	min-width:980px;
	width:100%;
	float:left;
	margin-top:15px;
}
.main-link-left {
	width:701px;
	height:38px;
	float:left;
	background-image:url(../images/link-area.png);
}
.main-link-right {
	height:38px;
	background-image:url(../images/main-link-back-rep.jpg);
	background-repeat:repeat-x
}
.main-link-right-1 {
	width:10px;
	height:38px;
	float:right;
	background-image:url(../images/mainlink-right.jpg);
	background-position:right
}
.main-link-small-home {
	height:30px;
	width:101px;
	float:left;
	padding-top:8px;
	text-align:center;
	font-family:Lucida Sans Unicode;
	font-weight:300;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.main-link-small-home a {
	font-family:Lucida Sans Unicode;
	font-weight:300;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.main-link-small-home:hover {
	background-image:url(../images/link-area-back-home.png);
	background-repeat:no-repeat;
}
.main-link-small {
	height:30px;
	width:100px;
	float:left;
	padding-top:8px;
	text-align:center;
}
.main-link-small:hover {
	background-image:url(../images/link-area-back.png);
	background-repeat:no-repeat;
}
.main-link-small-rep {
	min-width:22%;
	height:30px;
	width:auto;
	float:left;
	padding-top:8px;
	text-align:center;
	background-image:url(../images/main-link-back-rep.jpg);
	background-repeat:repeat
	
}
.main-link-small-rig {
	height:30px;
	width:26px;
	float:left;
	padding-top:8px;
	text-align:center;
	background-image:url(../images/mainlink-right.jpg);
	background-repeat:no-repeat;
	background-color:#F00
}


.main-link-small-product {
	height:38px;
	width:100px;
	float:left;
	padding-top:0px;
	margin-right:0px;
	text-align:center;
}
.main-link-small-product:hover {
	background-image:url(../images/link-area-back.png);
	background-repeat:no-repeat;
}
.pad-mar-0 {
	padding:0px;
	margin:0px
}
.main-link-small a {
	font-family:Lucida Sans Unicode;
	font-weight:300;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.link-location {
	height:35px;
	min-width:980px;
	width:100%;
	float:left;
	margin-top:15px;
}
.link-location-left {
	width:701px;
	height:35px;
	float:left;
	background-image:url(../images/location-left.png);
}

.link-location-right {
	height:35px;
	background-image:url(../images/location-middle.png);
	background-repeat:repeat-x
}

.link-location-1 {
	height:35px;
	width:980px;
	float:left;
	background-image:url(../images/current-link-locations-background-bot.png);
	background-repeat:no-repeat;
	margin-top:15px;
.
}
.link-location-box {
	height:24px;
	min-width:44px;
	width:auto;
	float:left;
	background-image:url(../images/link-location-arrow.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
	padding-right:17px;
	padding-left:10px
}
.link-location-box-spe {
	height:24px;
	min-width:244px;
	width:auto;
	float:right;
	text-align:right;
	margin-top:1px;
	padding-top:9px;
	padding-right:16px;
	color:#989797;
	background-image:url(../images/location-right.png);
	background-repeat:no-repeat;
	background-position:right
}
.link-location-box-spe-1 {
	height:24px;
	min-width:194px;
	width:auto;
	float:right;
	text-align:right;
	margin-top:1px;
	padding-top:9px;
	padding-right:16px;
	color:#989797;
	background-image:url(../images/click-to-top-back.png);
	background-repeat:no-repeat;
	background-position:right;
	font-weight:bold;
	
}
.link-location-box-spe a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
.link-location-box-spe a:hover {
	color:#d8e8f5;
	text-decoration:underline;
}
.link-location-box-no-arrow {
	height:24px;
	min-width:44px;
	width:auto;
	float:left;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
	padding-right:17px;
	padding-left:10px
}
.link-location-box-no-arrow a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#989797;
	text-decoration:none;
}
.link-location-box-no-arrow a:hover {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.link-location-box a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#8d8d8d;
	text-decoration:none;
}
.link-location-box a:hover {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.slide-show {
	height:auto;
	width:100%;
	float:left;
	margin-top:15px;
	background-image:url(../images/headerBg.jpg);
	background-repeat:repeat;
	border:1px solid #999;
	border-radius:8px;
	-moz-border-radius:8px;
}
}
.slide-show-top {
	height:auto;
	width:100%;
	float:left;
}
.slide-show-left {
	height:auto;
	width:75%;
	float:left;
	padding-left:30px;
	padding-top:10px;
}
.slide-show-right {
	height:10%;
	width:20%;
	float:left;
	text-align:center;
	padding-top:2%
}
.slide-show-bottom {
	height:70px;
	width:940px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	text-align: justify;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 18px;
}
h1 {
	font-family: Tahoma;
	font-size: 30px;
	font-weight: normal;
	margin:0px;
	padding:0px
}
p {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	text-align: justify;
	line-height: 25px;
}
.small-product-show {
	height:267px;
	min-width:980px;
	width:100%;
	float:left;
	margin-top:10px;
	overflow:hidden;
}
.small-product-show-text {
	height:25px;
	width:100%;
	float:left;
	margin-top:0px;
	margin-bottom:10px;
}
h2 {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-align: justify;
	line-height: 25px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.small-product-show-box-left {
	min-height:170px;
	height:auto;
	padding-top:30px;
	width:108px;
	float:left;
	text-align:center;
	background-image:url(../images/product-background-left.png);
	background-repeat:no-repeat
}
.small-product-show-box-middle {
	height:220px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	padding-bottom:10px;
	float:left;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	opacity:0.8;
	border:1px solid #999;
	background-color:#CCC;
	border-radius: 8px;
	-moz-border-radius:8px;
}
.small-product-box-head {
	height:30px;
	width:220px;
	padding-top:10px;
	float:left;
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.small-product-box-img {
	min-height:60px;
	height:auto;
	width:223px;
	margin-bottom:5px;
	float:left;
	text-align:center;
}
.small-product-box-text {
	min-height:20px;
	height:auto;
	float:left;
	width:220px;
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: justify;
	line-height:13px;
	padding-top:10px;
}
.small-product-box-text { color:#333 }
.small-product-box-head { color:#000 }
.small-product-show-box-middle:hover {
	height:220px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	padding-bottom:10px;
	float:left;
	-moz-opacity:1;
	filter:alpha(opacity=100);
	opacity:1;
	border:1px solid #333;
	background-color:#999;
	border-radius: 8px;
	-moz-border-radius:8px;
}
.small-product-show-box-right {
	height:200px;
	width:190px;
	float:left;
	padding-left:14px;
	padding-right:14px;
	background-image:url(../images/product-background-right.png);
	background-repeat:no-repeat
}
.small-product-show-box-right:hover {
	height:200px;
	width:190px;
	float:left;
	background-image:url(../images/product-background-right-hover.png);
	background-repeat:no-repeat
}
.small-product-show-app {
	height:202px;
	width:100%;
	float:left;
	margin-top:15px;
	overflow:hidden;
	
}
.small-product-show-app-box-left {
	height:200px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	float:left;
	text-align:center;
	border:1px solid #333;
	background-color:#333;
	border-radius: 8px;
	-moz-border-radius:8px; 
	margin-right:4px;
}
.small-product-show-app-box-middle {
	height:170px;
	padding-top:30px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	float:left;
	text-align:center;
	border:1px solid #333;
	background-color:#333;
	cursor:pointer;
	border-radius: 8px;
	-moz-border-radius:8px; 
	margin-right:4px;
}
.small-product-show-app-box-middle:hover {
	height:170px;
	padding-top:30px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	float:left;
	text-align:center;
	border:1px solid #999;
	background-color:#666;
	border-radius: 8px;
	-moz-border-radius:8px; 
	margin-right:4px;
}
.small-product-show-app-box-right {
	height:170px;
	padding-top:30px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	float:left;
	text-align:center;
	border:1px solid #333;
	background-color:#333;
	cursor:pointer;
	border-radius: 8px;
	-moz-border-radius:8px; 
}
.small-product-show-app-box-right:hover {
	height:170px;
	padding-top:30px;
	width:220px;
	margin-right:4px;
	padding-left:7px;
	padding-right:7px;
	float:left;
	text-align:center;
	border:1px solid #999;
	background-color:#666;
	border-radius: 8px;
	-moz-border-radius:8px; 
}
.small-product-show-app-text {
	display:block;
	width:auto;
	padding:8px;
	padding-top:18px;
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-align:center;
	line-height:15px
}
.bottom-bot {
	width:98.5%;
	min-height:60px;
	height:auto;
	overflow:hidden;
	float:left;
	background-color:#FFF;
	padding-top:10px;
	margin-top:15px;
	padding-left:20px;
}
.bottom-bot-left {
	width:240px;
	min-height:60px;
	height:auto;
	overflow:hidden;
	float:left;
}
.bottom-bot-right {
	min-height:60px;
	height:auto;
	overflow:hidden;
	line-height:20px;
	color:#999;
	padding-top:10px;
}
.bottom-bot-right a {
	font-size:11px;
	font-family:Arial;
	color:#333;
	text-decoration:none;
	font-weight:bold;
}
.bottom-bot-right a:hover {
	color:#F00;
}
.bottom-link {
	float:left;
	height:320px;
	width:980px;
	background-image:url(../images/bottom-link-back.png);
	background-repeat:no-repeat;
	margin-top:15px;
}
.link-location-bot {
	height:35px;
	width:900px;
	float:left;
}
.link-location-bot-1 {
	height:24px;
	width:80px;
	float:left;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
}
.link-location-bot-1 a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.link-location-box-bot {
	height:24px;
	min-width:44px;
	width:auto;
	float:left;
	background-image:url(../images/link-location-arrow-bot.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top:1px;
	padding-top:9px;
	text-align:center;
	padding-right:17px;
	padding-left:10px
}
.link-location-box-bot a {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#8d8d8d;
	text-decoration:none;
}
.link-location-box-bot a:hover {
	font-family:Calibri;
	font-weight:bold;
	font-size:13px;
	color:#F00;
	text-decoration:none;
}
.link-location-bot-bot {
	height:273px;
	margin-top:10px;
	width:970px;
	margin-left:10px;
	float:left;
}
.link-location-bot-bot-box {
	height:273px;
	width:250px;
	margin-right:10px;
	float:left;
}
.link-location-bot-bot-box a {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#888888;
	text-decoration:none;
	line-height:19px
}
.link-location-bot-bot-box a:hover {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#F00;
	text-decoration:none;
}
.h4cont {
	padding:0px;
	margin:0px;
	padding-bottom:4px;
	color:#666666;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:11px
}
.arrow {
	font-size:11px;
	font-weight:bold;
	font-family:Calibri;
	color:#333;
	margin-left:10px;
}
.feature-box {
	min-height:314px;
	height:auto;
	min-width:980px;
	width:100%;
	float:left;
	margin-top:15px;
}
.feature-box-left {
	width:5px;
	min-height:314px;
	height:auto;
	float:left;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	background-image:url(../images/feature-box-top-left.png);
	background-repeat:no-repeat
}
.feature-box-middle {
	min-height:314px;
	height:auto;
	background-image:url(../images/feature-box-top-middle.png);
	background-repeat:repeat-x
	
}
.feature-box-middle-left {
	min-height:314px;
	height:auto;
	width:95%;
	float:left;
	
}
.feature-box-middle-left-img {
	width:30%;
	min-height:275px;
	height:auto;
	float:left;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#333;
	padding-top:39px;
}
.feature-box-middle-left-cont {
	width:65%;
	min-height:250px;
	height:auto;
	float:left;
	text-align:justify;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:17px;
	color:#333;
	padding-top:64px;
	
	
}
.feature-box-middle-right {
	min-height:314px;
	height:auto;
	width:5px;
	float:right;
	background-image:url(../images/feature-box-top-right.png);
	background-repeat:repeat-x
	
}
.feature-box-bottom {
	min-width:980px;
	width:100%;
	min-height:50px;
	height:auto;
	float:left;
	background-color:#e7e7e7;
	background-repeat:no-repeat;
	background-position:bottom;
}
.feature-box-bottom-left {
	width:30px;
	min-height:50px;
	height:auto;
	float:left;
	background-color:#e7e7e7;
	background-image:url(../images/features-back-bottom-left.png);
	background-repeat:repeat-x;
	background-position:bottom;
}
.feature-box-bottom-right {
	min-height:50px;
	height:auto;
	background-color:#e7e7e7;
	background-image:url(../images/features-back-bottom-middle.png);
	background-repeat:no-repeat;
	background-position:bottom;
}

.feature-box-bottom-right-right {
	width:30px;
	min-height:50px;
	height:auto;
	float:right;
	background-color:#e7e7e7;
	background-image:url(../images/features-back-bottom-right.png);
	background-repeat:no-repeat;
	background-position:right;
}


.feature-box-rep {
	min-width:980px;
	min-height:240px;
	width:100%;
	height:auto;
	float:left;
	background-image:url(../images/features-back-rep.png);
	background-repeat:repeat-y;
	background-position:left;
	background-color:#FFF
}

.feature-box-rep-left {
	width:36%;
	min-height:235px;
	height:auto;
	float:left;
	padding-top:5px;
	padding-left:0px;
	text-align:center
}
.feature-box-rep-right {
	width:55%;
	min-height:180px;
	height:auto;
	float:left;
	text-align:left;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#333;
	padding-right:30px;
	padding-left:30px;
	padding-top:60px;
	line-height:21px
}



.feature-box h1 {
	padding-top:7px;
	padding-bottom:0px;
	font-size:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-variant:normal;
	font-size-adjust:none;
	font-weight:normal;
	color:#333;
	display:block;
	text-align:left;
}
.heading {
	font-size:25px;
	font-weight:bold;
	color:#333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-bottom:15px;
	line-height:30px;
	text-shadow:#666
}
.application-box {
	min-width:980px;
	width:100%;
	min-height:240px;
	height:auto;
	float:left;
	margin-top:15px;
	padding-top:10px;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#333;
	border:1px solid #CCC;
	border-radius: 8px;
	-moz-border-radius:8px; 
}
.black {
	color:#666;
}
