
<table width='100%' border='0' cellspacing='0' cellpadding='0'>
  <tr>
    <td>Discount%</td>
    <td>Show Discount</td>
    <td>Taxes%</td>
    <td>Tax</td>
  </tr>
  <tr>
    <td>Rs. <input type='text' size='4' name='admin_discount' id='admin_discount'  value='' /></td>
    <td><select name='show_discount' id='show_discount'>
          <option value='Yes'>Yes</option>
          <option value='No'>No</option>
          </select></td>
    <td><input size='4' type='text' name='taxes_perc' id='taxes_perc' value='' /></td>
    <td><select name='tax_included' id='tax_included' class='inpuTxt'>
          <option value='Included'>Included</option>
          <option value='Excluded'>Excluded</option>
          </select></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Subject</td>
    <td>Delivery</td>
    <td>Order In favor of</td>
    <td>Payment Terms</td>
  </tr>
  <tr>
    <td><input type='text' name='offer_subject' id='offer_subject' value='' class='inpuTxt' /></td>
    <td><select name='delivery_day' id='delivery_day' class='inpuTxt'>
        <option value='7'>Within 7 Days</option>
        <option value='15'>Within 15 Days</option>
        <option value='30'>Within 30 Days</option>
        <option value='60'>Within 60 Days</option>
      </select></td>
    <td><input type='text' name='order_in_favor_of' id='order_in_favor_of' class='inpuTxt' /></td>
    <td><select name='payment_terms' id='payment_terms' class='inpuTxt'>
        <option value='1'>100% Advance</option>
        <option value='7'>Within 7 Days</option>
        <option value='30'>Within 30 Days</option>
        <option value='60'>Within 60 Days</option>
      </select></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Offer Validity</td>
    <td>Offer Warranty</td>
    <td>Terms &amp; Conditions</td>
    <td>Follow up Date</td>
  </tr>
  <tr>
    <td><select name='offer_validity' id='offer_validity' class='inpuTxt'>
        <option value='7'>7 Days</option>
        <option value='15'>Within 15 Days</option>
        <option value='30'>Within 30 Days</option>
        <option value='60'>Within 60 Days</option>
        <option value='90'>Within 90 Days</option>
        <option value='120'>Within 120 Days</option>
        <option value='150'>Within 150 Days</option>
        <option value='180'>Within 180 Days</option>
      </select></td>
    <td><select name='offer_warranty' id='offer_warranty'>
        <option value='0'>Nil</option>
        <option value='1'>1 Year</option>
        <option value='2'>2 Year</option>
        <option value='3'>3 Year</option>
        <option value='4'>4 Year</option>
        <option value='5'>5 Year</option>
      </select></td>
    <td><input type='checkbox' /></td>
    <td><input type='text'  name='follow_update' id='follow_update'></td>
  </tr>
</table>


