<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><!--<h1>Stanlay</h1>--> <a href="index.php?pagename=report_summary"><img src="../images/logo.png" alt="img" width="180" height="51" border="0" /></a></div>
<div class="divTableCell">&nbsp;</div>
<div class="divTableCell">Welcome Asian Administrator<span class="saperator">|</span> Friday April 06, 2018 <span class="saperator">|</span> <a href="index.php?pagename=report_summary"><strong>Home</strong></a> <span class="saperator">|</span>
<div class="dropdown"><button class="dropbtn">My Account</button>
<div class="dropdown-content"><a style="border-bottom: none;" href="index.php?pagename=change_password">Change Password</a> <a style="border-bottom: none;" href="index.php?pagename=view_attendance">My Attendance</a> <a href="logout.php">Logout</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Hi, <strong style="text-decoration: underline;">Asian Administrator</strong>, Welcome to your control Room for planning, organizing &amp; controlling your activities &amp; sales.</div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<ul class="menuH decor1" style="width: 94.5%; margin: 15px auto;">
<li><a class="arrow" href="index.php?pagename=report_summary"><img style="margin-top: -2px;" src="images/newicon/dashboard.png" alt="" width="14" /> My Dashboard</a></li>
<li><a class="arrow" href="index.php?pagename=sales_manager"><img style="margin-top: -2px;" src="images/newicon/sales1.png" alt="" width="14" /> Sales Manager</a>
<ul>
<li><a class="arrow" href="index.php?pagename=company_manager">Company Manager</a></li>
<li><a class="arrow" href="index.php?pagename=web_enq_manager_edited">Add/View Enquiry</a></li>
<!--      <li><a href="index.php?pagename=add_lead&action=add_new" class="arrow">Create New Lead/Offer</a></li>-->
<li><a class="arrow" href="index.php?pagename=lead_manager">View Leads/Create Offer</a></li>
<li><a href="index.php?pagename=order_manager">View Your Offer/Book Order</a></li>
<li><a href="index.php?pagename=sales_manager">View Sales Performance</a></li>
<li><a href="index.php?pagename=transfer_account_manager">Transfer Account Manager</a></li>
<li><a href="index.php?pagename=web_enq_manager">Enquiry Manager</a></li>
</ul>
</li>
<li><a class="arrow"><img style="margin-top: -2px;" src="images/newicon/dispatch.png" alt="" width="14" /> Dispatch Cordination</a>
<ul>
<li><a>Demos</a></li>
</ul>
</li>
<li><a class="arrow"><img style="margin-top: -2px;" src="images/newicon/warehousing-icon.png" alt="" width="14" /> Warehousing</a>
<ul>
<li><a href="view_stock.php" target="_blank">Product Quantity View (PQV)</a></li>
<li><a href="index.php?pagename=manager_product_stock">Stock Out</a></li>
<li><a href="index.php?pagename=view_incoming_stock">Incoming Manager</a></li>
<li><a href="index.php?pagename=generate_serial_no">Generate Serial No </a></li>
</ul>
</li>
<li><a class="arrow"><img style="margin-top: -2px;" src="images/newicon/nav-icon-history.png" alt="" width="14" /> Purchasing</a>
<ul>
<li><a href="index.php?pagename=purchase_manager">Purchase Manager</a></li>
<li><a href="index.php?pagename=vendor_manager">Vendor Master</a></li>
<li><a href="index.php?pagename=add_vendor_product_list">Vendor Products Manager</a></li>
<li><a href="index.php?pagename=do_manager">DO Manager</a></li>
</ul>
</li>
<li><a class="arrow" href="index.php?pagename=tendering&amp;action=ten"><img style="margin-top: -2px;" src="images/newicon/Info-Icon.png" alt="" width="14" /> Tendering</a>
<ul>
<li><a href="index.php?pagename=add_tender&amp;action=add_new">Upload Tender</a></li>
<li><a href="index.php?pagename=view_open_tender&amp;action=view_open_tender">View Open Tenders</a></li>
<li><a href="index.php?pagename=view_close_tender&amp;action=view_close_tender">View Close Tenders</a></li>
<li><a href="index.php?pagename=view_emd_stat&amp;action=view_emd_stat">View EMD Status</a></li>
<li><a href="index.php?pagename=view_sd_stat&amp;action=view_sd_stat">View SD Status</a></li>
</ul>
</li>
<li><a class="arrow" href="index.php?pagename=kc_home"><img style="margin-top: -2px;" src="images/newicon/tender.png" alt="" width="14" /> Knowledge Center</a>
<ul>
<li><a href="index.php?pagename=add_fol_cat&amp;action=add_new">Add Folder/Document</a></li>
<li><a href="index.php?pagename=edit_fol_cat&amp;action=edit">Edit Folder/Document</a></li>
<li><a href="index.php?pagename=kc_home">View/Download Folder/Document</a></li>
</ul>
</li>
<li><a class="arrow" href="index.php?pagename=ac_payble&amp;action=view"><img style="margin-top: -2px;" src="images/newicon/automatic-payment-plan.png" alt="" width="14" /> A/c Payable</a>
<ul>
<li><a href="index.php?pagename=cus_payments&amp;action=view_payments">Pending Customers Payments</a></li>
<li><a href="index.php?pagename=ven_payments&amp;action=view_payments">Pending Vendors Payments</a></li>
<li><a href="index.php?pagename=c_form_payments&amp;action=view_payments">Pending C Form Receivable</a></li>
<li><a href="index.php?pagename=c_form_ven&amp;action=view_payments">Vendor C Form Payable</a></li>
<li><a href="index.php?pagename=view_emd_stat&amp;action=view_emd_stat">Pending EMD Status</a></li>
<li><a href="index.php?pagename=view_sd_stat&amp;action=view_sd_stat">Pending SD Status</a></li>
</ul>
</li>
<li><a class="arrow"><img style="margin-top: -2px;" src="images/newicon/icon-crm.png" alt="" width="14" /> HR Management</a>
<ul>
<li><a class="arrow" href="index.php?pagename=manage_designation">Designation Manager</a></li>
<li><a class="arrow" href="index.php?pagename=admin_manager">Employee Manager</a></li>
<li><a href="index.php?pagename=view_attendance">Attendance Manager</a></li>
<li><a href="index.php?pagename=manage_team">Team Manager</a></li>
</ul>
</li>
<li><a class="arrow"><img style="margin-top: -2px;" src="images/newicon/Vista_icons_08.png" alt="" width="14" /> Admin Managment</a>
<ul>
<li><a class="arrow" href="index.php?pagename=manage_product">Product Manager</a></li>
<li><a class="arrow" href="index.php?pagename=manage_application">Product Category Manager</a></li>
<li><a class="arrow" href="index.php?pagename=customer_manager">Customer Database Manager</a></li>
<li><a href="index.php?pagename=manage_enq_source">Enquiry Source Manager</a></li>
<li><a href="index.php?pagename=offer_id_generation">Offer ID Generation</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
<div class="divTableCell">
<div class="table-responsive">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">Enquiry Manager</div>
<div class="divTableCell">
<ul>
<li><a href="#;" data-toggle="modal" data-href="" data-target="#myModal">Add New Enquiry</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">List of All Web Enquiry Details</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Date</div>
<div class="divTableCell">EID</div>
<div class="divTableCell">Name</div>
<div class="divTableCell">Email</div>
<div class="divTableCell">Segment</div>
<div class="divTableCell">Mobile</div>
<div class="divTableCell">City</div>
<div class="divTableCell">State</div>
<div class="divTableCell">Delete</div>
<div class="divTableCell">Create Lead</div>
</div>
<div class="divTableRow">
<div class="divTableCell">04/Apr/2018 15:14:49</div>
<div class="divTableCell">18PI13</div>
<div class="divTableCell">Ac anager c name</div>
<div class="divTableCell">Acc@emai.com</div>
<div class="divTableCell">Educational_Research_Institute</div>
<div class="divTableCell">456544</div>
<div class="divTableCell">Sdffd</div>
<div class="divTableCell">Sdfsf</div>
<div class="divTableCell"><a href="index.php?pagename=web_enq_manager_edited&amp;action=delete&amp;pcode=13"> <img src="images/x.gif" alt="Delete" border="0" /></a></div>
<div class="divTableCell"><!-- Trigger the modal with a button --> <a style="color: #ffffff; background-color: #990000; text-decoration: none;" href="index.php?pagename=add_lead&amp;action=add_new&amp;enq_id=18PI13" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;Click&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell">04/Apr/2018 15:10:12</div>
<div class="divTableCell">18IM12</div>
<div class="divTableCell">New rec add enw c NAme</div>
<div class="divTableCell">Ce@gmail.com</div>
<div class="divTableCell">Govt</div>
<div class="divTableCell">88888877667</div>
<div class="divTableCell">Citytest</div>
<div class="divTableCell">STATET</div>
<div class="divTableCell"><a href="index.php?pagename=web_enq_manager_edited&amp;action=delete&amp;pcode=12"> <img src="images/x.gif" alt="Delete" border="0" /></a></div>
<div class="divTableCell"><!-- Trigger the modal with a button --> <a style="color: #ffffff; background-color: #990000; text-decoration: none;" href="index.php?pagename=add_lead&amp;action=add_new&amp;enq_id=18IM12" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;Click&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell">28/Mar/2018 16:28:41</div>
<div class="divTableCell">18G8</div>
<div class="divTableCell">Robertelick</div>
<div class="divTableCell">E.goriyf@gmail.com</div>
<div class="divTableCell">Reseller</div>
<div class="divTableCell">86536931275</div>
<div class="divTableCell">Delhi</div>
<div class="divTableCell">Delhi</div>
<div class="divTableCell"><a href="index.php?pagename=web_enq_manager_edited&amp;action=delete&amp;pcode=8"> <img src="images/x.gif" alt="Delete" border="0" /></a></div>
<div class="divTableCell"><!-- Trigger the modal with a button --> <a style="color: #ffffff; background-color: #990000; text-decoration: none;" href="index.php?pagename=add_lead&amp;action=add_new&amp;enq_id=18G8" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;Click&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell">28/Mar/2018 13:33:26</div>
<div class="divTableCell">18G2</div>
<div class="divTableCell">Sarita vihar</div>
<div class="divTableCell">Sarita.vihar@gmail.om</div>
<div class="divTableCell">Discom</div>
<div class="divTableCell">8010538844</div>
<div class="divTableCell">Delhi</div>
<div class="divTableCell">New delhi</div>
<div class="divTableCell"><a href="index.php?pagename=web_enq_manager_edited&amp;action=delete&amp;pcode=2"> <img src="images/x.gif" alt="Delete" border="0" /></a></div>
<div class="divTableCell"><!-- Trigger the modal with a button --> <a style="color: #ffffff; background-color: #990000; text-decoration: none;" href="index.php?pagename=add_lead&amp;action=add_new&amp;enq_id=18G2" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;Click&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell">28/Mar/2018 13:31:10</div>
<div class="divTableCell">18G1</div>
<div class="divTableCell">Rumit Verma custom edited</div>
<div class="divTableCell">Rumit_verma222@yahoo.com</div>
<div class="divTableCell">Bro</div>
<div class="divTableCell">9811169723</div>
<div class="divTableCell">Ck</div>
<div class="divTableCell">SK</div>
<div class="divTableCell"><a href="index.php?pagename=web_enq_manager_edited&amp;action=delete&amp;pcode=1"> <img src="images/x.gif" alt="Delete" border="0" /></a></div>
<div class="divTableCell"><!-- Trigger the modal with a button --> <a style="color: #ffffff; background-color: #990000; text-decoration: none;" href="index.php?pagename=add_lead&amp;action=add_new&amp;enq_id=18G1" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;Click&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
<div class="divTableCell"><select id="pageno" name="pageno" onchange="window.open(document.nav.pageno.options[document.nav.pageno.selectedIndex].value)">
<option selected="selected" value="index.php?pagename=web_enq_manager_edited&amp;orderby=ID&amp;order=desc&amp;pageno=1&amp;records=10">1</option>
</select></div>
<div class="divTableCell">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" style="display: none;" tabindex="-1">
<div class="modal-dialog"><!-- Modal content-->
<div class="modal-content">
<div class="modal-header"><form id="" action="http://localhost/stanlay.in/crm/index.php?pagename=web_enq_manager_edited&amp;action=generate_id" method="post" name="enq_frm"><button class="close" type="button" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Add Enquiry</h4>
<input name="enq_id" type="hidden" value="0" />
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">Customer Name</div>
<div class="divTableCell"><input name="enq_cust_name" required="required" type="text" value="" /></div>
<div class="divTableCell">Customer Email</div>
<div class="divTableCell"><input name="enq_cust_email" pattern="[^ @]*@[^ @]*" required="required" type="email" value="" /></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Customer Contact No.</div>
<div class="divTableCell"><input min="0" name="enq_cust_mobile" required="required" step="1" type="number" value="" /></div>
<div class="divTableCell">Segment</div>
<div class="divTableCell"><select id="cust_segment" class="inpuTxtSelect" name="cust_segment" required="">
<option selected="selected" value="">Select Customer Segment</option>
<option value="bro">BRO</option>
<option value="Discom">Discom</option>
<option value="Educational_Research_Institute">Educational &amp; Research Institute</option>
<option value="Govt_Others">Govt. Others</option>
<option value="govt">Govt</option>
<option value="Industrial">Industrial</option>
<option value="mes">MES</option>
<option value="NDT Consultant">NDT Consultant</option>
<option value="Pvt_Infra_Building_Construction">Pvt Infra &amp; Building Construction</option>
<option value="PWD">PWD/CPWD</option>
<option value="Private_Electrical_contractor">Private Electrical contractor</option>
<option value="Railway_SET">Railway S&amp;T</option>
<option value="Railway_SET_Contractor">Railway S&amp;T Contractor</option>
<option value="Railway_Engineering">Railway Engineering/Construction</option>
<option value="Railway_Electrical">Railway Electrical</option>
<option value="Road_Contractor">Road Contractor</option>
<option value="Reseller">Reseller</option>
<option value="Telecom">Telecom</option>
<option value="oil_water_gas">Utilities/Pipelines - Oil, Water, Gas</option>
</select></div>
</div>
<div class="divTableRow">
<div class="divTableCell">City</div>
<div class="divTableCell"><input name="enq_cust_city" required="required" type="text" value="" placeholder="City" /></div>
<div class="divTableCell">Source of Enquiry</div>
<div class="divTableCell"><select id="ref_source" class="inpuTxtSelect" name="ref_source" required="">
<option value="">Select Enquiry Source</option>
<option value="website_google">Google</option>
<option value="india_mart">India MART</option>
<option value="phone_in">Phone In</option>
<option value="Tender_tiger">Tender Tiger</option>
<option value="trade_india">Trade India</option>
<option value="visit_made">Visit Made</option>
</select></div>
</div>
<input name="acc_manager" type="hidden" value="4" />
<div class="divTableRow">
<div class="divTableCell">State</div>
<div class="divTableCell"><input name="enq_cust_state" required="required" type="text" value="" /></div>
<div class="divTableCell">Message</div>
<div class="divTableCell"><textarea name="Cus_msg"></textarea></div>
</div>
<div class="divTableRow" style="border: none;">
<div class="divTableCell" style="border: none;">&nbsp;</div>
<div class="divTableCell" style="border: none;">&nbsp;</div>
<div class="divTableCell" style="border: none;">&nbsp;</div>
<div class="divTableCell" style="border: none;"><input class="inputton" name="Add enquiry" type="submit" value="Add enquiry" /></div>
</div>
</div>
</div>
</form></div>
<!-- <div class="modal-body">
      
        <p>Some text in the modal.</p>
      </div>-->
<div class="modal-footer"><button class="btn-danger" type="button" data-dismiss="modal">Close</button></div>
</div>
</div>
</div>
</div>
<div class="divTableCell">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<div class="copyrights">
<p>&copy; 2016-17 Asian Contec Ltd. All Rights Reserved.</p>
</div>
</div>
</div>
</div>
</div>