.resp-tabs-list li {
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h4.resp-accordion {
  cursor: pointer;
  padding: 2px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h4.resp-accordion {
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 8px 15px;
}

h4.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding:8px 15px !important;
  font-weight:bold;
}

h4.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/
.cat-head{ font-weight:bold;}
.viewcat{ Xdisplay:block; display:none; padding:5px 0; font-size:11px; text-transform:uppercase; margin-bottom:10px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.cat-links li a:hover{ color:#FF0000;}
.cat-links li a{ display:block; color:#000;}
.cat-links li { list-style:circle;}
.cat-links { padding-left:10px; margin-left:15px; font-size:12px;}
.menu-level02{ Xmargin-top:60px;}
.category-dropdown:hover>.menu-level02{ display:block;}
.menu-level02{ display:none; background:#000; width:100%; position:absolute; left:0px; padding:10px;}
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 45%;
  padding:0px;
}


@media only screen and (min-width: 992px) {.menu-level02{ width:125%; left:-20%;}}
@media only screen and (min-width: 1025px) {.menu-level02{ width:120%; left:-20%;}}

.accordion-toggle {cursor: pointer; background:#eaeaea; margin-bottom:3px; padding:5px 10px}
.accordion-content {display: none; margin-bottom:10px;}


.accordion {
    background-color:none;
    color: #444;
	display:block;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
	text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    Xbackground-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	Xposition:absolute;
}



.resp-vtabs .resp-tabs-list li {
  display: block;
  padding:5px !important;
  margin: 0;
  cursor: pointer;
  float: none;
  color:#fff;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 55%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }
.resp-vtabs .resp-tab-content a.viewcat{ color:#000;}
.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  /*padding: 5px !important;*/
  color:#000;
  font-weight:bold;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h3.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h3.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h4.resp-accordion { display: block;}

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h4.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
.accordion-toggle{ font-size:12px;}
.menu-level02{ position:relative;}
ul.resp-tabs-list { display: none; }

h4.resp-accordion { display: block; font-size:13px; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
