@charset "UTF-8";
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size:12px;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  /*display: block;
  padding: 0 5px;
  line-height: 50px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
    font-size:12px;
	*/
	
	
	
	
padding: 0 5px;
    line-height: 50px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    outline: 0;
    text-decoration: none;
	background: #262626;
	text-transform:uppercase;
	
}
nav ul li a:hover {
  background: #2581DC;
  color: #ffffff;
    font-size:11px;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 50px;
  width: 70px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 50px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
.navigation {
  height: 50px;
  background: #262626;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
  
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}