.ms-topmenu {margin:0px; padding:0px;}
.ms-topmenu li{ list-style:none; }
.ms-level0{ width:9.09%; padding:0px; margin:0; }
.ms-megamenu .ms-topmenu .ms-label{ padding:5px; line-height:16px; font-weight:bold; text-align:center; font-size:11px;}

/*For Below 800 screens*/
@media (max-width: 800px) {
	#topband > .container{ padding:0px;}
.main-menu .ms-megamenu .ms-topmenu .ms-label{ min-height:none; line-height:18px; font-size:12px; text-align:left; }	
.ms-megamenu .ms-topmenu .ms-level0{ padding:0px 0px 0px 0px!important; width:95%;}
.anchor_mbmenu_text{ display:block; padding:0 10px;}	
.ms-megamenu .mb-label{ padding-left:10px!important;}
.ms-megamenu .mb-submain{ padding:0px!important;}
.mb-maincontent{ padding:0px!important;}
.col-level, .col-category{ Xpadding:0px;}
.col-level p > a{ width:95%; font-size:12px;}
}

/*-For Above 800 Screens--*/
@media (min-width: 801px) and (max-width: 3000px) {	
	.ms-megamenu .ms-topmenu .ms-label{min-height:85px; }
	.main-menu .ms-megamenu .ms-topmenu{ background:#464646;}
}