body {
	padding: 1px;
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}
#pageheader {
	background: #FFFFFF;
}
#pageheader h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 22px;
	color: #FFF;
	font-weight: bold;
	margin: 20px;
}
#topmenu {
	background-color: #FFFFFF;
	/*background-color: #CCCCCC;*/
	margin-top: 1px;
	height: 25px;
}
#topmenu a {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: block;
	float: left;
	margin-left: 20px;
	line-height: 25px;
	padding: 0px 8px 0px 8px;
}
#topmenu a:hover {
	color: #FFF;
	background-color: #CCCCCC;
	text-decoration: none;
}
#pagefooter {
	background-color: #58595B;/*background-color: #DDDDDD;*/
}
#pagefooter h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #FFF;
	font-weight: normal;
	margin: 5px 20px 5px 20px;
}
.categoryhead {
	background-color: #58595B;
	color: #FFFFFF;
}
.categorylist {
	background-color: #FFEAEA;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 20px;
}
.categorylist .level1 {
	padding-left: 10px;
}
.categorylist a {
	color: #4E4E4E;
	text-decoration: none;
 margin::0px 2px 0px 2px;
}
.categorylist .level2 {
	padding-left: 20px;
}
.categorylist .level3 {
	padding-left: 30px;
}
.categorylist a:hover {
	color: #58595B;
	text-decoration: underline;
}
select {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
    color: #333;
	/*max-width:195px;*/
}

.form-control select {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
    color: #333;
	max-width:100%!important;
}
.pagehead {
	background: #58595B;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #A1ABC7;
	margin-bottom: 10px;
	height: 25px;
	padding-left: 10px;
	background-image: url(../images/report_back.png);
	background-repeat: repeat-x;
}




.pageheadTop {
	color: #58595B;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px 10px 15px;
}
.pagecontent a {
	color: #333;
	text-decoration: none;
}
#pagebody ul li {
	float: left;
	list-style-type: none;
}
#pagebody ul {
	margin: 0px;
	padding: 20px;
}
#pagebody .pagecontent {
	padding-left: 0px;
}
.pagecontent a:hover {
	color: #333;
	text-decoration: underline;
}
.head {
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	background-color: #F2F2F2;
	/*background:#ffffff;*/
	height: 28px;
}
.head_offer {
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #DC241A;
	background-color: #f6f6f6;
	/*	background-color:#FFD7B9;*/
	/*background:#ffffff;*/
	height: 28px;
}
.head_crm {
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	background-color: #F2F2F2;/*background:#ffffff;*/

}
.text {
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	color: #535353;
	background: #FFF;
	height: 30px;
	border-top-style: none;
	border-right-style: none;
	border-bottom: solid 1px #ffffff;
	border-left-style: none;
}
.text a {
	color: #58595B;
	text-decoration: none;
}
.text a:hover {
	color: #58595B;
	text-decoration: underline;
}
form .inpuTxt {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #666;
	border: 1px solid #CCC;
	width: 250px;
	padding: 2px;
}
form .inpuTxt1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #666;
	border: 1px solid #CCC;
	width: 256px;
	padding: 2px;
}
form .inpuTxtText {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #666;
	border: 1px solid #CCC;
	width: 300px;
	padding: 2px;
}
form .inpuTxtSelect {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #666;
	border: 1px solid #CCC;
}
form input {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: #666;
}
form label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #666;
}
a.nlinks {
	background-image: url(../images/but-bg.jpg);
	background-repeat: repeat-x;
	background-color: #d8dfeb;
	background-position: top;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	border: 1px solid #CCC;
	height: 22px;
}
.btn {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
/*	font-size: 12px;*/
/*	border: double 2px #FFFFFF;*/
	/*color: #FFFFFF;*/
/*	background-color: #CCCCCC;*/
	cursor: pointer
}
.inputton_green {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: double 5px #efefef;
	padding: 3px 20px 3px 20px;
	color: #FFFFFF;
	background-color: #338533;
	cursor: pointer;
}
.inputton_green:hover {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: double 5px #efefef;
	padding: 3px 20px 3px 20px;
	color: #000;
	background-color: #ca4c00;
	cursor: pointer
}
.inputton {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: double 5px #efefef;
	padding: 3px 20px 3px 20px;
	color: #FFFFFF;
	background-color: #c60006;
	cursor: pointer;
}

.inputton_small {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	font-weight: bold;
	border: double 4px #efefef;
	padding: 3px 10px 3px 10px;
	color: #FFFFFF;
	background-color: #c60006;
	cursor: pointer;
}

.inputton:hover {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: double 5px #efefef;
	padding: 3px 20px 3px 20px;
	color: #fff;
	background-color: #ff0000;
	cursor: pointer
}
/*form .inputton {
	background-image: url(../images/but-bg.jpg);
	background-repeat: repeat-x;
	background-color: #d8dfeb;
	background-position: top;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	border: 1px solid #ccc;
	/*height: 20px;*/
	/*padding:1px;
	cursor:pointer;
}*/

.login_head {
	background: #58595B;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.redstar {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #F00;
}
.pHeadLine {
	background: #CCCCCC;
	padding: 2px!important;
}
.tblBorder {
	border: 1px solid #CCCCCC;
}
.topRight {
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333;
	text-align: right;
	padding-right: 20px;
}
.topRight a {
	color: #666;
	text-decoration: underline;
}
.topRight a:hover {
	color: #e4e4e4;
	text-decoration: none;
}
.saperator {
	padding: 5px;
}
.headLink {
	font: Calibri;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
}
.headLink ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.headLink ul li {
	display: block;
	float: right;
	color: #ffffff;
	/*background:url(../images/linkbg.gif) repeat-x;*/
	background-color: #666600;
	margin-right: 10px;
	padding: 5px 15px 5px 15px;
	border-radius: 2px;
	border: 3px solid #fff;
}
.headLink ul li:hover {
	display: block;
	float: right;
	color: #ffffff;
	/*background:url(../images/linkbg.gif) repeat-x;*/
	background-color: #ED3237;
	margin-right: 10px;
	padding: 5px 15px 5px 15px;
	border-radius: 2px;
	border: 3px solid #fff;
}
.headLink ul li a {
	color: #ffffff;
	text-decoration: none;
}
.headLink ul li a:hover {
	color: #ffffff;
	text-decoration: none;
}
.pad {
	padding-left: 15px;
}
.error {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #F00;
	font-weight: normal;
	display: block;
	border: 1px solid #FF9191;
	background-image: url(../images/error.gif);
	background-repeat: no-repeat;
	background-color: #FFC6C6;
	vertical-align: middle;
	height: 30px;
	margin: 0px;
	padding-left: 30px;
	padding-top: 7px;
}
.success {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #060;
	font-weight: normal;
	display: block;
	border: 1px solid #B1CFB1;
	background-image: url(../images/success.gif);
	background-repeat: no-repeat;
	background-color: #D1E3D1;
	vertical-align: middle;
	height: 30px;
	margin: 0px;
	padding-left: 30px;
	padding-top: 7px;
}
.oldpr {
	text-decoration: line-through;
}
.newpr {
	color: #58595B;
	font-weight: bold;
}
#dhtmltooltip {
	position: absolute;
	width: 250px;
	border: 2px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray, direction=135);
}
.text_front {
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #535353;
	background: #ffffff;
	height: 28px;
	border-top-style: none;
	border-right-style: none;
	border-bottom: solid 1px #ffffff;
	border-left-style: none;
}
.bdr_top {
	border-top: 1px solid #e6e6e6;
}
.bdr_bottom {
	border-bottom: 1px solid #e6e6e6;
}
.bdr_right {
	border-right: 1px solid #e6e6e6;
}
.bdr_left {
	border-left: 1px solid #e6e6e6;
}
a {
	margin: 0px;
	padding: 0px;
	color: #333;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none;
	outline: none;
	border: none;
	/*margin: 0px;
	padding: 0px;*/
	color: #58595B000;
}
#next_link {
	background-color: #58595B;
	/*background-color: #CCCCCC;*/
	height: 25px;
}
#next_link a {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: block;
	padding: 0px 8px 0px 8px;
}
#next_link a:hover {
	color: #FFF;
	background-color: #58595B;
	text-decoration: none;
}
/*********************LEFT MENU CSS STARTS *******************************/


ul#navigation {
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 97px;
	left: 0px;
	list-style: none;
	z-index: 9999;/*	border:solid 1px #FF0000;*/
}
ul#navigation li {
	width: 60px; /* 100px*/
}
ul#navigation li a {
	display: block;
	margin-left: -2px;
	width: 100px;
	height: 70px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #AFAFAF;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-bottom-right-radius: 10px;
	-khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    /*opacity: 0.6;*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
}
ul#navigation .home a {
	background-image: url(../images/home.png);
}
ul#navigation .new_company a {
	background-image: url(../images/new-user2.png);
}
ul#navigation .lead_mgmt a {
	background-image: url(../images/lead.png);
}
ul#navigation .search a {
	background-image: url(../images/search.png);
}
ul#navigation .podcasts a {
	background-image: url(../images/sales-report.png);
}
ul#navigation .stock_mgmt a {
	background-image: url(../images/stock1.png);
}
ul#navigation .dely_challan a {
	background-image: url(../images/challen2.png);
}
ul#navigation .create_offer a {
	background-image: url(../images/stock2.png);
}
/*************************Some missing CSS*****************************/
.inpuTxtsmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
	width: 150px;
	padding: 2px;
}
.inpuTxtsmallfree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
	padding: 2px;
}
.inpuTxtprice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
	width: 45px;
	padding: 2px;
}
.display_none {
	display: none
}
/*********************LEFT MENU CSS ENDS *******************************/

.bgred {
	background-color: #FF8080
}
.bgblue {
	background-color: #0000CC
}
.bgorange {
	background-color: #FC6
}
.bggreen {
	background-color: #060;
}
.bggreen a {
	color: #FFF;
}
.bggreen:hover a {
	color: #FFF;
}
.bggreen:hover {
	background-color: #690;
}
.inpuTxtSelect {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	border: 1px solid #CCC;
}
.search_top_text {
	padding: 0px;
	margin: 0px;
	border: none;
	border: 1px solid #aaa;
	height: 30px;
	text-align: left;
	width: 45%;
	padding-left: 3px
}
.search_top_select {
	padding: 3px;
	margin: 0px;
	border: none;
	border: 1px solid #aaa;
	height: 32px;
	text-align: left;
	width: 190px;
	vertical-align: top
}
.search_top_go {
	padding: 3px;
	margin: 0px;
	border: none;
	border: 1px solid #cbcbcb;
	height: 32px;
	text-align: center;
	width: 42px;
	vertical-align: top;
	font-weight: bold;
	background-color: #c60006;
	color: #fff;
	cursor: pointer
}
.search_top_go:hover {
	padding: 3px;
	margin: 0px;
	border: none;
	border: 1px solid #cbcbcb;
	height: 32px;
	text-align: center;
	width: 42px;
	vertical-align: top;
	font-weight: bold;
	background-color: #F00;
	color: #fff;
	cursor: pointer
}
.search_top_go1 {
	padding: 2px;
	margin: 0px;
	border: none;
	border: 1px solid #cbcbcb;
	height: 32px;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	background-color: #c60006;
	color: #fff;
	cursor: pointer;
	width: 100px;
	margin: auto;
	z-index: 1;
	position: absolute;
	margin-left: 5.5%;
	font-weight: bold;
	font-size: 14px;
	border-radius: 8px;
	border: 2px solid #933
}
.search_top_go1:hover {
	padding: 2px;
	margin: 0px;
	border: none;
	border: 1px solid #cbcbcb;
	height: 32px;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	background-color: #FF0000;
	color: #fff;
	cursor: pointer;
	width: 100px;
	margin: auto;
	z-index: 1;
	position: absolute;
	margin-left: 5.5%;
	font-weight: bold;
	font-size: 14px;
	border-radius: 8px;
	border: 2px solid #900
}
p.crm_home_tab {
	display: block;
	background-color: #ac0005;
	color: #fff;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	margin-bottom: 15px;
	width: 55%;
	text-align: center;
	margin: auto;
	margin-bottom: 5px;
}
p.crm_home_tab:hover {
	display: block;
	background-color: #0099FF;
	color: #fff;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	margin-bottom: 5px;
	cursor: pointer
}
#show_pqv {
	height: 900px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	padding-top: 50px;
	margin-left: 0px;
	z-index: 2;
}
.tblBorder1 {
	border: 1px solid #CCCCCC;
}
table.tblBorder1 tr td {
	border-top: 1px solid #CCCCCC;
	vertical-align:middle
}
table.tblBorder1 tr.text1 td {
	background-color: #fff;
	font-size: 13px;
}
table.tblBorder1 tr.text2 td {
	background-color: #f2f6fe;
	font-size: 13px;
}
table.tblBorder1 tr.text1:hover td {
	background-color: #fddcd8
}
table.tblBorder1 tr.text2:hover td {
	background-color: #fddcd8
}
.add_vendor {
	font-size: 15px;
	background-color: #349734;
	color: #fff;
	margin: auto;
	width: 225px;
	border: 2px solid #FFF
}
.add_vendor:hover {
	font-size: 15px;
	background-color: #38c638;
	color: #fff;
	margin: auto;
	width: 225px;
	border: 2px solid #FFF;
	text-decoration: none
}
/*changed by rumit on dated 27-july-2021 start*/
#livesearch {
	z-index: 9999999999999;
	/*position: absolute;
	margin-top: 3px;
	margin-left: -5px;*/
	background-color: #fff;
	float: left;
    list-style: none;
    margin-top: -3px;
    padding: 0;
/*   width: 190px;*/
    position: absolute;
}

#livesearch li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
}


#livesearch li:hover {
    background: #ece3d2;
    cursor: pointer;
}

#livesearch a.search_indi {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #333;
	font-size: 15px;
	margin-left: 0px;
	/*padding-left: 5px;*/
	text-decoration: none;
}
/*changed by rumit on dated 27-july-2021 ends */
span.crm_home_tab {
	display: inline;
	background-color: #ac0005;
	color: #fff;
	border-bottom:1px solid #ccc;
	border-radius: 6px 6px 0 0;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	margin-bottom: 15px;
	width: 200px;
	text-align: center;
	margin: auto;
	margin-bottom: 5px;
	overflow:hidden;
	overflow:hidden

}

span.crm_home_tab:hover {
	display: inline;
	background-color: #0099FF;
	color: #fff;
	border-bottom:1px solid #ccc;
	border-radius: 6px 6px 0 0;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	margin-bottom: 5px;
	cursor: pointer
}

span.crm_home_tab1 {
	background-color: #ac0005;
	color: #fff;
	float:left;
	border-bottom:1px solid #ccc;
	border-radius: 6px 6px 0 0;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	width: 241px;
	text-align: center;
}

span.crm_home_tab1:hover {
	display: inline;
	background-color: #0099FF;
	color: #fff;
	border-bottom:1px solid #ccc;
	border-radius: 6px 6px 0 0;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	margin-bottom: 5px;
	cursor: pointer
}

ul.left_marque {
	height:auto;
	min-height:auto;
	padding:0px;
	margin:0px;
	list-style:none;
	margin-top:37px!important;
	width:250px;

	
}
ul.left_marque li a{
	font-family:Verdana, Geneva, sans-serif;
	color:#FF0000;
	font-size:12px;
	font-weight:bold;
	padding-bottom:0px;
	text-decoration:none;
	display:block;
	padding:0px;
	margin:0px;
	min-height:20px;
	height:auto;

}

.left_marque li {
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:15px;
	font-size:11px;	
	border:1px dotted #dde4e4;
	padding:5px;
	margin-left:5px;
	line-height:16px;
}


tr.orange_color td{
		background-color:rgba(255,165,0,0.2);
}
tr.blue_color td{
		background-color:rgba(0,135,255,0.2);
}

tr.red_color td{
		background-color:rgba(255,0,0,0.2);
}
tr.green_color td{
		background-color:rgba(0,153,0,0.2);
}
table.tblBorder1 tr.textp1 td {
	background-color: #ddffe2;
	font-size: 13px;
}
table.tblBorder1 tr.textp2 td {
	background-color: #fdcaca;
	font-size: 13px;
}

/*NEW CSS*/
.pseudo_border {
	/*  position:relative;
    display:inline-block;*/
	color: #409FB3;
	display: inline-block;
	height: 50px;
	/*    box-shadow: 0 25px 0 -23px #5CC7A8;*//*old property */
	box-shadow: 0 21px 0 -17px #5CC7A8;
	padding-left:15px;
}
.pseudo_border:after {
/*    content:'';
    position:absolute;
    left:0;
	right:0;
    top:100%;
    margin: 1px auto;
    width:50%;
    height:6px;
    background:#ed3237;*/
	
}

.copyrights {
    padding: 1.5em 1em;
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}




/*MENU CSSS starts*/
.dropbtn {
	background-color: #333;
	color: white;
	padding: 5px;
	font-size: 12px;
	margin-right:50px;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
	padding: 10px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:99999999999
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none!important;
	display: block;
	color:#333!important;
	text-align:left;
}
.dropdown-content a:hover {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #CCCCCC;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
.menuH {
	margin: 0;
	width: 100%;
	float:none;
	height: 36px;
	background: #333333 url(bg.gif) repeat-x 0 0;
	border: 1px solid #BBB;
	position:relative;/*! for IE htc*/
	z-index:4;/*H2*/
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
	margin-top:10px
}
.menuH li {
	padding: 0;
	/*margin: 0;
    display: block; TODO: I am testing them if they can be removed. If can, remove them.*/
    float: left;
	height: 36px;
	position: relative;/*move it into .menuH if you want submenu to be positioned relative to the whole menu instead of this li element*/
}
.menuH li:hover, .menuH li.onhover {
	background: #ccc url(bg.gif) repeat-x 0 -48px;
}
ul.menuH a {
/*	padding: 0 10px;*/
	padding: 0 7px;
	line-height: 36px; /*Note: keep this value the same as the height of .menuH and .menuH li */
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	outline: 0;
	text-decoration: none;
}
.menuH a:hover {
	color: red;
}
.menuH a.arrow {
	background: url(arrow.gif) no-repeat right center;
}
.menuH ul a.arrow {
	background: url(right.gif) no-repeat 97% center;
}
/*Used to align a top-level item to the right*/        
.menuH .menuRight {
	float: right;
	margin-right: 0px;
}
/*for the top-level separators*/
.menuH li.separator {
	font-size:0;
	overflow:hidden;
	border-left:1px solid #F7F7F7;
	border-right:1px solid #BBBBBB;
}
/*######sub level###########*/
        
ul.menuH ul {
/*	width:260px;*/
	width:244px;
	position: absolute;
	left: -9999px;
	border: 1px solid #DDD;
	border-top: 0;
	background: #FFF;
	text-align: left;
	list-style: none;
	margin: 0;
	/*Following 1px(padding-right) will determine how much it is overlapped by the sub-sub-menu */
    padding: 10px 0;
	box-sizing:content-box;
}
.menuH li li {
	float: none;
	white-space:nowrap;
	height: 26px;
	border-bottom:1px solid rgba(204,204,204,1);
	padding-bottom:30px;
	font-size: 12px!important;
}
.menuH li li:hover, .menuH li li.onhover {
	background:#f7f7f7;
}
.menuH ul a {
	padding: 0 10px;
	line-height: 30px;
	font-size: 1.2em!important;
	;
	font-weight: normal;
	color: #0066CC;
	text-align: left;
}
.menuH ul a:hover {
	color: red;
}
.menuH li:hover ul, .menuH li.onhover ul {
	left: -1px;/*Use this property to change offset of the dropdown*/
	top: auto;
}
.menuH li:hover .dropToLeft, .menuH li.onhover .dropToLeft {
	left: auto;
	right: -1px;
	top: auto;
}
.menuH ul ul {
	border-top: 1px solid #DDD;
}
.menuH li:hover ul ul, .menuH li:hover ul ul ul, .menuH li:hover ul ul ul ul, .menuH li.onhover ul ul, .menuH li.onhover ul ul ul, .menuH li.onhover ul ul ul ul {
	left: -9999px;
	top:0;
}
.menuH li li:hover ul, .menuH li li li:hover ul, .menuH li li li li:hover ul, .menuH li li.onhover ul, .menuH li li li.onhover ul, .menuH li li li li.onhover ul {
	left: 260px;
}
/*####### special effects ##########*/
        
.decor1 {
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px; /* Opera 10.5+, future browsers, and now also our behavior htc file */
	-moz-box-shadow: 0px 1px 4px #eee; /* Firefox */
	-webkit-box-shadow: 0px 1px 4px #eee; /* Safari and Chrome */
	box-shadow: 0px 1px 4px #eee; /* Opera 10.5+, future browsers and IE6+ using our behavior htc file */
}
.menuH ul {
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	-moz-box-shadow: 0px 6px 6px #CCC;
	-webkit-box-shadow: 0px 6px 6px #CCC;
	box-shadow: 0px 6px 6px #CCC;
	/* Gradient background */
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE));
}
/*menu css ends*/



/*.inputton_small {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-size: 10px; 
    font-weight:300;
    border: double 3px #efefef;
    padding: 0px;
    color: #FFFFFF;
    background-color: #c60006;
    cursor: pointer;
}*/

/*dead enq yellow color*/
/*.dead_duck{background-color:#ffffc1}
.bg_purple{background-color:purple}
.bg_darkorange{background-color:darkorange}
.bg_red{background-color:#c60006}*/


.pageheadlevel1 {
	background-color:darkorange!important;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #A1ABC7;
	margin-bottom: 10px;
	height: 25px;
	padding-left: 10px;

}

.pageheadlevel2 {
	background-color:#800080!important;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #A1ABC7;
	margin-bottom: 10px;
	height: 25px;
	padding-left: 10px;

}

.pageheadlevel3{
		background-color:#c7383c!important;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #A1ABC7;
	margin-bottom: 10px;
	height: 25px;
	padding-left: 10px;
}
