<table width="50%" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <td align="center" colspan="5"><h1>Control Panel</h1></td>
  </tr>
  <tr>
    <td width="10%" align="right" valign="top"> <img width="50" alt=" " src="http://www.stanlay.in/uploads/images/home.png" /></td>
    <td width="39%" align="left" valign="top"><strong> <a href="">My favorite Reports</a></strong></td>
    <td width="2%" valign="top">&nbsp;</td>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/icon_inventory.gif" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Activity Reports</a></strong></td>
  </tr>
  <tr>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/leadgen-icon.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Compaigns</a></strong></td>
    <td width="2%" valign="top">&nbsp;</td>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/lead-generation-nurturing-testimonial-icon-11.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Communications</a></strong></td>
  </tr>
  <tr>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/icon_inventory.gif" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Customer Service</a></strong></td>
    <td width="2%" valign="top">&nbsp;</td>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/icon_lead-generation.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">General</a></strong></td>
  </tr>
  <tr>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/lead-generation-nurturing-testimonial-icon-11.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Lead Reports</a></strong></td>
    <td width="2%" valign="top">&nbsp;</td>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/leadgen-icon.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Marketing</a></strong></td>
  </tr>
  <tr>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/icon_lead-generation.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Sales</a></strong></td>
    <td width="2%" valign="top">&nbsp;</td>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/icon_inventory.gif" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Outbound Calls</a></strong></td>
  </tr>
  <tr>
    <td width="10%" height="54" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/leadgen-icon.png" /></td>
    <td width="39%" align="left" valign="top"><a href=""><strong>TSPL Sales Report</strong></a></td>
    <td width="2%" valign="top">&nbsp;</td>
    <td width="10%" align="right" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/lead-generation-nurturing-testimonial-icon-11.png" /></td>
    <td width="39%" align="left" valign="top"><strong><a href="">Expense Report</a></strong></td>
  </tr>
  <tr>
    <td width="10%" align="right" valign="top"><img width="57" alt=" " src="http://www.stanlay.in/uploads/images/icon_inventory.gif" /></td>
    <td width="39%" align="left" valign="top"><a href=""><strong>Collection Plan</strong></a></td></td>
        <td width="2%" valign="top"><img width="50" alt=" " src="http://www.stanlay.in/uploads/images/lead-generation-nurturing-testimonial-icon-11.png" /></td>
    <td width="10%" align="right" valign="top"><strong><a href="">Expense Report</a></strong></td>
    <td width="39%" align="left" valign="top">&nbsp;</td>
  </tr>
  </tr>
</table>
