<table width='100%' border='1' cellpadding='6'  cellspacing='0' align='right'>
  <tr>
          <td>Discount %</td>
          <td colspan='2'><input type='text' name='discount_perc' id='discount_perc' value='' /></td>
        </tr>
        <tr>
          <td>Show Discount</td>
          <td colspan='2'><select name='show_discount' id='show_discount'>
          <option value='Yes'>Yes</option>
          <option value='No'>No</option>
          </select></td>
        </tr>
        <tr>
          <td>Subject in Offer</td>
          <td colspan='2'><input type='text' name='offer_subject' id='offer_subject' value='' /></td>
        </tr>
        <tr>
          <td>Taxes %</td>
          <td colspan='2'><input type='text' name='taxes_perc' id='taxes_perc' value='' /></td>
        </tr>
        <tr>
          <td>Taxes </td>
          <td><input type='checkbox' name='tax_included' id='tax_included' />
          Included</td>
          <td><input type='checkbox' name='tax_excluded' id='tax_excluded' />Excluded</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan='2'>&nbsp;</td>
        </tr>
  <tr>
    <td>Taxes</td>
    <td colspan='2'><input type='text' name='taxes_inc' id='taxes_inc' /></td>
  </tr>
  <tr>
    <td>Delivery</td>
    <td colspan='2'><select name='delivery_day' id='delivery_day'>
        <option value='7'>Within 7 Days</option>
        <option value='15'>Within 15 Days</option>
        <option value='30'>Within 30 Days</option>
        <option value='60'>Within 60 Days</option>
      </select></td>
  </tr>
  <tr>
    <td>Order in favor of</td>
   <td colspan='2'><input type='text' name='order_in_favor_of' id='order_in_favor_of' /></td>
  </tr>
  <tr>
    <td>Payment Terms</td>
   <td colspan='2'><select name='payment_terms' id='payment_terms'>
        <option value='1'>100% Advance</option>
        <option value='7'>Within 7 Days</option>
        <option value='30'>Within 30 Days</option>
        <option value='60'>Within 60 Days</option>
      </select></td>
  </tr>
  
   <tr>
    <td>Offer Validity</td>
   <td colspan='2'><select name='offer_validity' id='offer_validity'>
        <option value='7'>7 Days</option>
        <option value='15'>Within 15 Days</option>
        <option value='30'>Within 30 Days</option>
        <option value='60'>Within 60 Days</option>
        <option value='90'>Within 90 Days</option>
        <option value='120'>Within 120 Days</option>
        <option value='150'>Within 150 Days</option>
        <option value='180'>Within 180 Days</option>
      </select></td>
  </tr>
  
  
  
   <tr>
    <td>Offer Warranty</td>
   <td colspan='2'><select name='offer_warranty' id='offer_warranty'>
        <option value='0'>Nil</option>
        <option value='1'>1 Year</option>
        <option value='2'>2 Year</option>
        <option value='3'>3 Year</option>
        <option value='4'>4 Year</option>
        <option value='5'>5 Year</option>
      </select></td>
  </tr>
  
    <tr>
    <td colspan='4' ><input type='checkbox' />
      &nbsp; Terms & Conditions</td>
  </tr>
  <tr>
    <td colspan='4'>&nbsp;</td>
  </tr>
</table>