
<p>We are an ISO 9001:2000 certified quality organization with sales and servicing form 5 locations- New Delhi, Bangalore, Hyderabad, Ahmedabad & Mumbai to ensure that our customers receive our best attention on supply, training and service.</p>
<p><strong> <u>Terms And Conditions:</u></strong></p>
<p><strong>Taxes:</strong> CST extra @ 5.00%</p>
<p><strong>Order in favour of:</strong> Asian Contec Limited, B-28, Okhla Industrial Area, Phase-1, New Delhi-110020</p>
<p><strong>Delivery:</strong> Off shelf on receipt of order.</p>
<p><strong>Payment: </strong>Advance against PI in form of demand draft or AT Per payable at New Delhi.</p>
<p><strong>Delivery by: </strong> Bluedart/XPS/GATI/DTDC</p>
<p><strong>Validity: </strong>Offer is valid for 30 Days from offer date.</p>
<p> <strong>Warranty:</strong> 1- Year</p><br>

<p>We look forward to receiving your valued order for which we thank you in advance </p>
<p>Thanking you, </p>
<p>Your sincerely,</p>
<p>For <strong>ASIAN CONTEC LIMITED</strong></p>
<p>&nbsp;</p>
<p><strong>Subhrangshu Mukherjee</strong></p>
<p><strong>Asst. Business Development Manager</strong></p>
<p>Mobile: 9582599084</p>
<p>Tel No: +91-11-41860000 (100 Lines}</p>
<p>Fax No: +91-11-41860666 </p>
<p> E-Mail: sales@stanlay.com, sm@stanlay.com</p>
Web: www.stanlay.in