.navbar-nav:not(.sm-collapsible) ul .caret{position:absolute;right:0;margin-top:6px;margin-right:15px;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px dashed;}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu{padding-right:30px;}
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret{position:absolute;right:0;margin:-3px 15px 0 0;padding:0;width:32px;height:26px;line-height:24px;text-align:center;border-width:1px;border-style:solid;}
.navbar-nav.sm-collapsible .caret:before{content:'+';font-family:monospace;font-weight:bold;}
.navbar-nav.sm-collapsible .open > a > .caret:before{content:'-';}
.navbar-nav.sm-collapsible a.has-submenu{padding-right:50px;}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret{position:static;margin:0 0 0 2px;padding:0;width:0;height:0;border-top:4px dashed;border-right:4px solid transparent;border-bottom:0;border-left:4px solid transparent;}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before{content:'' !important;}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu{padding-right:15px;}
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down{position:absolute;display:none;visibility:hidden;height:20px;overflow:hidden;text-align:center;}
.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow{position:absolute;top:-2px;left:50%;margin-left:-8px;width:0;height:0;overflow:hidden;border-top:7px dashed transparent;border-right:7px dashed transparent;border-bottom:7px solid;border-left:7px dashed transparent;}
.navbar-nav span.scroll-down-arrow{top:6px;border-top:7px solid;border-right:7px dashed transparent;border-bottom:7px dashed transparent;border-left:7px dashed transparent;}
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header{padding-left:35px;}
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header{padding-left:45px;}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header{padding-left:55px;}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header{padding-left:65px;}
.navbar-nav .dropdown-menu > li > a{white-space:normal;}
.navbar-nav ul.sm-nowrap > li > a{white-space:nowrap;}
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a{white-space:normal;}
.navbar-right ul.dropdown-menu{left:0;right:auto;}
#topband{position:fixed;width:100%;z-index:999;top:0px;min-height:64px;}
#topband, .stanlay-logo{background:#535353;}
.stanlay-logo{float:left;z-index:901;position:relative}
.navigation{float:right;}
.nav-button, .nav-close{Xposition:relative;}
.nav li.nav-active>a,.nav li:hover>a{color:#CCC;}
.cta{background:#3c3c3c;Xbackground:#ed3237;color:#FFFFFF;margin:0px;padding:3px 10px;font-size:11px;font-weight:bold;text-align:right;Xtext-transform:uppercase;border-bottom-right-radius:5px;border-bottom-left-radius:5px;width:100%;}
.cta a{color:#fff;}
.cta span:nth-child(odd){background:url(../images/icon-phone.png) no-repeat left;padding-left:20px;}
.cta span:nth-child(even){background:url(../images/icon-mail.png) no-repeat left;padding-left:20px;}
.navbar-default{background:none;border:0px;}
.navbar-nav{Xmargin-top:12px;}
.navbar-nav > li{margin:0px;padding:0px;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#ccc; background-color:none!important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color:#fff;Xbackground:#000; background:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{Xbackground:#000; background:none;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#000;}
@media (min-width:200px) and (max-width:339px){.cta > span:nth-child(odd){margin-left:30px;}
.carousel-caption{display:none;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img{height:auto!important;}
}
@media only screen and (max-width:800px){#topband{position:relative;}
.cta{text-align:center;padding:0px;font-size:12px;}
.stanlay-logo, .navigation{float:none;position:relative;}
.nav-button{position:absolute;Xtop:-55px;}
.nav{float:none;Xmargin-top:5.6em;}
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret{top:10px;}
.nav>ul>li{padding-top:3px;padding-bottom:3px;border-bottom:1px solid #999;}
.nav{position:relative;width:100%;}
.input-group{margin-bottom:15px;}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{margin-top:0px;}
.btn-primary{padding-top:7px;padding-bottom:7px;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color:#fff;Xbackground:#000!important; background:none;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-right ul.dropdown-menu{background:#ccc;color:#000;}
.navbar-nav .open .dropdown-menu{padding:0px;}
.navbar-toggle{margin-top:17px;}
.navbar-collapse{padding-right:0px;}
ul.navbar-right{margin-top:0px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#fff;}
.slider, .page-banner{margin-top:0px;}
}