
.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../img/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio { 
	background: url(../img/radio.gif) no-repeat;
}
.select {
	position: absolute;
	width: 169px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 20px; 
	padding: 0 24px 0 8px;
	color: #000;
	font: 12px/21px arial,sans-serif;
	background: url(../img/select.gif) no-repeat;
	overflow: hidden;
}
