<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="text">
    <td><table width="100%" border="0" cellspacing="2" cellpadding="7"  class="tblBorder">
        <tr>
          <td width="56%" valign="top" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif" ><img alt="ACS" src="http://www.stanlay.in/images/stanlay-logo-black.png"/><br />
            Asian contec Limited<br>
            Asian Centre,<br>
            B-28, Okhla Industrial Area, Phase - 1,<br>
            New Delhi - 110020.<br>
            Tel : +91-11-41860000 (100 lines)<br>
            Fax : +91-11-41860066<br>
            Sales helpline : +91-11-41406926<br>
            Email : sales@stanlay.com<br>
            Web : www.stanlay.in | www.stanlay.com</td>
          <td width="44%" align="right" valign="top" style="padding-top:10px;"><img alt="" src="http://www.stanlay.in/images/acslogo.jpg" height="100"  /></td>
        </tr>
        <tr> </tr>
      </table></td>
  </tr>
  
    <td colspan="2" valign="top"  height="10" >&nbsp;</td>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="5"   >
        <tr>
          <td valign="top" class="tblBorder_invoice_bottom tblBorder_invoice_top tblBorder_invoice_left pad " width="50%"><p>To,<br />
              Mr. Ra&nbsp;ja<br />
              M/s. india mart<br />
              <br />
              a-51, ist and 2nd floor, noida , sec65,<br />
              34, NOIDA, 201301</td>
          <td valign="top" class="tblBorder_invoice_right tblBorder_invoice_bottom tblBorder_invoice_top tblBorder_invoice_left pad" align="left"><table width="50%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td nowrap="nowrap"><strong>Offer Reference</strong></td>
                <td align="left" nowrap="nowrap"><strong>:</strong></td>
                <td align="left" nowrap="nowrap"> ST-im/050913/58 </td>
              </tr>
              <tr>
                <td><strong>Date</strong></td>
                <td align="left"><strong>:</strong></td>
                <td align="left">05-Sep-2013</td>
              </tr>
              <tr>
                <td><strong>Mob</strong></td>
                <td align="left"><strong>:</strong></td>
                <td align="left">0</td>
              </tr>
              <tr>
                <td><strong>Fax</strong></td>
                <td align="left"><strong>:</strong></td>
                <td align="left">0120-1451247</td>
              </tr>
              <tr>
                <td><strong>E-Mail</strong></td>
                <td align="left"><strong>:</strong></td>
                <td align="left">rj@imart.com</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="2"  height="65" class="tblBorder_invoice_right tblBorder_invoice_bottom  tblBorder_invoice_left pad"><strong>Subject:</strong> &nbsp; <strong>Price Offer for Products.</strong></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class='tblBorder_invoice_right tblBorder_invoice_bottom  tblBorder_invoice_left pad saperator'><strong>Dear Sir,</strong><br />
      This Refers to the discussions in regard to the above subject. We are pleased to provide our price offer as below for your consideration.<br />
      <br /></td>
  </tr>
  <tr>
    <td  valign="top"><table width='100%' border='0' cellpadding='5' cellspacing='0' class='tblBorder_invoice_right   tblBorder_invoice_left'>
        <tr class='head'>
          <td class='pad tblBorder_invoice_bottom tblBorder_invoice_right' width='2%' nowrap='nowrap'   >S.No</td>
          <td width='15%' class='pad tblBorder_invoice_bottom tblBorder_invoice_right' >Product Name</td>
          <td width='15%' class='pad tblBorder_invoice_bottom tblBorder_invoice_right' >Part No.</td>
          <td width='37%' class='pad tblBorder_invoice_bottom tblBorder_invoice_right' >Description</td>
          <td width='6%' class='tblBorder_invoice_bottom tblBorder_invoice_right'>Qty<strong></strong></td>
          <td width='10%' class='tblBorder_invoice_bottom tblBorder_invoice_right'><strong>Unit Price</strong></td>
          <td nowrap='nowrap' width='30%' class='tblBorder_invoice_bottom '><strong>Total</strong></td>
        </tr>
        <tr class='text'>
          <td class='pad tblBorder_invoice_bottom tblBorder_invoice_right' >1</td>
          <td class='pad tblBorder_invoice_bottom tblBorder_invoice_right' valign='top'><strong>Auto Level 32x</strong><br />
            &nbsp;<span class='prdname red required '><strong></strong></span></td>
          <td valign='top' class='tblBorder_invoice_bottom tblBorder_invoice_right'> sdfdf34 </td>
          <td valign='top' class='tblBorder_invoice_bottom tblBorder_invoice_right'>Sdffsfsfsfsfs
            description</td>
          <td valign='top' class='tblBorder_invoice_bottom tblBorder_invoice_right'> 1 </td>
          <td valign='top' class='tblBorder_invoice_bottom tblBorder_invoice_right'><img src='images/Rupee.png' height='10' align='text-top' /> 22,334.00</td>
          <td valign='top' class='tblBorder_invoice_bottom '><img src='images/Rupee.png' height='10' align='text-top' /> 22,334.00</td>
        </tr>
      </table></td>
  </tr>
    <tr>
  
  <td align="right" class='tblBorder_invoice_right tblBorder_invoice_bottom  tblBorder_invoice_left'><table width='50%' border='0' cellpadding='5' cellspacing='0' >
      <tr class='text'>
        <td width='70%' class='pad tblBorder_invoice_bottom tblBorder_invoice_right tblBorder_invoice_left ' nowrap align='right'><strong>Sub Total :</strong></td>
        <td width='30%'  align='right' class='tblBorder_invoice_bottom '>&nbsp; &nbsp; <img src='images/Rupee.png' height='10' align='text-top' /> 22,334.00</td>
      </tr>
      <tr class='text'>
        <td  class='pad tblBorder_invoice_bottom tblBorder_invoice_right tblBorder_invoice_left' nowrap align='right'><strong>Discount @ 0% :</strong></td>
        <td   align='right'  class='tblBorder_invoice_bottom'  >&nbsp; &nbsp; <img src='images/Rupee.png' height='10' align='text-top' /> 0.00</td>
      </tr>
        </tr>
      <tr class='text'>
        <td class='pad tblBorder_invoice_bottom tblBorder_invoice_right tblBorder_invoice_left' nowrap align='right'><strong>Add CST@ 10% :</strong></td>
        <td align='right'  class='tblBorder_invoice_bottom'  >&nbsp; &nbsp; <img src='images/Rupee.png' height='10' align='text-top' /> 2,233.40</td>
      </tr>
      <tr class='text'>
        <td class='pad tblBorder_invoice_right tblBorder_invoice_left' nowrap align='right'><h4>Grand Total :</h4></td>
        <td align='right'  ><h4> &nbsp; &nbsp; <img src='images/Rupee.png' height='10' align='text-top' /> 24,567.40</h4></td>
      </tr>
    </table></td>
    </tr>
  
  <tr>
    <td align="right" height="20" >&nbsp;</td>
  </tr>
  <tr>
    <td class="pad"><p >We are an <strong>ISO 9001:2000</strong> certified quality organization with sales and servicing from 5 locations- <strong>New Delhi, Bangalore, Hyderabad, Ahmedabad & Mumbai to ensure that our customers receive our best attention on supply, training and service.</strong></p>
      <p><strong> <u>Terms And Conditions:</u></strong></p>
      <p><strong>Taxes:</strong> CST extra @ 10%</p>
      <p><strong>Order in favour of:</strong> Asian Contec Limited, B-28, Okhla Industrial Area, Phase - I, New Delhi -
        110020<!--Asian Contec Limited, B-28, Okhla Industrial Area, Phase-1, New Delhi-110020--></p>
      <p><strong>Delivery:</strong> With in 7 days upon receipt of order/payment.</p>
      <p><strong>Payment: </strong>Against Delivery<!--Advance Advance against PI --> in form of demand draft or At Par cheque payable at New
        Delhi.</p>
      <p><strong>Delivery by: </strong> Bluedart/XPS/GATI/DTDC</p>
      <p><strong>Validity: </strong>Offer is valid for 7 Days from offer date.</p>
      <p> <strong>Warranty:</strong> 1 - Year</p>
      <br>
      <p>We look forward to receiving your valued order for which we thank you in advance </p>
      <p><strong>Thanking you,</strong><br />
        Your sincerely,<br />
        For <strong>ASIAN CONTEC LIMITED</strong></p>
      <p>&nbsp;</p>
      <p><strong>Amit&nbsp;</strong><br />
        <strong></strong><br />
        Mobile: <br />
        Tel No: +91-11-41860000 (100 Lines)<br />
        Fax No: +91-11-41860666 <br />
        E-Mail: sales@stanlay.com, warehouse@kingschest.com<br />
        Web: www.stanlay.in</p></td>
  </tr>
</table>