
.wrapperss {
	width: 335px;
	margin:auto;
	text-align: left;
	padding:0px;
}
.navigationTabs {
	height: 0px;
	font-size:1px;
}
.navigationTabs li {
	float: left;
	height: 0px;
	line-height: 0px;
	padding-right: 0px;
	padding:0px;
	margin:0px;
	font-size:1px;
	list-style:none
}
.navigationTabs li a{
	float: left;
	dispaly: block;
	height: 0px;
	line-height: 0px;
	padding:0px;
	overflow: hidden;
	font-size:1px;
	color: #52697E;
	background-color: #eee;
	position: relative;
	text-decoration: none;
	padding:0px;
	margin:0px
}
.navigationTabs li a:hover {
	background-color: #f0f0f0;
	padding:0px;
	margin:0px;
	font-size:1px;
}
.navigationTabs li a.active {
	background-color: #fff;
	border-bottom: 0px solid;
	padding:0px;
	margin:0px;
	font-size:1px;
}
.tabsContent {
	width: 336px;
	overflow: hidden;
}
.tab {
	padding: 0px;
	margin:0px;
	display: none;
	padding-top:5px
}
.tab h2 {
	font-weight: bold;
	font-size: 12px;
	padding:0px;
	margin:0px;
	padding-bottom:3px;
	padding-top:2px;
	display:block;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#333;
}

.tab h2 a {
	 text-decoration:none;
	 color:#FF0
 }

.spacegallery {
	position: relative;
	overflow: hidden;
	margin-top:3px
}
.spacegallery img {
	position: absolute;
	left: 50%;
}
.spacegallery a {
	position: absolute;
	z-index: 6;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(images/blank.gif);
}



#myGallery {
	width: 100%;
	height: 181px;
}
#myGallery img {
	border: 0px solid #52697E;
	height: 145px;
	width:210px
}
a.loading {
	background: #fff url(../images/ajax_small.gif) no-repeat center;
}