.pagehead {

	color: #333333;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	background-color: #FFFFFF;

}

.head {

	color: #333333;

	font-size: 12px;

	font-weight: bold;

	background-color: #FFFFFF;

}

.tblBorder {

	border: 0px solid #fff;

}

.tblBorder_invoice {

	border: 1px solid #000;

}

.tblBorder_invoice_bottom {

	border-bottom: 2px solid #000;

}

.tblBorder_invoice_right {

	border-right: 2px solid #000;

}

.tblBorder_invoice_left {

	border-left: 2px solid #000;

}

.tblBorder_invoice_top {

	border-top: 2px solid #000;

}

.classname {

	border: none;

	width: auto;

	padding-top: 1px;

	height: 290px;

	font-family: '3 of 9 Barcode';

	font-size: 35px;

}

.classname1 {

	border: none;

	width: auto

}

.classname_blue {

	border: none;

	width: auto;

	padding-top: 1px;

	height: 290px;

	font-family: "basawa 3 of 9 MHR";

	font-size: 50px;

}

.classname_blue1 {

	border: none;

	width: auto

}

table.bor_opt tr td {

	color:#000;

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	border:none;

	border:1px solid #ccc;

	padding:3px;

	line-height:15px;

	margin:0px;

}

table.signhed tr td {

	border:1px solid 5px;

	padding:30px 2px 5px 2px;

	vertical-align:bottom;

	text-align:center;

	font-weight:bold;

	font-size:15px;

	line-height:16px;

	vertical-align:top

}

table.tax_all tr td {

	border:1px solid 5px;

	padding:5px;

	vertical-align:bottom;

	line-height:25px;

	line-height:20px;

	vertical-align:top

}

table tr td input, textarea {

	vertical-align:top;

	margin-left:10px;

	border:none;

	border:1px solid #999;

	padding:3px;

	margin-bottom:15px;

}

table tr td input:focus {

	background:#990;

}

table tr td textarea:focus {

	background:#990;

}

table tr td strong.left_strong {

	width:170px;

	display:block;

	float:left;

}

table tr td strong.left_normal {

	display:block;

	float:left;

	font-weight:normal;

	margin-right:30px

}

table tr td {

	font-size:11px!important

}

.inputton {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

	font-size: 13px;

	font-weight: bold;

	border: double 5px #efefef;

	padding: 3px 20px 3px 20px;

	color: #FFFFFF;

	background-color: #c60006;

	cursor: pointer;

}

.success {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

	font-size: 12px;

	color: #060;

	font-weight: normal;

	display: block;

	border: 1px solid #B1CFB1;

	background-image: url(images/success.gif);

	background-repeat: no-repeat;

	background-color: #D1E3D1;

	vertical-align: middle;

	height: 30px;

	margin: 0px;

	padding-left: 30px;

	padding-top: 7px;

}