ul#css3menu1, ul#css3menu1 ul {
	margin: 0;
	list-style: none;
	padding: 0;
	background-color: none;
	border-width: 0;
	border-style: solid;
	border-color:;
}
ul#css3menu1 ul {
	visibility: hidden;
	position: absolute;
	left: 100%;
	top: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 0;
	-moz-transition: all 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s;
	background-color: #4f4f4f;
	border-width: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-style: solid;
	border-color: #535353;
	padding: 0;
	filter: alpha(opacity=100);
	border:1px solid #FFF
}
ul#css3menu1 li:hover>ul {
	visibility: visible;
	opacity: 1;
}
ul#css3menu1 li {
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 0;
}
ul#css3menu1 li:hover {
	z-index: 1;
}
ul#css3menu1 ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
ul#css3menu1>li:hover>ul {
	opacity: 1;
}
ul#css3menu1 {
	font-size: 0;
	z-index: 999;
	position: relative;
	display: block;
	float: left;
	padding: 0 0px 0px;
	background-color: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
ul#css3menu1>li {
	margin: 0px 0 0;
}
ul#css3menu1 a:active, ul#css3menu1 a:focus {
	outline-style: none;
}
ul#css3menu1 a {
	display: block;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	font: 11px Noto Sans, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: pointer;
	padding: 3px;
	background-color:;
	background-repeat: repeat;
	border-width: 0px;
	border-style: none;
	border-color:;
}
ul#css3menu1 ul li {
	float: none;
	margin: 0;
}
ul#css3menu1 ul a {
	text-align: left;
	padding: 9.5px 14px;
	background-color: #4f4f4f;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	font: 12px Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	border-bottom:1px solid #999999;
	border-top:1px solid #484848

}

ul#css3menu1 li:hover>a, ul#css3menu1 li a.pressed {
	color: #FFFFFF;
	text-decoration: none;
}
ul#css3menu1 img {
	border: none;
	vertical-align: middle;
	margin-right: 3px;
}
ul#css3menu1 span {
	display: block;
	overflow: visible;
	background-image: url("arrowsub0.png");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 23px;
}
ul#css3menu1 li:hover>a>span {
	background-image: url("arrowsub1.png");
}
ul#css3menu1 ul span {
	background-image: url("arrowsub0.png");
	padding-right: 17px;
}
ul#css3menu1 ul li:hover > a span {
	background-image: url("arrowsub1.png");
}
ul#css3menu1 ul li:hover>a, ul#css3menu1 ul li a.pressed {
	background-color: #ad0101;
	color: #fff;
	text-decoration: none;
	border-bottom:1px solid #999999;
	border-radius:0px;

}
ul#css3menu1>li>a {
	padding: 5px 14px;
	
	background-color: #4f4f4f;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #999;
    border-radius: 0px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 9.4px 5px;
    min-width: 224px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
	
}
ul#css3menu1 li.topmenu>a {
	background-color: #4f4f4f;
	border-top: 1px solid #484848;
	border-bottom: 1px solid #999;
	border-radius: 0px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	padding: 9.4px 5px;
	min-width:224px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #fff;
}
ul#css3menu1 li.topmenu:hover>a, ul#css3menu1 li.topmenu a.pressed {
	background-color: #ad0101;
	color: #fff;
}
#sample {
    border: 0px solid black;
    height: 115px;
	padding:0px;
	margin:0px;
	float:left;
	text-align:left;
    overflow: hidden;    
}
#show_more {
	display:none;
}


/****inlie style to css**************/
.about_asian{
	font-size:12px; color:#F00; text-decoration:underline
}

.home_about_more
{float:right; cursor:pointer; color:#F00
}
.home_about_less
{float:right; cursor:pointer; color:#F00
}
.display_none
{
	display:none
}
.TagPopup_TextForm_border{
border: 1px solid #D4D4D4!important; border-radius:3px!important;
}

.margin_top10px
{
margin-top:10px;
}
.p_height70px{
	height:70px
}

.follow_top_bottom_strong_border
{
	font-size:10px; color:#aaa
}

.float_left_div
{
	float:left
}
.nav_bar_margin_left{
	float:left; margin-left:15px
}

.cat_heading_style
{
	margin:0 -15px; 0 15px; border:0px; background:none; background-color:#f8f8f6
}

.cat_menu_style{
min-height: 15px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #fdb915;
    margin:0px;
    padding-top: 7px!important;
    padding-bottom: 3px!important;	
}
.need_our_assistance{
	float:left; width:180px; margin-left:7px;
}
.icon1_style{float:left; width:16px; padding-top:3px;}

.read_more_style{
	font-weight:bold; color:#F00; padding-right:15px; text-decoration:none; font-size:11px
}
.header_link_1_style{background:none; border:3px solid #b4020a; height:103px; border-radius:5px; width:212px;} 